{% load i18n %}

{% comment %}
base.html -- base template. everything starts here.
{% endcomment %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
    <meta charset="utf-8">
    <title>{% block title-text %}{{ site_name}}{% endblock title-text %}</title>
    <meta name="description" content="">
    <meta name="author" content="DirectEmployers Association">
    <link rel="icon" type="image/png" href="http://my.jobs/favicon.ico">

    {% endblock meta %}
    {% block bootstrap-init %}
    <link href="http://css.nlx.org/framework/css/def.ui.css" rel="stylesheet" type="text/css">
    <script src="http://js.nlx.org/framework/js/def.ui.core.js"></script>
    <link href="http://png.nlx.org/def-static/images/favicon.ico" rel="shortcut icon">

    {% endblock bootstrap-init %}
  </head>

  <body>
    {% block topbar %}
      {% include "topbar-default.html" %}
    {% endblock topbar %}
    {% block container %}
    <div class="container">
      {% block bootstrap-content %}
      <div class="content">
	{% block page-header %}
        <div class="page-header">
	  {% block page-header-text %}
          {% block heading %}<h1>{{ site_title }}</h1>{% endblock heading %}
	  {% endblock page-header-text %}
        </div>
	{% endblock page-header %}
	<div class="row">
	{% block main %}
	  <div class="span10">
            {# Messages go here #}
	    {% block messages %}
                {% if messages %}
                   {% for mesage in messages %}
                       <div class="alert-message {% if message.tags %}{{ message.tags }}{% endif %}">
		       <a class="close" href="#">&times;</a><p>{{ message }} </p></div>
                    {% endfor %}
                {% endif %}
            {% endblock messages %}
	    {% block main-content-pre %}{% endblock main-content-pre %}
	    {% comment %}Page content normally should go in main-text.{% endcomment %}
	    {% block content %}
	    {% comment %} The content area is to maintain
    compatibility with existing django apps {% endcomment %}
	    {% block content %}{% endblock content %}
             <p>Put your content here...</p>
	    {% endblock content %}
	    {% block main-content-post %}{% endblock main-content-post %}
	  </div>
	  {% endblock main %}
	  {% block featurebox %}
          <div class="span4">
	    {% block featurebox-content %}
	    sidebar text here - usually help or context stuff.
	    {% endblock featurebox-content %}
          </div>
	  {% endblock sidebar-a %}
        </div>
	{% endblock bootstrap-content %}
      </div>
      {% block footer %}
      <footer>
      {% block footer-text %}
         {% include "footer-default.html" %}
      {% endblock footer-text %}
      </footer>
      {% endblock footer %}
    </div> <!-- /container -->
    {% endblock container %}
  {% block analytics %}{% include "analytics-google.html" %}{% endblock analytics %}
  </body>
</html>
