# Compiled
*.pyc
*.db
*.flv
*.wmv

# Misc
static-files/100x50
static-files/content_profile
dev_*
.idea

# Editor aritfacts
*~
*-
*#
.project
.pydevproject
.tmp*
content_226
.coverage
*.swp

# Secret Stuff
secrets*

# Local Settings
local_settings.py

# Log Files
*.log
logfile

# OS generated
.DS_Store*
.DS_Store
ehthumbs.db
Icon?
Thumbs.db
*.directory
*.settings
.directory
directseo

# Secret stuff. Shhhhh.
secret.py
secrets.py
newrelic.ini

local_settings.py
settings.py
