{% extends "base.html" %}
{% load i18n %}


{% block header-content %}
  
{% endblock header-content %}
{% block content %}
<section><div class="section subpage">
<div class="wrapper">    
    <div class="row">
        <div class="span5 offset1">
            <h1>{% trans "Login" %} <small>{% trans "to your My.jobs" %}</small></h1>
        </div>
        <div class="span5">
            <div class="loginBox">                
                {% include "includes/widget-login-username.html" %}
                <div class="clear"></div>
            </div>
        </div>
        
              
    </div>
    </div>
</div>
</div></section>
{% endblock content %}
