{% extends "base.html" %}
{% load i18n %}
{% comment %}
login.html -- implements login/registration screen for my.jobs

This template accepts the following context variables:

``form``
    A Form object representing the login form. See the forms
    documentation for more on Form objects.

``next``
    The URL to redirect to after successful login. This may contain a
    query string, too.

``site``
    The current Site, according to the SITE_ID setting. If you don't
    have the site framework installed, this will be set to an instance
    of RequestSite, which derives the site name and domain from the
    current HttpRequest.

``site_name``
    An alias for site.name. If you don't have the site framework
    installed, this will be set to the value of
    request.META['SERVER_NAME']. For more on sites, see The
    "sites" framework.
{% endcomment %}

{% block header-content %}
  <h1>{% trans "Login" %} <small>{% trans "to" %} {{ site_name }}</small></h1>
{% endblock header-content %}
{% block content %}
  <h3>{% trans "Login using your favorite site" %}</h3>
  {% include "includes/widget-loginify.html" %} 
  <h3>{% trans "or login with your my.jobs username" %}
  {% include "includes/widget-login-username.html" %}
{% endblock content %}
{% block focusbox-content %}
    <div class="h2block takeover">
        <h3>{% trans "Job Seekers" %}</h3>
        <p><strong>{% trans "Finding the right job can change your life. My.Jobs is a toolkit for helping you find that job." %}</strong></p>

    </div>
{% endblock focusbox-content %}

