{% extends "myjobs_base.html" %}
{% load i18n %}
{% comment %}
logout.html -- implements the page you see when you log out.
{% endcomment %}

{% block header-content%}
<div class="wrapper">
    <div class="row">
        <div class="span10">
            <h1>{% trans 'You have been logged out' %} <small>{% trans 'Come again soon!' %}</small></h1>
        </div>        
    </div>
</div>  
{% endblock header-content %}

{% block content-area %}
<section><div class="section subpage">
<div class="wrapper">    
    <div class="row">
        <div class="span16">
            <div class="alert-message block-message success">
              <a class="close" href="#">×</a>
              <p>{% trans 'You have successfully logged out of my.jobs.' %}</p<>              
            </div>
        </div>
        <div class="span8">
            <div id="focusBox">
                {% include "includes/widget-login-username.html" %}
            </div>
        </div>
    </div>
</div>
</div></section>
{% endblock content-area %}

{% block focusbox-content %}
<h3>{% trans "Join My.Jobs." %}</h3>
<p>{% trans "My.Jobs is a tool for managing your job search. Save and share the jobs you are interested in and connect directly with employers." %}
{% endblock focusbox-content %}

