{% extends "myjobs_base.html" %}
{% load i18n %}

{% block content %}

<section><div class="section subpage">
<div class="wrapper"> 
    <div class="row">
        <div class="span8">
          <h1>{% trans "Change" %} <small>{% trans "your password" %}</small></h1>
          <div class="formBox">      
                <form action="" method="post">
                  {% include "includes/form-error-highlight.html" %}
                  {% csrf_token %}
                  <div class="actions">
                      <a href="{% url 'view_account' %}" class="btn pull-right">{% trans 'Cancel' %}</a>
                      <button type="submit" class="btn primary pull-right" value="submit">Change Password</button>
                  </div>
              </form>
            </div>
        </div>
    </div>
</div>
</div>
</section>

{% endblock %}
