{% extends "myjobs_base.html" %}
{% load i18n %}

{% block content-area %}

<section><div class="section subpage">
<div class="wrapper"> 
    <div class="row">
        <div class="span4">&nbsp;</div>
        <div class="span8">
          <h1>{% trans 'Password change' %}</h1>            
            <div id="focusBox">
                <form action="" method="post">
                  {% include "includes/form-error-highlight.html" %}
                  {% csrf_token %}
                  <button type="submit" class="btn primary pull-right" value="submit">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</section>

{% endblock %}
