{% extends "base.html" %}
{% load i18n %}
{% comment %}
registration_form.html -- Shows registration from for myjobs.

By default, has the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}

{% block header-content %}
<!--<div class="wrapper">
    <div class="row">
        <div class="span10">
            <h1>{% trans "Create your my.jobs account" %}</h1>
        </div>
        <div class="span6">
            <span class="pull-right"><span class="label label-warning">Already have an account?</span> <a href="{% url 'auth_login' %}">{% trans "Login Here" %}</a></span>
        </div>
    </div>
</div>-->
{% endblock header-content %}

{% block content-area %}
<section><div class="section subpage">
<div class="wrapper">    
    <div class="row">
        <div class="span4">&nbsp;</div>
        <div class="span8">
            <h1>{% trans "Create" %} <small>{% trans "your My.jobs" %}</small></h1>
            <div id="focusBox">                
                {% include "includes/widget-user-registration.html" %}
                <div class="clear"></div>
            </div>
            
            <div id="focusBox">
                <h3>Already have an account? Login here:</h3>                
                <form action="/accounts/login/" method="post">
                    <fieldset>
                        <div class="form-label pull-left">
                            <label for="id_email">Email</label>
                        </div>
                        <div class="input pull-right">
                            <input id="id_email" type="text" name="email" maxlength="255" placeholder="Email">
                        </div>
                        <div class="clear"></div>
                        <div class="form-label pull-left">
                            <label for="id_password">Password</label>
                        </div>
                        <div class="input pull-right">
                            <input type="password" name="password" id="id_password" placeholder="Password">
                        </div>
                        <div class="clear"></div>
                        {% csrf_token %}
                        <div class="actions pull-right">
                            <button type="submit" class="btn primary" value="submit">Login</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        
              
    </div>
    </div>
</div>
</div></section>
{% endblock content-area %}
