{% extends "base.html" %}
{% load i18n %}
{% comment %}
registration_form.html -- Shows registration from for myjobs.

By default, has the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}

{% block header-content %}
<div class="wrapper">
    <div class="row">
        <div class="span10">
            <h1>{% trans "Create your my.jobs account" %}</h1>
        </div>
        <div class="span6">
            <span class="pull-right"><span class="label label-warning">Already have an account?</span> <a href="{% url auth_login %}">{% trans "Login Here" %}</a></span>
        </div>
    </div>
</div>
{% endblock header-content %}

{% block content-area %}
<section><div class="section subpage">
<div class="wrapper">    
    <div class="row">
        <div class="span8">
            <h3>{% trans "Start with the Basics" %}</h3>
            <div id="focusBox">                
                <form action="" method="post">
                    {% include "includes/form-error-highlight.html" %}
                    {% csrf_token %}
                    <div class="actions pull-right">
                        <button type="submit" class="btn primary" value="submit">{% trans "Create Account" %}</button>
                        <!--<button type="reset"class="btn">{% trans "Cancel" %}</button>-->
                        <span class="help-block"></span>
                    </div>
                </form>            
                <div class="clear"></div>
            </div>
        </div>
        <div class="span8">    
            <h3>{% trans "Or use a social profile create your account" %}</h3>
            <div id="focusBox">
                {% include "includes/widget-connectify.html" %}
            <div>
        </div>
        
              
    </div>
    </div>
</div>
</div></section>
{% endblock content-area %}
