{% extends "base.html" %}
{% load i18n %}
{% comment %}
registration_form.html -- Shows registration from for myjobs.

By default, has the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}


{% block content %}






<section><div class="section subpage">
<div class="wrapper">    
    <div class="row">
        <div class="span6 offset1" >
            <h1>{% trans "Create" %} <small>{% trans "your My.jobs account" %}</small></h1>
        </div>
        <div class="span4">
            <div class="loginBox">
                {% if user.is_authenticated %}
                    <p>Welcome 
                        <b>{% if user.first_name %}
                            {{user.first_name}}
                        {% else %}
                            {{user.email|truncatechars:23}}
                        {% endif %}!</b>
                    
                    <p>
                        <a href="{% url 'view_account' %}">View Your Account</a>
                    </p>                                                
                {% else %}
                    <h3>Sign Up</h3>
                    {% include "includes/widget-user-registration.html" %}
                    <div class="clear"></div>
            </div>
            <div class="loginBox">
                    {% trans "Already have an account? Login here:" %}
                    {% include "includes/widget-top-bar-login.html" with form=loginform %}
                {% endif %}
            </div>				
        </div>
    </div>
</div>
</div></section>
{% endblock content %}
