{% extends "base.html" %}
{% load i18n %}

{% block header %}
    <h1>{% trans "Activation Resent" %}</h1>
{% endblock header %}

{% block content %}
    <p>{% trans "If the activation message is not in your inbox:" %}</p>
    <ul>
        <li>{% trans 'Check your spam or junk mail folder. The subject of the email is "Account Activation for my.jobs".' %}</li>
        <li>{% trans 'Allow up to 15 minutes for your email provider to deliver the email we have sent.' %}</li>
        <li>{% trans 'If you are using a free email service like Gmail, Yahoo or Hotmail, please allow 30 minutes.' %}
    </ul>
    <a href="{% url 'edit_basic' user.email %}">Would you like to edit your profile information in the meantime?</a>
{% endblock content %}
