{% extends "base.html" %}
{% load common_tags %}
{% block site-title %}
    {% with name_obj=user|get_name_obj %}
        <title>{% if name_obj %}{{ name_obj }} on{% else %}&nbsp;{% endif %} My.jobs</title>
        <meta name="title" content="{% if name_obj %}{{ name_obj }} on{% else %}&nbsp;{% endif %} My.jobs">
    {% endwith %}
{% endblock %}
{% load i18n %}
{% block meta-extra %}
<script src="{{ STATIC_URL }}profile.js{% cache_buster %}"></script>
{% endblock %}

{% block content %}
<div class="wrapper"> 
    <div class="row" id="profileTitleRow">
        <div class="span2">
            <img src="{% get_gravatar user '140' %}">
        </div>
        <div class="span10" id="profileTitleBar">

            {% with name_obj=user|get_name_obj %}
            <h1>{% if name_obj %}{{name_obj}}{%else%}&nbsp;{%endif%}</h1>
            {% endwith %}

            <h3>{{user.email}}</h3>
        </div>
        <div class="span10" id="profileSubtitleBar">
            <a href="{% url 'edit_account' %}">{% trans "Account Settings" %}</a>
        </div>
    </div>{# /profileTitleRow #}
    <div class="row">
        <div class="span8" id="moduleColumn">
            {% csrf_token %}
            {% for module in profile_config.values %}
            {% if module %}
            {% include "myprofile/profile_section.html" %}
            {% endif %}
            {% endfor %}
        </div>
        
        <div class="scroller_anchor"></div>
        <div class="span4">
            <div class="formBox" id="profile-completion">
                <div class="pull-right">Your profile is <span id="highlight">{{user.profile_completion}}% complete</span></div><br>
                <div class="progress"><div class="bar bar-{% completion_level user.profile_completion%}"
                                           style="width: {{ user.profile_completion }}%"></div></div>
            </div>
            <div class="formBox right-side-fixed" id="moduleBank">
                <h3>Add a New Section</h3>
                <table class="table table-bordered tables-striped">
                {% for module in unit_names %}
                <tr class="profile-section" {% if module.items %}style="display:none;"{% endif %}><td>
                    <a class="" id="{{module}}-new-section" href="{% url 'handle_form' %}?module={{module}}&id=new">
                        {{ module }}
                    </a>
                </td></tr>
                {% endfor %}
                </table>
            </div>{# /moduleBank #}
        </div>{# /span4 #}
    </div>{# /row #}
</div>{# /wrapper #}

{% endblock %}
