{% extends "base.html" %}
{% load i18n %}
{% block meta-extra %}
<script src="{{ STATIC_URL }}account-creation.js"></script>
<script src="{{ STATIC_URL }}profile.js"></script>
{% endblock %}

{% block content %}
<style>
#profileTitleRow{
    margin-bottom: 20px;
}
#profileTitleRow img{
    border-radius:5px;
    border: 2px solid #b34529;
}
#profileTitleBar{
    border-bottom: 2px solid #b34529;
}
#profileSubtitleBar{}
</style>
<div class="wrapper"> 
    <div class="row" id="profileTitleRow">
        <div class="span2">
            <img src="{{user.get_gravatar_url}}&s=140">
        </div>
        <div class="span10" id="profileTitleBar">
            <h1>{% if name_obj %}{{name_obj}}{%else%}&nbsp;{%endif%}</h1>
            <h3>{{user.email}}</h3>
        </div>
        <div class="span10" id="profileSubtitleBar">
            <a href="{% url 'edit_basic' %}">{% trans "Account Settings" %}</a>
        </div>
    </div>
    <div class="row">
        <div class="span8" id="moduleColumn">
            {% csrf_token %}
            {% for module in profile_config %}
            {% if module.items %}
            {% include "myprofile/profile_section.html" %}
            {% endif %}
            {% endfor %}
        </div>
        <div class="span4">
            <div class="formBox" id="moduleBank">
                <h3>Add a New Section</h3>
                <table class="table table-bordered tables-striped">
                {% for module in profile_config %}
                {% if not module.items %}
                <tr class="profile-section"><td>
                    <a class="" id="{{module.name}}-section" href="">
                        {{ module.verbose }}
                    </a>
                </td></tr>
                {% endif %}
                {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
