{% load i18n %}
{% load model_fields %}
<div class="formBox profile-mobile" id="{{module.0.get_model_name}}_items">
    <h4 id="{{module.0.get_model_name}}-verbose">{{ module.0.get_verbose }}</h4>

    {% if module.0 %}

    <table class="table table-bordered table-striped">
        <thead>
            <tr>

                {% for label, value, type in module.0.get_fields|slice:":3" %}

                <th>{{label}}</th>

                {% endfor %}

                <th class="action"></th>
            </tr>
        </thead>
        <tbody>

            {% for item in module %}

            <tr id="{{module.0.get_model_name}}-{{module.0.id}}-item">

                {% with item|process_field_types as fields %}
                    {% for label, value, type in fields|slice:":3" %}

                    <td data-title="{{label}}">{{ value }}&nbsp;</td>

                    {% endfor %}
                {% endwith %}
                <td class="action">
                    <a class="btn pull-right" href="{% url 'handle_form' %}?id={{ item.id }}&module={{ item.get_verbose.title }}">
                        {% trans 'Edit' %}
                    </a>
                    <a class="btn pull-right" href="{% url 'get_details' %}?id={{ item.id }}&module={{ item.get_verbose.title }}">
                        {% trans 'Details' %}
                    </a>
                </td>
            </tr>

            {% endfor %}

        </tbody>
    </table>

    {% endif %}

    <a class="btn primary" href="{% url 'handle_form' %}?module={{ module.0.get_verbose.title }}">
        {% trans 'Add' %}
    </a>
</div>
