<div class="formBox" id="{{module.name}}_items">       
    <h4 id="{{module.name}}-verbose">{{ module.verbose }}</h4>
    {% if module.items.0 %}    
    <table class="profile">
        <tr>
            {% for label,value in module.items.0.get_fields|slice:":4" %}                            
                <th>{{label}}</th>
            {% endfor %}
            <th class="action"></th>
        </tr>
        {% for item in module.items %}      
        <tr id="{{module.name}}-{{item.id}}-item">
            {% for   label, value in item.get_fields|slice:":4" %}
            <td>{{ value }}</td>
            {% endfor %}
            <td class="action">
                <button class="btn" id="{{module.name}}-{{item.id}}-edit">Edit</button>
                
            </td>
        </tr>
        {% endfor %}
    </table>                
    {% endif %}    
    <button class="btn primary" id="{{module.name}}-new-add">Add</button>
</div>
