{% if first_instance %}
<tr>
    {% for label,value in item.get_fields|slice:":4" %}                            
        <th>{{label}}</th>
    {% endfor %}
    <td class="action"></td>
</tr>
{% endif %}
<tr id="{{module}}-{{item.id}}-item">
    {% for   label, value in item.get_fields|slice:":4" %}
    <td data-title="{{ label }}">{{ value }}</td>
    {% endfor %}
    <td class="action">
        <button class="btn" id="{{module}}-{{item.id}}-delete">Delete</button>
        <button class="btn" id="{{module}}-{{item.id}}-edit">Edit</button>
    </td>
</tr>
