{% if first_instance %}
<tr>
    {% for label,value in item.get_fields|slice:":4" %}                            
        <th>{{label}}</th>
    {% endfor %}
    <td class="action"></td>
</tr>
{% endif %}
<tr class="mobile-border" id="{{module}}-{{item.id}}-item">
    {% for   label, value in item.get_fields|slice:":4" %}
    {% if label == "Is This Your Primary Name?" %}
        <td data-title="Is Primary">{{ value }}</td>
    {% else %}
        <td data-title="{{ label }}">{{ value }}</td>
    {% endif %}
    {% endfor %}
    <td class="action">
        <button class="btn" id="{{module}}-{{item.id}}-delete">Delete</button>
        <button class="btn" id="{{module}}-{{item.id}}-edit">Edit</button>
    </td>
</tr>
