{% load i18n %}

<div id="edit_modal" class="modal hide fade">
    <div class="modal-header">
        <button class="close mobile_hide" aria-hidden="true" data-dismiss="modal" type="button">×</button>
        <h1>{% if item_id == "new" %}{% trans 'Add' %}{% else %}{% trans 'Edit' %}{% endif %} <small>{% trans verbose %}</small></h1>
    </div>
        <form action="" method="post" id="{{module}}-{{item_id}}-form">
            <div class="modal-body">
                <div class="formBox">
                    {% include "includes/form-error-highlight.html" %}
                    {% csrf_token %}
                </div>
            </div>
            <div class="modal-footer">
                <div class="actions">
                    <a class="btn primary pull-right" id="{{module}}-{{item_id}}-save" value="submit">{% trans 'Save' %}</a>
                    <a href="" data-dismiss="modal" aria-hidden="true" class="btn pull-right" id="{{module}}-{{item_id}}-cancel">{% trans 'Cancel' %}</a>
                    {% if item_id != 'new' %}
                        <a class="btn pull-left" id="{{module}}-{{item_id}}-delete">{% trans 'Delete' %}</a>
                    {% endif %}
                </div>
            </div>
        </form>
</div>
