{% extends 'base.html' %}
{% load i18n %}
{% load model_fields %}

{% block content %}
<div class="row">
    <div class="span12">
        <h1>{{module.verbose}} <small>Details</small></h1>
    </div>
</div>
<div class="row">
    <div class="span8 offset2">
        <div class="modal-body">
            <div class="formBox">
                <table class="table table-bordered table-striped">

                    {% with module.item|process_field_types as fields %}
                        {% for label, value, type in fields|slice:":3" %}

                        <tr class="row">
                            <td class="span3">{{ label }}</td>
                            <td class="span9">{{ value }}</td>
                        </tr>

                        {% endfor %}
                    {% endwith %}

                </table>
                <div class="actions">
                    <a class="btn primary pull-right" href="{% url 'view_profile' %}">{% trans 'Back' %}</a>
                    <a class="btn pull-right" id="{{module.name}}-{{module.item.id}}-view_edit">{% trans 'Edit' %}</a>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
