{% extends 'base.html' %}
{% load common_tags %}
{% load i18n %}

{% block meta-extra %}
<script src="{{ STATIC_URL }}jquery.placeholder.min.js"></script>
<script src="{{ STATIC_URL }}account-creation.js{% cache_buster %}"></script>
<script src="{{ STATIC_URL }}profile.js{% cache_buster %}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        <h1>
            {% if item_id == "new" %}

            {% trans 'Add' %}

            {% else %}

            {% trans 'Edit' %}

            {% endif %}

            <small>{% trans verbose %}</small>
        </h1>
    </div>
</div>

<div class="row">
    <div class="span10 offset1">
        <form action="" method="post" id="profile-unit-form">

            {% if module == "SecondaryEmail" and emailSent %}

            <div class="alert alert-success">
                Activation email resent to {{form.email.value}}.
            </div>

            {% endif %}

            {% if item_id != "new" and module == "SecondaryEmail" and not verified %}

            <p id="activation_notification">This email address has not been activated! Please activate it using the activation link sent to your email. <a href="" id="{{module}}-{{item_id}}-updateEmail" value="updateEmail">Resend my activation email. </a></p>

            {% endif %}

            {% include "includes/form-error-highlight.html" %}
            {% csrf_token %}
            <div class="clear"></div>

            <div class="actions">
                <div class="form-label pull-left">&nbsp;</div>

                {% if item_id != "new" %}

                <button type="button" data-toggle="modal" data-target="#delete-confirm" class="btn">{% trans 'Delete' %}</button>
                <div id="delete-confirm" class="modal hide fade row">
                    <div class="modal-header">
                        {% trans 'Really Delete?' %}
                    </div>
                    <div class="modal-body">

                        {% blocktrans %}

                        Are you sure you want to delete this {{verbose}}?

                        {% endblocktrans %}

                    </div>
                    <div class="modal-footer">
                        <div class="actions">
                            <button data-dismiss="modal" class="btn primary pull-right">{% trans 'Cancel' %}</button>
                            <a class="btn pull-right" href="{% url 'delete_item' item_id %}">{% trans 'Delete' %}</a>
                        </div>
                    </div>
                </div>

                {% endif %}

                <a href="{% url 'view_profile' %}" class="btn">{% trans 'Cancel' %}</a>
                <button type="submit" class="btn primary" id="profile-save">{% trans 'Save' %}</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
