{% load i18n %}

{% if not user.is_active and section_name == 'communication' %}
  <p>{% trans "Your account doesn't have full access to MyJobs features! Please activate it using the activation link sent to your email. "%} <a href="{% url 'resend_activation' user.email %}">{% trans "Resend my activation email." %}</a></p>
{% endif %}

<form action="" method="POST" id="form-{{section_name}}">
    {% include "includes/form-error-highlight.html" %}
    {% csrf_token %}
  <div class="actions">
    <a href="" class="btn pull-right">{% trans 'Cancel' %}</a>
    <button type="submit" class="btn primary pull-right" value="submit">{% trans "Save" %}</button>
    <div class="clear"></div>
  </div>
</form>
