<p>You haven't checked our emails in a while.</p>

<p>If you wish to continue receiving job search emails, please enable images in your email client and open one of our emails.</p>

<p>Alternatively, you may click on the following link:</p>

<p><a href="http://my.jobs{% url 'continue_sending_mail' %}?verify-email={{user.email}}">Continue sending me emails.</a></p>

<p>If you do not wish to receive emails, you will be removed from our list in seven days.</p>

<p>My.jobs <a href="http://my.jobs{% url 'terms' %}">Terms</a> and <a href="http://my.jobs{% url 'privacy' %}">Privacy</a></p>
