{% extends 'base.html' %}

{% load form_tags %}

{% block content %}
<div class="row">
    <div class="span12">
        <h1>Authorize <small>{{referer_short}}</small></h1>
    </div>
</div>
<div class="row">
    <div class="span8 offset2">
        <form method="POST" action="{% url 'sso_authorize' %}">
            {% include 'includes/form-error-highlight.html' with form=login_form %}
            <input type="hidden" name="referer" value="{{referer}}" />
            {% csrf_token %}
            <div class="actions">
                <button type="submit" class="btn primary">Authorize</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
