{% block heading %}
<h1>Join my.jobs </h1><small>The direct way to find a job</small>
{% endblock heading %}

{% block main-text %}
<h2>The Easy Way</h2>
<p>Create your my.jobs profile instantly and log in using your favorite
website.</p>
<ul>
  <li>No passwords to remember - just log in to your favorite social
  site and go to .jobs</li>
</ul>

{{ comment }} TODO Social Button Widget Here {{ comment }}

<h3>The Other Way</h3>
<p>Create a username and password that works only on my.jobs.</p>
<a class="btn" href="/register/">Create Username &amp; Password</a>