{% extends "django_messages/base.html" %} 
{% load i18n %} 
{% load url from future %}
{% block messages_header %}
<div class="span12">
<h1>{% trans "Deleted Messages" %}</h1>
<br>
</div>
{% endblock messages_header %}
{% block content %} 
<div class="span10">
{% if message_list %} 
<table class="table table-bordered table-striped">
    <thead>
        <tr><th>{% trans "Sender" %}</th><th>{% trans "Subject" %}</th><th>{% trans "Date" %}</th><th>{% trans "Action" %}</th></tr>
    </thead>
    <tbody>
{% for message in message_list %} 
    <tr>
        <td>{{ message.sender }}</td>
        <td> 
        {{ message.subject }}
        </td>
        <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
        <td><a href="{% url 'messages_undelete' message.id %}">{% trans "undelete" %}</a></td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<p>{% trans "No messages." %}</p>
{% endif %}   
<br />
<p>{% trans "Deleted Messages are removed from the trash at unregular intervals, don't rely on this feature for long-time storage." %}</p>
</div>
{% endblock %}