#headerLogo {
    display: none !important;
}

#direct_dotjobsHeader h1 {
    height: 91px;
    background: url(http://d2e48ltfsb5exy.cloudfront.net/myjobs/logos/myjobs_logo_md.png) center 18px no-repeat;
}

#direct_dotjobsHeader h1 a {
    text-indent: -9000px;
    display: block;
    height: 106px;
    width: 200px;
    margin: 0 auto;
}

#sponsor-dotjobs {
    display: none;
}
