#headerLogo {
    display: none !important;
}

#direct_dotjobsHeader h1,
h1#direct_mobileH1 {
    height: 91px;
    background: url(http://d2e48ltfsb5exy.cloudfront.net/myjobs/logos/myjobs_logo_md.png) center 20px no-repeat;
}

#direct_dotjobsHeader h1 a,
h1#direct_mobileH1 {
    text-indent: -9000px;
    display: block;
    height: 106px;
    width: 200px;
    margin: 0 auto;
}

h1#direct_mobileH1 {
    height: 80px;
}
#sponsor-dotjobs {
    display: none;
}
@media screen and (max-width:500px) {
    #direct_container .direct_searchContainer {
        margin-top: 25px;
    }
}

