{% extends 'base.html' %}

{% load i18n %}
{% load user_ops %}

{% block meta-extra %}
<script src="http://js.nlx.org/framework/v2/js/def.ui.bootstrap.tabs.js" type="text/javascript"></script>
<script src="http://js.nlx.org/framework/v2/js/code/bootstrap-collapse.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="wrapper"> 
	{% if userInfo %}
	<div class="row" id="profileTitleRow">
        <div class="span10" id="profileTitleBar">
            <h1 class="pull-left">{% if userInfo.0.items.0 %}{{userInfo.0.items.0}}{%else%}Name not given{%endif%}</h1>
            <span id="candidate-flag">Candidate Information</span>
        </div>
    </div>
    <div class="row">
    	<span class="span6">
    		<input type="button" class="btn" style="height:45px;" value="Back to Company Dashboard" />
    	</span>
    </div>
    <div class="clear"></div>
    {% if theUser %}
    <br />
    <div class="row">
        <div class="span4 pull-left">
			<img src="{{theUser.get_gravatar_url}}&s=100" class="pull-left">
            <div id="user-buttons">
                <div id="book">
        		  <input type="button" class="btn" value="Bookmark Candidate" />
                </div>
                <div id="message">
        		  <input type="button" class="btn" value="Send Message" />
                </div>
            </div>
            <br />
            <div class="pull-left">
        		
                <span style="margin-left:20px;">{{theUser.email}}</span>
            </div>
        	
        </div>
        <div class="span4 pull-left">
        	<table class="table table-bordered" id="candidate-details">
        		<tr id="theUser-{{user.id}}-details">
        			<td class="table-heading">
        				Details
        			</td>
        		</tr>
        		{% for module in userInfo%}
        			{% if module.items %}
        				{% if module.items.0.content_type.name == 'name' %}
        				{% else %}
        				<tr>
        					<td class="no-side-padding">
        						<div class="accordion" id="details-{{module.name}}-collapse">
            						<div class="accordion-group">
                						<div class="accordion-heading details-heading">
                    						<a class="accordion-toggle" data-toggle="collapse" data-parent="#details-{{module.name}}-collapse" href="#details-{{module.name}}-table">{{module.verbose}} (Collapse)</a>
                						</div>
                						<div id="details-{{module.name}}-table" class="accordion-body collapse">
                    						<div class="accordion-inner">
                        						<table class="table details-inner">
                            						{% for item in module.items %}
                            							<tr id="details-{{item.content_type.name}}">
                            								<td>
                            									<ul id="details-smallList">
                                									{% if item.content_type.name == 'education' %}
                                										<li><b>{{item.degree_major}}</b></li>
                                										<li>{{item.organization_name}}</li>
                                										<li>{{item.degree_date}}</li>
                                									{% elif item.content_type.name == "employment history" %}
                                										<li><b>{{item.position_title}}</b></li>
                                										<li>{{item.organization_name}}</li>
                                										{% if item.current_indicator == True %}
                                											<li>{{item.start_date}} - Current</li>
                                										{%else%}
                                											<li>{{item.start_date}} - {{item.end_date}}</li>
                                										{%endif%}
                                									{% elif item.content_type.name == "telephone" %}
                                                                        <li><b>{{item.use_code}}</b></li>
                                										<li>({{item.area_dialing}}) {{item.number}} {% if item.extension %}Ext: {{item.extension}} {%endif%}</li>
                                									{% elif item.content_type.name == "secondary email" %}
                                										<li><b>{{item.label}}</b></li>
                                										<li>{{item.email}}</li>
                                									{% else %}
                                										<li><b>{{item.label}}</b></li>
                                										<li>{{item.address_line_one}}, {{item.address_line_two}}</li>
                                										<li>{{item.city_name}}, {%if item.country_sub_division_code%}{{item.country_sub_division_code}}{%else%}{{item.country_code}}{%endif%} {{item.postal_code}}</li>
                                									{% endif %}
                                								</ul>
                                							</td>
                                						</tr>
                            						{% endfor %}
                            					</table>
                            				</div>
                            			</div>
            						</div>
       			 				</div>
        					</td>
        				</tr>
        				{% endif %}
        			{%endif%}
        		{% endfor %}
        	</table>
        </div>
        <div class="span4">
        	<table class="table table-bordered">
        		<tr id="theUser-{{user.id}}-activity">
        			<td class="table-heading">
        				Activity
        			</td>
        		</tr>
        	</table>
        </div>
    </div>
    {% endif %}
</div>
	{% endif %}
{% endblock %}
