@import url(http://css.nlx.org/framework/css/def.ui.css);
/*For inclusion in def.ui.css*/
html,body{
    /*padding-top: 0;*/
    }
html{
    background: transparent;
    }
body{
    height: auto;
    }
.span-one-fifth{
    width: 172px;
    }
.span-two-fifths{
    width: 364px;
    }
.span-three-fifths{
    width: 556px;
    }
.span-two-fifths input{
    width: 300px;
    }
.topbar h3 a{
    padding: 0px 20px;
    }    
.btn{
    padding-top: 6px;
    padding-bottom: 7px;
    }
.clear{
    clear: both;
    }
.btn.pull-right{
    margin-right: 10px;
}
.btn.pull-left{
    margin-left: 10px;
}
/*Main Styles*/
body{
    background-color: #574e44;
    font-family: Arial, Helvetica, sans-serif;
    }
.form-label{
    text-align: right;
    margin-right: 20px;
    width: 180px;
    }
.form-label label{
    font-weight: bold;
    }
.clear{
    clear: both;
    }
header{
    background: none;
    }
.topbar-inner{
    height: 30px;
    padding: 1px 0;
    background-color: #333;
    }
.topbar .inline-inputs{
    float: right;
    padding-top: 3px;
}
.topbar #topbar-logo{
    height: 30px;
    width: 90px;
    background: transparent url(images/mydotjobs_small.png) center left no-repeat;
    text-indent: -9000px;
}
.topbar label{
    color: #fff;
    padding: 5px 10px 0 0px;
    }
.topbar input{
    width: 100px;
    margin-right: 10px;
    }
.topbar label,
.topbar input{
    float: left;
    }
#titleRow{
    margin-bottom: 20px;
    }
#title h1{
    text-indent: -9000px;
    background: url(images/mydotjobs.png) center right no-repeat;
    display: block;
    height: 81px;
    }    
#subtitle{
    font-size: 1.85em;
    line-height: 1.1em;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    padding-top: 13px;
    font-weight: bold;
    }
#currentLogin{
    background-color: #505050;
    padding: 4px;
    margin-right: 20px;
    color: #FFF;
    height: 17px;
    }
.leaderBoard{
    background-color: #a39985;
    background-image: url(images/leaderBoard.jpg);
    background-position: top center;
    background-repeat: repeat-x;
    padding-bottom: 20px;    
    padding-top: 25px;
    }
section .leaderBoard{
    padding-bottom: 28px;
    }    
.subpage{
    background-color: #FFF;
    padding: 20px 0;
    }
#introText p{
    font-size: 1.4em;
    line-height: 1.4em;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    }
/*Login Styles*/
#loginBox{
    border-width: 8px;
    border-color: #847b6e;
    border-color: rgba(87, 78, 68, 0.5);
    border-style: solid;    
    background-color: #6c675e;
    background-color: rgba(0,0,0,0.34);
    background-clip: padding-box;
    border-radius: 8px;
    padding: 10px;
    }
    
#loginBox p#socialLogin{
    background-color: #efeade;
    padding: 8px;
    border-radius: 4px;
    border-width: 0px;
    line-height: 1em;
    color: #c34d33;
    font-size:1.1em;    
    font-weight: bold;
    height: 36px;
    }
#loginBox p#socialLogin span{
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    }
#loginBox p#socialLogin span a{
    background-image: url(images/socialIcons.png);
    height: 46px;
    width: 47px;
    background-position-x: 0px;
    background-position-y: 0px;
    text-indent: -9000px;
    display: inline-block;
    margin: 0 6px;
    }
#loginBox p#socialLogin span a#twitter{
    background-position: -47px 0;
    }
#loginBox p#socialLogin span a#linkedin{
    background-position: -94px 0;
    }
#loginBox p#socialLogin span a#google{
    background-position: -141px 0;
    }
#loginBox p#socialLogin span a#yahoo{
    background-position: -188px 0;
    }
#loginBox p#socialLogin span a#twitter:hover{
    background-position: -47px -46px;
    }
#loginBox p#socialLogin span a#linkedin:hover{
    background-position: -94px -46px;
    }
#loginBox p#socialLogin span a#facebook:hover{
    background-position: 0px -46px;
    }
#loginBox p#socialLogin span a#google:hover{
    background-position: -141px -46px;
    }
#loginBox p#socialLogin span a#yahoo:hover{
    background-position: -188px -46px;
    }
#loginBox p{
    padding: 10px;
    color: #fff;
    margin-bottom: 0px;
    font-weight: bold;
    }
#loginBox fieldset{
    padding: 0px 10px;
    margin: 0px;
    }
#loginBox label{
    display: block;
    color: #fff;
    font-weight: bold;
    text-align: left;
    }
#loginBox .input{
    display: block;
    margin: 0px;
    }
#loginBox .help-block{
    display: block;    
    width: 132px;
    font-size: 1em;
    padding-right: 10px;
    text-align: right;
    }
#loginBox .help-block a{
    color: #FFF;    
    text-shadow: 1px 1px 1px #6c675e;
    }
#loginBox form{
    margin-bottom: 0px;
    }
#loginBox h4{
    color: #fff;
    margin: 10px 0;
    }    
#socialLogin a{
    background: transparent center left no-repeat;
    color: #333;
    border-radius: 4px;
    height: 20px;
    display: block;
    font-size: 2em;
    text-indent: -9000px;
    padding-top: 10px;
    font-weight: bold;
    float: left;
    width: 20px;
    height: 16px;
    padding: 10px;
    margin: 0 18px 0 0;
}
/*Social Login Styles*/
#socialLogin a:hover{
    background-color: #FFF;
    text-decoration: none;
}
#socialLogin a#Twitter{
    background-image: url(/files/static/social-icons/Twitter.png);
    margin-left: 20px;
}
#socialLogin a#Facebook{
    background-image: url(/files/static/social-icons/Facebook.png); 
}
#socialLogin a#Linkedin{
    background-image: url(/files/static/social-icons/Linkedin.png); 
}
#socialLogin a#Google-Oauth2{
    background-image: url(/files/static/social-icons/Google-Oauth2.png); 
}
#socialLogin a#Yahoo{
    background-image: url(/files/static/social-icons/Yahoo.png); 
}
.btn.primary{
    background-color: #c44e34;
    background-image: -moz-linear-gradient(#e16b51,#c44e34);
    background-image: -webkit-gradient(linear, left top, left bottom, #e16b51, #c44e34); 
    background-image: -webkit-linear-gradient(#e16b51,#c44e34);  
    background-image: -o-linear-gradient(#e16b51,#c44e34); 
    background-image: linear-gradient(#e16b51,#c44e34);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e16b51', endColorstr='#c44e34', GradientType=0)
    margin-top: 2px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight:bold;
    font-size: 1.1em;
    }
footer{
    background: transparent;
    margin: 0;
    padding-top: 0px;
    border-width: 0;
    }
#bottomTabs{
    background: #333;
    border-width: 0px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-color:#a3aeb1;
    border-style: solid;
    padding-bottom: 19px;
    color:#fff;
    }
/*
This is the styling for the robot onthe homepage. It looks odd in place, but the
code should be preserved for a redesign.
#leaderBoardContent:after{
    content: "";
    position: absolute;
    margin: -58px auto 0 283px;;
    width: 163px;
    height: 85px;
    background: url(images/robot.png);
    z-index: 1;
    }
*/
#bottomTabs h3{
    padding-top: 25px;
    color: #fff;
    font-weight: normal;
    line-height: 1em;
    padding-bottom: 5px;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-image: url(/files/static/images/bottomTabsH3.png);
    background-color: transparent;
    }
#bottomTabs h3#save{
    background-position: 50px -4px;
    }
#bottomTabs h3#share{
    background-position: 55px -54px;
    }
#bottomTabs h3#socialize{
    background-position: 80px -104px;
    }
#bottomTabs h3#future{
    background-position: 60px -150px;
    }
#bottomTabs p{
    line-height: 1.5em;    
    }
#bottomTabs .wrapper .row {
    background-image:none;
    }
#bottomLinks{
    padding-top: 5px;
    color: #fff;
    }
#bottomLinks a{
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    }
#bottomLinks .subpageLinks a{
    margin-left: 30px;
    }

.alert-message.block-message.error{
    margin: 5px 0;
    background-color: #e16b51;
    }
.alert-message.block-message.error label{
    text-shadow: 1px 1px 1px #000;
    }
.topbar h3 a {
    background-image: none;
    text-indent: 0;
    width: auto;
    }
.topbar .btn {
    margin-top: 2px;
    padding-top: 2px;    
    padding-bottom: 2px;
    }
    
/*Share window*/
body#myjobsShareWindow{
    min-width: 0px;
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-top: 110px;
    background: url("files/static/images/mydotjobs.png") no-repeat scroll center 20px transparent;
    }      
#myjobsShareWindow #focusBox.twitter{
    background-color: #00A0D1;
    }
#myjobsShareWindow #focusBox.facebook{
    background-color: #3B5998;
    }
#myjobsShareWindow #focusBox.linkedin{
    background-color: #287BBC;
    }
#myjobsShareWindow h1{
    color: #000;
    padding-bottom: 10px;
    padding-top: 10px;
    text-indent: 50px;
    height: 30px;
    background: url() no-repeat 0px 5px #FFF;
    margin-bottom: 10px;
    }
#myjobsShareWindow h1 span{
    color: #333;
    font-size: .5em;
    position: relative;
    top: -7px;
    }
#myjobsShareWindow #focusBox.twitter h1{
    color: #00A0D1;
    background-image:url(/files/static/social-icons/Twitter.png);
    }
#myjobsShareWindow #focusBox.facebook h1{
    color: #3B5998;
    background-image:url(/files/static/social-icons/Facebook.png);
    }
#myjobsShareWindow #focusBox.linkedin h1{
    color: #287BBC;
    background-image:url(/files/static/social-icons/Linkedin.png);
    }
#myjobsShareWindow #share_area{
    display: block;
    height: 60px;
    width: 475px;
    }

/*Footer styles*/
#direct_dotJobsFooter{
    /*Placeholder for futures styles*/
    }
#direct_dotJobsFooter #direct_dotjobsFooterContent{
    margin: 0 auto;
    background: none;
    padding-bottom: 20px;
    }
#direct_dotJobsFooter a{
    font-weight: bold;
    }
#direct_dotJobsFooter a.direct_dotjobsFooterLink:hover,
#direct_dotJobsFooter a.direct_dotjobsFooterLink:active{
    background-color: #333;
    color: #fff;
    border-left-width: 2px;
    position: relative;
    left: -1px;
    text-decoration: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px
    border-radius: 2px;
    }
a.direct_dotjobsFooterLink{
    display: block;
    padding: 6px 11px;
    margin: 0 0 3px 0;
    border-left: 1px solid #8c8c8c;    
    }
#subfooter p{
    text-align: center;
    }
.social_icon {
    display: inline-block;
    margin-top: 4px;
    margin-right: 3px;
    width: 24px;
    height: 26px;
    background-position: 0px 0px;
    }
.facebook_icon {
    background-image: url('/files/footer_facebook.png');
    }
.twitter_icon {
    background-image: url('/files/footer_twitter.png');
    }
.youtube_icon {
    background-image: url('/files/footer_youtube.png');
    }
.social_icon:hover {
    background-position: 0px -26px; 
    }
.social_icon:active {
    background-position: 0px -52px;
    }
#direct_dotjobsScamAlert {
    position: absolute;
    bottom: 0;
    margin-left: -240px;
    }
