{% comment %}
form-error-highlight.html -- simple loop for displaying forms/modelforms.

Usese the following template tags:

hidden -- built in for all hidden form fields.
form -- the rest of the form.
{% endcomment %}

<fieldset>
  {# Include but don't display hidden fields #}
  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}
  {# Include the visible fields #}
  {% for field in form.visible_fields %}
     {# if it's an error put it in a red box #}
     {% if field.errors %}
       <div class="alert-message block-message error">
       {{ field.errors }}
     {% else %}
       <div class="clearfix">
     {% endif %} 
         {{ field.label_tag }}
         <div class="input">{{ field }}<br>
	   {% if field.help_text %}<span class="help-block">{{ field.help_text }}</span>{% endif %}
	 </div>
      </div>
  {% endfor %}
  </fieldset>