{% load i18n %}
{% comment %}
login-username.html -- Username/password login form
{% endcomment %}

<form action="" method="post">
{% include "includes/form-error-highlight.html" %}
{% csrf_token %}
        <div class="actions">
	  <button type="submit" class="btn primary" value="submit">{% trans "Login" %}</button>
	  &nbsp;<button type="reset"class="btn">Cancel</button>
	  <span class="help-block">
            <a href="{% url auth_password_reset %}">{% trans "reset password" %}</a><br>
	    <a href="{% url registration_register %}">{% trans "create username" %}</a>
	  </span>
	</div>  
</form>