{% load i18n %}
{% comment %}
about-dot-jobs.html -- short description of my.jobs
{% endcomment %}
<h3>{% trans "About my.jobs" %}</h3>
<p>
{% blocktrans %}
My.jobs is a place where you can manage your job search and share job 
opportunites with people you know.
{% endblocktrans %}
</p>
<h3>{% trans "Real Jobs" %}</h3>
<p>
{% blocktrans %}
Only real jobs from real employers are listed on my.jobs. That means no 
start-your-own business offers and no fake jobs designed to trick you into 
giving your personal information away.
{% endblocktrans %}
</p>