{% load i18n %}
<div id="account-page-2" style="display:none;">
        <div class="row profileBox">
            <div class="span4" id="newAccountInfo">
                <div>
              	    <h2>{% trans "Profile" %}</h2>
		            <div class="centered">
                            <div id="gravatar"></div><br>
      		            <p>
                            <b class="newUserEmail"></b><br/>account status: <b class="pendingText">Pending activation</b>
    		            </p>
                    </div>

                    {# .newUserEmail contents set in account-creation.js #}
                    <p id="send-act-text">Thanks for registering! We have sent an email to <span class="newUserEmail"></span> with
                       an activation link for your account. While you wait, go
                       ahead and add some data modules to your profile.
                    </p>
                    <div class="profile-unit">
                        <b><div class="pull-right">Your profile is <span id="highlight" class="initial-highlight">0% complete</span></div></b><br>
                        <div class="progress">
                            <div class="bar" id="initial-bar" style="width: 0%;"></div>
                        </div>
                        Adding more information will help you match with employers and make it easier for you to apply to future jobs.
                    </div>
                </div>
            </div>
            {% include "includes/initial-profile-form.html" %}
        </div>
    </div>