{% comment %}
form-error-highlight.html -- simple loop for displaying forms/modelforms.

Usese the following default django template tags:

hidden -- built in for all hidden form fields.
form -- the rest of the form.
{% endcomment %}
{% load widget_tweaks %}
{% load form_tags %}
{% load selection_boxes %}

<fieldset>
    {# Include but don't display hidden fields #}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    
    {% if form.errors %}
    {% for error in form.non_field_errors %}
    <p>{{error}}</p>
    {% endfor %}
    {% endif %}
    
    {# Include the visible fields #}
    {% for field in form.visible_fields %}
    {% is_boolean_field field as is_boolean %}
    {% if only_show_required and field.field.required or is_boolean %}
        {# if it's an error put it in a red box #}
        {% if field.errors %}
        <div class="alert-message block-message error">
        {{ field.errors }}
        {% endif %}
     
        {% if form.auto_id %}
            <div class="form-label pull-left">
                {{ field.label_tag }}
            </div>
            {{ field|attr:"placeholder:" }}
            {% elif is_boolean %}
            <div class="form-label pull-left">
                {{ field.label_tag }}
            </div>{{field}}
            {% elif field.name == 'address-country_code' %}
            {% country_select html_id="id_address-country_code" region_html_id="id_address-country_sub_division_code" %}
            {% elif field.name == 'address-country_sub_division_code' %}
            {% region_select html_id="id_address-country_sub_division_code" %}
            {% else %}
                {{ field  }}
            {% endif %}
            {% if field.help_text %}
            <span class="help-block">{{ field.help_text }}</span>
            {% endif %}
            {% if field.errors %}
            <div class="clear"></div>
        {% endif %}
        {% if field.errors %}
        </div>        
        {% endif %}
        <div class="clear"></div>
        {% endif %}
        {% endfor %}
</fieldset>
