{% comment %}
form-error-highlight.html -- simple loop for displaying forms/modelforms.

Usese the following default django template tags:

hidden -- built in for all hidden form fields.
form -- the rest of the form.
{% endcomment %}
{% load widget_tweaks %}
{% load form_tags %}
{% load selection_boxes %}
<fieldset>
    {# Include but don't display hidden fields #}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    
    {# Include the visible fields #}
    {% for field in form.visible_fields %}
        {% is_boolean_field field as is_boolean %}
        {% is_select_field field as is_select %}

        {% if is_boolean or not form.only_show_required or form.only_show_required and field.field.required %}
            {% if field.errors %}

            <span class="required">

            {% endif %}

            {# Don't show placeholder text if auto_id is True #}
            {% if form.auto_id %}

                <div class='span3 form-label pull-left {{field.auto_id}}'>
                    {% add_required_label field %}
                </div>
                <div class="profile-form-input">
                    {{ field|attr:"placeholder:" }}
                </div>

            {% elif is_select %}

                {% if field.html_name == "use_code" %}

                <div class="span3 form-label pull-left initial">
                    {% add_required_label field %}
                </div>
                <div class="profile-form-input">
                    {{field}}
                </div>

                {% else %}

                <div class="span3 form-label pull-left initial">
                    {% add_required_label field %}
                </div>
                <div class="profile-form-input">
                    {{field}}
                </div>

                {% endif %}

            {% elif is_boolean %}

            <div class="span3 form-label pull-left checkbox-label">
                {% add_required_label field %}
            </div>
            <div class="profile-form-input">
            {{field}}
            </div>

            {% elif 'country_code' in field.html_name %}

            <div class="span3 form-label pull-left">
                <div class="clear"></div>
                {% with "id_"|add:form.prefix|add:"-country_sub_division_code" as region_id %}
                {% country_select selected="USA" html_id=field.id_for_label  region_html_id=region_id input_name=field.html_name %}
                {% endwith %}
            </div>

            {% else %}

                {% if '_dialing' in field.html_name or field.html_name == "ph-number" or field.html_name == "ph-extension" or field.html_name == "number" or field.html_name == "extension" %}

                <div class="span3 form-label pull-left initial">
                    {% add_required_label field %}
                </div>
                <div class="profile-form-input">
                    {{field}}

                    {% if field.help_text %}

                    <span class="help-block">{{ field.help_text }}</span>

                    {% endif %}
                </div>

                {% else %}

                <div class="span3 form-label pull-left initial">
                    {% add_required_label field %}
                </div>
                <div class="profile-form-input">
                    {{ field  }}

                    {% if field.help_text %}

                    <span class="help-block">{{ field.help_text }}</span>

                    {% endif %}
                </div>

                {% endif %}

            {% endif %}

            {% if field.errors %}
                </span>
            {% endif %}

            <div class="clear"></div>

        {% endif %}

        {% if field.html_name == "gravatar" %}

        <div class="form-label pull-left">
            {{ gravatar_100 }}
        </div>
        <div class="clear"></div>

        {% endif %}

    {% endfor %}
</fieldset>
