{% comment %}
form-error-highlight.html -- simple loop for displaying forms/modelforms.

Usese the following default django template tags:

hidden -- built in for all hidden form fields.
form -- the rest of the form.
{% endcomment %}
<style>
.input{
}
.form-label{
    text-align: right;
    margin-right: 20px;
    width: 180px;
}
.form-label label{
    font-weight: bold;
}
.clear{
    clear: both;
}
</style>
<fieldset>
    {# Include but don't display hidden fields #}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    
    {% if form.errors %}
    {% for error in form.non_field_errors %}
    <p>{{error}}</p>
    {% endfor %}
    {% endif %}
    
    {# Include the visible fields #}
    {% for field in form.visible_fields %}
        {# if it's an error put it in a red box #}
        {% if field.errors %}
        <div class="alert-message block-message error">
        {{ field.errors }}
        {% endif %}
        {% if form.auto_id %}
            <div class="form-label pull-left">
                {{ field.label_tag }}
            </div>
            {% endif %}
            <div class="input pull-left">
                {{ field }}
                {% if field.help_text %}
                    <span class="help-block">{{ field.help_text }}</span>
                {% endif %}
            </div>        
            {% if field.errors %}
            <div class="clear"></div>
        {% endif %}
        {% if field.errors %}
        </div>        
        {% endif %}
        <div class="clear"></div>
    {% endfor %}
</fieldset>
