{% load i18n %}
{% comment %}
help-edit-profile.html -- how to edit your my.jobs profile formatted for featurebox.
{% endcomment %}
<h3>{% trans "Your Public Profile" %}</h3>
<p>
{% blocktrans %}
Make sure you enter only accurate information that you would want seen by the 
public or by a potential employer on you my.jobs profile. 
{% endblocktrans %}
</p>
<h3>{% trans "Discover Opportunities" %}</h3>
<p>
When you check allow .jobs Career Site owners to contact me, you may be contacted
from time to time by employers looking for someone like you. It is a great way to
get the inside track to a new job.
</p>
<h3>{% trans "Activating Your Profile" %}
<p>
{% blocktrans %}
If you activate your public profile, it will be available to anyone on the 
internet and may appear in search results on Google, Bing and other search 
engines.
{% endblocktrans %}
</p>
