{% load i18n %}
<form action="" method="post" id="profile-form">
<div class="span8" id="newAccountData">
    <div class="row">                                            
        <div class="span4">
            <div class="profile-unit">
                <h4>{% trans "Personal Information" %}</h4>
                {{ name_form.as_ul }}
                {# include 'includes/form-error-highlight.html' with form=name_form #}
            </div>
            <div class="profile-unit">
                <h4>{% trans "Primary Contact Info" %}</h4>
                {{ address_form.as_ul }}
                {{ phone_form.as_ul }}
                {# include 'includes/form-error-highlight.html' with form=address_form #}  
                {# include 'includes/form-error-highlight.html' with form=phone_form #}
                <input type="text" id="usaPhoneField" name="friendlyPhoneField" 
                    class="friendlyPhoneField" placeholder="Phone Number"/>
                <br/>
            </div>
        </div>
        <div class="span4">
            <div class="profile-unit">
                <h4>{% trans "Most Recent Job" %}</h4>
                {{ work_form.as_ul }}
                {# include 'includes/form-error-highlight.html' with form=work_form #}
            </div>
            <div class="profile-unit">
                <h4>{% trans "Most Recent Education" %}</h4>
                {{ education_form.as_ul }}
                {# include 'includes/form-error-highlight.html' with form=education_form #}
            </div>
        </div>            
        {% csrf_token %}
    </div> 
</div>
<div class="actions span8 offset4">
    <button type="submit" class="btn primary pull-right" value="save" id="save">
      Save
    </button>
    <button class="btn pull-right" id="profile">Skip: Take me to my profile</button>
    <div class="clear"></div>
</div>
</form>
