{% load i18n %}
{% comment %}
meta.html -- default page metadata 
{% endcomment %}
<title>{% block title-content %}{{ site_name }}{% endblock title-content %}</title>
<meta name="description" content="{{ description }}">
<meta name="author" content="DirectEmployers Foundation">

{# DE UI Framework #}
<meta name="viewport" content="width=device-width"/>
<link href="http://css.nlx.org/framework/css/def.ui.css" rel="stylesheet" type="text/css">
<script src="http://js.nlx.org/framework/js/def.ui.core.js"></script>


{# Le My.Jobs Specific Stuff#}
<script type="text/javascript" src="{{ STATIC_URL }}my.jobs.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery.lightbox_me.js"></script>
<link href="{{ STATIC_URL }}my.jobs.css" rel="stylesheet" type="text/css">

{# Le Favicon #}
<link rel="icon" type="image/png" href="{{ STATIC_URL }}favicon.ico">


