{% load i18n %}
{% comment %}
meta.html -- default page metadata 
{% endcomment %}
<title>{% block title-content %}{{ site_name }}{% endblock title-content %}</title>
<meta name="description" content="{{ description }}">
<meta name="author" content="DirectEmployers Foundation">
<meta http-equiv="X-UA-Compatible" content="IE=9" >
<meta name="viewport" content="width=device-width"/>
<script src="http://js.nlx.org/framework/js/def.ui.core.js"></script>
<script src="{{ STATIC_URL }}my.jobs.js"></script>

<link href="{{ STATIC_URL }}my.jobs.css" rel="stylesheet" type="text/css">
<!--[if IE]>
<link href="{{ STATIC_URL }}my.jobs.ie.css" rel="stylesheet" type="text/css">
<![endif]-->
<link rel="icon" type="image/png" href="{{ STATIC_URL }}favicon.ico">
