{% load i18n %}
{% comment %}
topbar.html -- Implements basic my.jobs nav.
{% endcomment %}
<div class="topbar" data-dropdown="dropdown">
    <div class="topbar-inner">
        <div class="wrapper">
        <div class="row">
            <div class="span2">
            <a href="/">
               <h3 id="topbar-logo" class="pull-left">my.jobs</h3>
            </a><span id="alpha-flag">alpha</alpha>
            </div>
            <div class="pull-right">
            <div class="inline-inputs">
                {% if user.is_authenticated %}
                <div class="span6">&nbsp;</div>
                <div class="menu-bar span4 pagination-right pull-right">
                    <ul id="nav">
                        <li><a href="" class="main-nav">
                                {% trans "Logged in as " %} 
                                <b>
                                {% if user.first_name %}
                                    {{user.first_name}}
                                {% else %}
                                    {{user.email|truncatechars:25}}
                                {% endif %} 
                                </b>
                                <span class="arrow"></span>
                            </a>
                            <ul class="span4" id="pop-menu">
                                <li><a href="{% url 'view_account' %}">{% trans "View Account" %}</a></li>
                                <li><a href="{% url 'edit_account' %}">{% trans "Edit Account" %}</a></li>
                                <li><a href="{% url 'change_password' %}">{% trans "Change Password" %}</a></li?
                                <li><a href="{% url 'auth_logout' %}">Log Out</a></li>
                            </ul></a>
                        </li>
                    </ul>
                </div>
                {% else %}
                <div class="span10 pull-right pagination-right" id="topbar-login">
                {% block topbarlogin %}
                {% include "includes/widget-top-bar-login.html" with form=loginform %}
                {% endblock %}
                </div>
                {% endif %}
            </div> <!-- /inline-inputs -->         
        </div>
        </div>
        </div>
    </div><!-- /topbar-inner -->
</div>
