{% load i18n %}
{% comment %}
topbar.html -- Implements basic my.jobs nav.
{% endcomment %}
<div class="topbar" data-dropdown="dropdown">
  <div class="topbar-inner">
    <div class="container">
      <h3><a href="/">my.jobs</a></h3> 
      <ul class="menu">
	{% if user.is_authenticated %}
	  <li class="active"><a href="#">{% trans "Profile" %}</a></li>
      <li><a href="/share">{% trans "Share" %}</a></li>
	{% endif %}
      </ul> 
      <div class="pull-right">
	<div class="inline-inputs">
	  <form action="/" method="get">
	    <fieldset>
	      {% if user.is_authenticated %}
		<a class="btn small danger" href="{% url auth_logout %}">{% trans "logout" %}</a>
	      {% else %}
		<a class="btn small success" href="{% url auth_login %}">{% trans "log in / join" %}</a>
	      {% endif %}
	    </fieldset>
	  </form>
	</div> <!-- /inline-inputs -->         
      </div>
    </div>
  </div><!-- /topbar-inner -->
</div>
