{% load i18n %}
{% comment %}
widget-connectify.html -- Implements social connect buttons. 

Widget produces social buttons for each unassociated social network.
{% endcomment %}
<span>
  <p id="socialLogin">
    {% for name in social_auth.not_associated.oauth %}
      <a href="{% url socialauth_associate_begin name %}" id="{{ name.title }}">{% trans "Connect to your" %} {{ name.title }} {% trans "account" %}</a>  
    {% endfor %}
    {% for name in social_auth.not_associated.oauth2 %}
      <a href="{% url socialauth_associate_begin name %}" id="{{ name.title }}">{% trans "Connect to your" %} {{ name.title }} {% trans "account" %}</a>
    {% endfor %}
    {% for name in social_auth.not_associated.openid %}
      {% if name != "openid" %}
        <a href="{% url socialauth_associate_begin name %}" id="{{ name.title }}">{% trans "Connect to your" %} {{ name.title }} {% trans "account" %}</a>
      {% endif %}
    {% endfor %}
  </p> 
</span>
{# end of connectify widget #}
