{% load i18n %}
<table class="table table-bordered table-striped small-margin">
    {% for item in module %}
        <tr id="{{item.get_model_name}}-{{item.id}}-item">
            <td>
                <b>{{ item.email }}</b>
            </td>
            <td>
                {% if item.verified %}
                Verified
                {% else %}
                Not Verified
                {% endif %}
            </td>
            <td class='action'>
                <a class="btn-link" href="{% url 'get_details' %}?id={{ item.id }}&module={{ item.get_verbose.title }}">{% trans 'Details' %}</a>
                <a class="btn-link" href="{% url 'handle_form' %}?id={{ item.id }}&module={{ item.get_verbose.title }}">{% trans 'Edit' %}</a>
            </td>
        </tr>
    {% endfor %}
</table>