{% load i18n %}
<table class="table table-bordered table-striped small-margin">
    {% for item in module %}
        <tr id="{{item.get_model_name}}-{{item.id}}-item">
            <td>
                <b>{{ item.use_code }}</b>
            </td>
            <td>
                {# One liner because django likes to add spaces if there are more than one line. #}
                {% if item.country_dialing %}{{ item.country_dialing }}-{% endif %}{% if item.area_dialing %}{{ item.area_dialing }}-{% endif %}{{ item.number }}

                {% if item.extension %}

                Ext. {{ item.extension }}

                {% endif %}
            </td>
            <td class='action'>
                <a class="btn-link" href="{% url 'get_details' %}?id={{ item.id }}&module={{ item.get_verbose.title }}">{% trans 'Details' %}</a>
                <a class="btn-link" href="{% url 'handle_form' %}?id={{ item.id }}&module={{ item.get_verbose.title }}">{% trans 'Edit' %}</a>
            </td>
        </tr>
    {% endfor %}
</table>