{% load i18n %}

<table style="border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; border: 1px solid #ddd; border-collapse: separate; border-spacing: 0; display: table;">
    <tr>
        <td colspan=2>
            <table>
                <tr>
                    <td style="text-align: left;"><a href="https://secure.my.jobs"><img src="https://secure.my.jobs/files/static/images/myjobs_logo.png" alt="My.Jobs logo"></a></td>
                    {% block email-title %}
                    <td style="text-align: left; vertical-align: center;"><b>Saved Search Results</b></td>
                    {% endblock %}
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan=2>
            {% block content %}
            {% endblock %}
        </td>
    </tr>
    <tr>

        {% with saved_search=saved_searches.0.0 %}

        <td colspan=1 style="width: 33%; border-left: 1px solid #ddd; padding: 8px; line-height: 20px; border-top: 1px solid #ddd;">
            <a href="https://secure.my.jobs{% url 'view_profile' %}?verify-email={{saved_search.user.email}}">{% trans 'My Profile' %}</a><br>
            <a href="https://secure.my.jobs{% url 'saved_search_main' %}?verify-email={{saved_search.user.email}}">{% trans 'Saved Searches' %}</a><br>
            <a href="https://secure.my.jobs{% url 'edit_account' %}?verify-email={{saved_search.user.email}}">{% trans 'Account Settings' %}</a><br>
        </td>
        <td colspan=1 style="border-left: 1px solid #ddd; padding: 8px; line-height: 20px; border-top: 1px solid #ddd;">
            {% block footer-right %}
            {% endblock %}
            <a href="https://secure.my.jobs{% url 'unsubscribe_all' %}?verify-email={{saved_search.user.email}}">{% trans 'Unsubscribe from all My.jobs emails' %}</a><br>
        </td>

        {% endwith %}

    </tr>
    <tr>
        <td colspan=2 style="border-left: 1px solid #ddd; padding: 8px; line-height: 20px; border-top: 1px solid #ddd;">
            <p>My.jobs <a href="https://secure.my.jobs{% url 'terms' %}">Terms</a> and <a href="https://secure.my.jobs{% url 'privacy' %}">Privacy</a></p>
        </td>
    </tr>
</table>

