<table style="border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; border: 1px solid #ddd; border-collapse: separate; border-spacing: 0; display: table;">
    <tr>
        <td colspan=2>
            <table>
                <tr>
                    <td style="text-align: left;"><a href="http://my.jobs"><img src="http://my.jobs/files/static/images/myjobs_logo.png" alt="My.Jobs logo"></a></td>
                    {% block email-title %}
                    <td style="text-align: left; vertical-align: center;"><b>Saved Search Results</b></td>
                    {% endblock %}
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan=2>
            {% block content %}
                There are no results for today!
            {% endblock %}
        </td>
    </tr>
    <tr>
        <td colspan=1 style="width: 33%; border-left: 1px solid #ddd; padding: 8px; line-height: 20px; border-top: 1px solid #ddd;">
            Saved Search Settings<br>
            <a href="http://my.jobs{% url 'saved_search_main' saved_searches.0.user.email %}">change settings</a>
        </td>
        <td colspan=1 style="border-left: 1px solid #ddd; padding: 8px; line-height: 20px; border-top: 1px solid #ddd;">
            {% block footer %}
            {% endblock %}
        </td>
    </tr>
    <tr>
        <td colspan=2 style="border-left: 1px solid #ddd; padding: 8px; line-height: 20px; border-top: 1px solid #ddd;">
            <p>My.jobs <a href="http://my.jobs/terms">Terms</a> and <a href="http://my.jobs/privacy">Privacy</a></p>
        </td>
    </tr>
</table>

