{% extends 'mysearches/email_base.html' %}

{% load i18n %}

{% block content %}
    {% include 'mysearches/email_table_include.html' with saved_search=saved_searches.0 %}
{% endblock %}

{% block footer-right %}
    Sent to: {{saved_searches.0.0.email}}<br>
    Sent as Digest: No<br>
    <a href="my.jobs{% url 'unsubscribe' user_email=saved_searches.0.0.user.email search_id=saved_searches.0.0.id %}">{% trans 'Deactivate this saved search' %}</a><br>
    <a href="my.jobs{% url 'unsubscribe' user_email=saved_searches.0.0.user.email search_id='digest' %}">{% trans 'Deactivate all saved searches' %}</a><br>
{% endblock %}
