{% extends 'mysearches/email_base.html' %}
{% load email_tags %}

{% block email-title %}
<td style="text-align: left; vertical-align: middle;"><b>Saved Search Confirmation</b></td>
{% endblock %}

{% block content %}
    <div style="margin-left:auto;margin-right:auto; width:95%;">
        <p>On {{ saved_searches.0|time_created }} (UTC), the following saved search was added to
            your account:</p>

        <table style="width: 100%; border-spacing:0; display: table;">
            <tr>
                <td style="border: 1px solid #ddd; border-bottom:0; padding: 5px 7px; text-align: right;">Name:</td>
                <td style="border: 1px solid #ddd; border-bottom:0; border-left: 0; padding: 5px 7px"><b>{{ saved_searches.0.label.title }}</b></td>
            </tr>
            <tr>
                <td style="border: 1px solid #ddd; border-bottom:0; padding: 5px 7px; text-align: right;">Source:</td>
                <td style="border: 1px solid #ddd; border-bottom:0; border-left: 0; padding: 5px 7px"><b>{{ saved_searches.0.url }}</b></td>
            </tr>
            <tr>
                <td style="border: 1px solid #ddd; padding: 5px 7px; text-align: right;">Email Used:</td>
                <td style="border: 1px solid #ddd; border-left: 0; padding: 5px 7px"><b>{{ saved_searches.0.email }}</b></td>
            </tr>
        </table>
        <p>If you created this saved search, then you can disregard this email. However, if this search was not
            created by you then you may use the link below to delete this saved search.</p>
        <div style="text-align: center">
            <a href="http://my.jobs{% url 'delete_saved_search' user_email=user.email search_id=saved_searches.0.id %}" style="line-height: 20px;vertical-align: middle;cursor: pointer;display:inline-block;padding: 4px 12px;border: 1px solid #bbb; border-radius: 5px; background-color: #b34529; background-image: -webkit-linear-gradient(#db5938,#b34529); background-image: linear-gradient(#db5938,#b34529);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#db5938', endColorstr='#b34529', GradientType=0);margin-top: 2px;padding-left: 25px;padding-right: 25px;color: #fff !important;text-decoration: none !important; margin-left: auto !important; margin-right:auto !important; text-align: center; font-size: 1.1em; font-weight: bold;margin-bottom: 10px !important;">
                Delete "{{ saved_searches.0.label.title }}"
            </a>
            <br>
            <a href="http://my.jobs{% url 'saved_search_main' user.email %}" style="line-height: 20px;vertical-align: middle;cursor: pointer;display:inline-block;padding: 4px 12px;border: 1px solid #bbb; border-radius: 5px; background-color: #e6e6e6;background-image: -webkit-linear-gradient(#ffffff,#e6e6e6); background-image: linear-gradient(#ffffff,#e6e6e6);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);margin-top: 2px;padding-left: 25px;padding-right: 25px;color: #333 !important;text-decoration: none !important; margin-left: auto !important; margin-right:auto !important; text-align: center; font-size: 1.1em;font-weight: bold; margin-bottom: 30px !important;">
                View "{{ saved_searches.0.label.title }}" on My.Jobs
            </a>
            <br>
        </div>
    </div>
{% endblock %}

{% block footer-right %}
    Sent to: {{saved_searches.0.email}}<br>
    Sent as Digest: No<br>
    <a href="http://my.jobs{% url 'unsubscribe' user_email=user.email search_id=saved_searches.0.id %}">unsubscribe</a><br>
{% endblock %}
