{% load email_tags %}

<table width="98%" style="margin: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; border: 1px solid #ddd; border-collapse: separate; border-spacing: 0; display: table; font-size: 10px; line-height: 20px;">
    <tr>
        <th style="text-align: left;"><b style="font-size: 14px;"><a href="http://my.jobs/saved-search/{{saved_search.id}}" style="text-decoration: none; color: #333;">{{saved_search.label}}</a></b></th>
        <th style="text-align: right;"><p style="font-size: 10px; color: 555;">Frequency: {{saved_search.frequency|make_verbose_frequency}} {% if digest %}(Digest){% else %}(Individual){% endif %}</p></th>
    </tr>
    {% with items=saved_search.get_feed_items odd="background-color: #eae6de;" even="background-color: #d2cfc7;"%}
        {% if items %}
            {% for item in items %}
                <tr>
                    <td colspan=2 style="border-left: 1px solid #ddd; padding: 8px; line-height: 20px; border-top: 1px solid #ddd; {% if forloop.counter|divisibleby:2 %}{{even}}{% else %}{{odd}}{% endif %}">
                        <a href="{{item.link}}" style="text-decoration: none; color: #333;">
                            <b>{{item.title}}</b><br>
                            {{item.description|truncatechars:200}}<br>
                            <i>Acquired: {{item.pubdate}}</i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan=2 style="font-size: 12px;">
                    There are no results for today! <br/>
                    You are subscribed to receive this email {{saved_search.frequency|make_verbose_frequency|lower}}, even when there are no results. <a href="http://my.jobs{% url 'saved_search_main' %}">Click here</a> to change this setting.
                </td>
            </tr>
        {% endif %}
    {% endwith %}
</table><br>
