{% extends 'mysearches/email_base.html' %}

{% load i18n %}
{% load form_tags %}

{% block content %}
    {% for saved_search in saved_searches %}
        {% include 'mysearches/email_table_include.html' with saved_search=saved_search %}
    {% endfor %}
{% endblock %}

{% block footer-right %}
    Sent to: {{saved_searches.0.0.email}}<br>
    Sent as Digest: {{digest.is_active|readable_boolean}}<br>
    <a href="http://my.jobs{% url 'unsubscribe' search_id='digest' %}?verify-email={{saved_searches.0.0.user.email}}">Deactivate all saved searches</a><br>
{% endblock %}
