{% extends 'mysearches/email_base.html' %}
{% load email_tags %}

{% block email-title %}
<td style="text-align: left; vertical-align: center;"><b>Saved Search Confirmation</b></td>
{% endblock %}

{% block content %}
    <p style="font-size: 14px;"> A Saved Search was created, {{saved_searches.0.label}} for {{ saved_searches.0.email }}.</p>
    <p style="font-size: 14px;"> Your Saved Search results for today:</p>
    {% include 'mysearches/email_table_include.html' with saved_search=saved_searches.0 %}
{% endblock %}

{% block footer %}
    Sent to: {{saved_searches.0.email}}<br>
    Sent as Digest: No<br>
    <a href="http://my.jobs{% url 'unsubscribe' search_id=saved_searches.0.id %}">unsubscribe</a><br>
{% endblock %}

</table>