{% extends "myjobs_base.html" %}
{% load i18n %}
{% block meta-extra %}
<script src="{{ STATIC_URL }}saved-search.js"></script>
{% endblock %}

{% block content %}

<section><div class="section subpage">
<div class="wrapper"> 
  <div class="row">
    <div class="span8">
      <div class="formBox">
        <h1>{% trans "Save a Search" %}</h1>
        <form action="" method="post" id="saved-search-form">
          {% include "includes/form-error-highlight.html" %}
          {% csrf_token %}
          <div class="actions">
            <a href="{% url 'saved_search_main' %}" class="btn pull-right">{% trans 'Cancel' %}</a>
            <button type="submit" class="btn primary pull-right" value="submit">Save</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</section>

{% endblock %}
