{% extends "base.html" %}
{% load common_tags %}
{% load i18n %}

{% block site-title %}
    <title>Saved Search - My.jobs</title>
    <meta name="title" content="Saved Search - My.jobs">
{% endblock %}
{% block meta-extra %}
<script src="{{ STATIC_URL }}saved-search-edit.js{% cache_buster %}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        <h1>

            {% if search_id %}

            {% trans "Edit" %}

            {% else %}

            {% trans "New" %}

            {% endif %}

            <small>{% trans "Saved Search" %}</small>
        </h1>
    </div>
</div>

<div class="row">
    <div class="span10 offset1">
        <form method="post" action="{% url 'save_search_form' %}" id="saved-search-form">
            {% include "includes/form-error-highlight.html" %}
            <input type="hidden" name="search_id" value="{{search_id}}" />
            {% csrf_token %}
            <div class="clear"></div>

            <div class="actions">
                <div class="form-label pull-left">&nbsp;</div>

                {% if search_id and search_id != 'None' %}

                <button type="button" data-toggle="modal" data-target="#delete-confirm" class="btn ">{% trans 'Delete' %}</button>
                <div id="delete-confirm" class="modal hide fade">
                    <div class="modal-header">
                        <button class="close" aria-hidden="true" data-dismiss="modal" type="button">&times;</button>
                        {% trans 'Really Delete?' %}
                    </div>
                    <div class="modal-body">

                        {% blocktrans %}

                        Are you sure you want to delete this saved search, {{ form.instance.label }}

                        {% endblocktrans %}

                    </div>
                    <div class="modal-footer">
                        <div class="actions">
                            <button data-dismiss="modal" class="btn primary pull-right">{% trans 'Cancel' %}</button>
                            <a class="btn pull-right" href="{% url 'delete_saved_search' user.email search_id %}">{% trans 'Delete' %}</a>
                        </div>
                    </div>
                </div>

                {% endif %}

                <a href="{% url 'saved_search_main' %}" class="btn">{% trans 'Cancel' %}</a>
                <button type="submit" id="edit_search" class="btn primary save">{% trans 'Save' %}</button>
                <div class="clear"></div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
