{% load label_tags %}
{% load humanize %}

<tr id="saved-search-{{search.id}}">
    <td class="view_search"><div class="pull-left">{{ search.label }}</div>{% make_label search.is_active "pull-right" %}</td>
    <td class="url mobile_hide {% if not search.is_active %}muted{% endif %}"><a href="{{ search.url }}" target="_blank">{{ search.url }}</a></td>
    <td class="frequency mobile_hide {% if not search.is_active %}muted{% endif %}">

        {% if search.frequency == "W" %}

        Weekly:<br />
        On {{ search.get_verbose_dow }}

        {% elif  search.frequency == "M" %}

        Monthly:<br />
        On the {{ search.day_of_month|ordinal }}

        {% else %}

        Daily

        {% endif %}

    </td>
    <td class="buttons">
        <a href="{% url 'view_full_feed' search_id=search.id %}" class="btn mobile_hide">View</a>
        <a href="{% url 'edit_search' search.id %}" class="btn edit">Edit</a>
    </td>
</tr>
