{% extends "base.html" %}
{% load common_tags %}
{% load i18n %}

{% block site-title %}
    <title>Saved Search - My.jobs</title>
    <meta name="title" content="Saved Search - My.jobs">
{% endblock %}
{% block meta-extra %}
<script src="{{ STATIC_URL }}saved-search-main.js{% cache_buster %}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        <h1>{% trans "Your" %} <small>{% trans "Saved Searches" %}</small></h1>
    </div>
</div>

<div class="row">
    <div class="span12">

        {% if updated %}

        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {% if updated == 'all' %}
                All Saved Searches have been deleted.
            {% else %}
                Saved Search "{{ updated }}" has been deleted.
            {% endif %}
        </div>

        {% endif %}

        <div id="saved-search-list">

            {% if saved_searches %}

            {% include 'mysearches/saved_search_table.html'  with saved_searches=saved_searches %}

            {% else %}

            <p>No Saved Searches!</p>

            {% endif %}

            <div class="actions">
                <a id="new_btn" class="btn" href={% url 'edit_search' %}>{% trans 'New Saved Search' %}</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="formBox span7">
    <h5>Digest Options</h5>
    <p>
    Check the box below if you would like to receive a single digest email 
    containing the results of each of your saved searches. This will be in place 
    of separate emails for each active saved search.
    </p>
    <form method="post" action="{% url 'save_digest_form' %}" id="digest-option">
        {% csrf_token %}
        <div>
            {{ form.is_active}}{{form.is_active.label_tag}}
            {{form.email}}
        </div>
        <div>
            {{ form.send_if_none }}{{form.send_if_none.label_tag}}
        </div>
        <div class="pull-right">
            <span id="saved"></span>
            <button type="submit" class="btn primary" id="digest_submit">{% trans 'Save' %}</button>
        </div>
        <div class="clear"></div>
    </form>
</div>
{% endblock content %}
