@import url(//d2e48ltfsb5exy.cloudfront.net/framework/v2/secure/css/def.ui.css);

/*Main Styles*/
body {
    background-color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    padding: 50px;
}

#titleRow {
    background: #FFF;
    margin-top: -26px;
    margin-bottom: -20px;
    min-height: 598px;     
}

.section {
    background-color: #FFF;
    border: 1px solid #333333;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: #5a6d81;
}
a:hover {
    color: #4B5661;
}

.activity-progress {
    height: 6px;
    width: 100px;
}

.site-progress {
    margin-bottom: 0;
}

/*Candidate Activity mobile desktop hide*/
.candidate-activity-mobile {
    display: none;
}

/*Employer Dashboard */
#user-list-details-table {
    overflow-y: auto;
    height: auto;
    max-height: 500px;
    overflow-x: hidden;    
}
.activity-mobile input {
    display: inline;
    width: 105px;
}

/* Sort by field in saved search save/edit */
label[for^='id_sort_by'], label[for^='id_edit_sort_by'] {
    display: inline;
    margin: 5px;
}

.profile-unit h4 {
    color: #000;    
}

.action th {
    background-color: #FFF;   
}

.hasRegions {
    position: relative;
    margin-left: 200px;
    margin-top: -27px;
}

#profileTitleRow{
    margin-bottom: 20px;
}
#profileTitleRow img{
    border-radius:5px;
    border: 2px solid #873f3d;
}
#profileTitleBar{
    border-bottom: 2px solid #873f3d;
}

.profile-form-input input[type!=checkbox] {
    width: 40%;
}

.profile-action-form {
    display: inline;
}

#profile-form-description {
    padding-left: 10%;
    padding-right: 10%;
}

#profile-completion {
    font-weight: bold;
    line-height: 25px;
    padding: 6px !important; 
}

#highlight {
    color: #a95051;
}

#moduleColumn .add-module-btn {
    font-weight: normal;
}

.add-module-btn span{
    font-weight: bold;
}
    
.reset-form-input input[type="text"], .reset-form-input input[type="password"] {
    width: 100%;
}

#moduleBank {    
    z-index:99;  
}

table#row-link-table {
    border-collapse: collapse;   
}

#row-link-table tr {
    background-color: rgb(250, 250, 250);    
}

#row-link-table tr:hover {
    background-color: #d2cfc7;
}

#row-link-table th {
    background-color: rgb(250, 250, 250);
    text-align: left;
    border-top: none;
}

#row-link-table th, #row-link-table td {
    padding: 2px;
}

#row-link-table td:hover {
    cursor: pointer;
}

#row-link-table td {
    padding: 5px;
    width: 40%;    
    border-bottom: 1px solid #eae6de;
}

#row-link-table td:first-child {    
    width: 10%;
}

#row-link-table ul {
    list-style-type: none;
    margin-left: -10px;
}

.link-list {     
    list-style-type: none; 
    background-color: rgb(250, 250, 250);
    margin: 0;
    padding: 0;    
}

.link-list li {
    display: block;
    background-color: rgb(250, 250, 250);
    border-bottom: 1px solid #eae6de;
    padding: 5px;      
}

.link-list li:last-child {
    border: none;
}

.move-left {
    margin-left: -75px;
}

.primary-btn-padding {
    padding: 10px;
}

.text-middle {
    vertical-align: middle;   
}

.candidate-name {
    font-size: 1.5em;   
}

.candidate-name-bold {
    font-weight: bold;   
}

.microsite-name {
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
    font-family: inherit;
}

#no-activity {    
    background-color: #FFF;
    width: 95%;    
    padding: 10px;
}

.btn + .btn-success {
    color: #FFF !important;  
}

.accordion-body {
    background-color: rgb(250, 250, 250);   
}

.centered {
    text-align: center;
}

/* Django Endless paging style modifications */
.endless_container .btn {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    margin-top: 10px;
}

.endless_container .btn + .btn {
    margin-left: 0px;
}

/*Microsite Activity*/
#header-inline h1, #header-inline h4 {
    display: inline;      
}

.margin-left {
    padding-left: 18px;
    padding-right: 5px;    
}

.activity-table td {
    width: 50%;
}

.microsite-list {
   margin-left: 15px;
   padding: 0 0 0 5px;
}

/*Ajax Indicator*/
#ajax-busy {
    display: none;    
    position: fixed;
    left: 31%;
    top: 30%;
    width: 400px;
    height: 150px;
    text-align: center;
    background: #FFF url(images/ajax-loader.gif) no-repeat center center;
    opacity: .75;
    border: 1px solid #000;
    z-index: 9999;
}   
    
/* bootstrap .table-striped class */
.table-striped thead th {
    background-color: #FFF;
    color: #000;
}    

.table-striped tbody tr:nth-child(even) td {
    background-color: #cbcbcb !important;
}

.table-striped tbody tr:nth-child(odd) td {
    background-color: #ddd !important;
}

.table-bordered th,
.table-bordered td{
    border-left: 1px solid #E5E5E5;
}

/*New Account initial form*/
#newAccountData .initial {
    display: none;   
}

#newAccountData .profile-form-input input[type!=checkbox] {
    width: 95%;   
}

#newAccountData .input-prepend {
    width: 95%;  
}

#newAccountData .hasRegions {
    margin-left: -20px;  
}

#newAccountData li {
    display: block;
    width: 100%;
}

#newAccountData li label {
    display: none;
}

#newAccountData li input, 
#newAccountData li select {
    width: 100%;
}

#newAccountData label[for="id_work-current_indicator"] {
    display: inline;
}

#newAccountData #id_ph-area_dialing {
    float: left;
    width: 30%;
}

#newAccountData #id_ph-number {
    float: right;
    width: 67%;
    clear: right;
}

#newAccountData hr {
    margin: 0 0 10px 0;
    border-top: 1px solid #a3aeb1;
    border-bottom: none;
}

#newAccountData .errorlist {
    margin: 0;
    padding: 0;
}

#newAccountData .errorlist li {
    color: #a95051;
}

/* Contact Form Styles */
#success-table tr td{
    min-width: 101px;
}

#success-table tr td + td{
    font-weight: bold;
}

/* Form Styles */
.form-label {
    text-align: right;
    margin-right: 20px;
    width: 180px;
}

.form-label label {
    font-weight: bold;
}

.ui-combobox {
    position: relative;
    display: inline-block;
}

.ui-combobox-toggle {
    padding: 8px 0 8px 0;
    position: relative;
    left: -2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

input.comboboxWidget {
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

ul.ui-autocomplete {
    height: 12em;
    overflow-y: scroll;
}

/*Topbar Styles*/
.topbar-inner {
    background-color: #444;
}

.topbar #topbar-logo {
    height: 30px;
    width: 100px;
    background: transparent url(//d2e48ltfsb5exy.cloudfront.net/myjobs/logos/myjobs_logo_white_small.png) center left no-repeat;
    text-indent: -9000px;
}

.topbar input {
    width: 100px;
    margin-right: 10px;  
}

.topbar input.text {
    height: 16px;
    width: 200px;
}

.topbar .btn {        
    padding-bottom: 2px;
}

.menu-tabs {
    border-bottom: 0 solid #444;
}

.topbar .menu-tabs a {
    border: 1px solid transparent !important;
    background-color: transparent;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding-top: 4px !important;
    padding-bottom: 5px !important;
}

.topbar .menu-tabs a:hover {
    color: #FFF;
    background-color: #a95051;
}

.menu-tabs .active a {
    background-color: #a95051 !important;
}

.formBox select {
    width: 221px;
}

form select {
    width: 262px;
}

fieldset select {
    width: 264px;
}

fieldset textarea,
.profile-form-input input[type="text"],
.profile-form-input input[type="password"] {
    width: 248px;
}

#title {
    padding-top: 60px;
    padding-bottom: 60px;
}

#title h1 {
    text-indent: -9000px;    
    display: block;
    height: 149px;
    margin-top: 40px;
    background: transparent url('//d2e48ltfsb5exy.cloudfront.net/myjobs/logos/myjobs_logo.png') 120px 0px no-repeat;
}
#title h2{
    text-indent: 120px;
    color: #a95051;
    text-shadow: 1px 1px #ccc;
}
#subtitle {
    font-size: 1.85em;
    line-height: 1.1em;
    color: #574e44;
    padding-top: 13px;
    font-weight: bold;
}

/*Content Box Styles*/
.profileBox {
    background-color: #f4f1ea;
    padding: 10px 10px 30px 10px;
    border: 2px solid #574E44;
    border-radius: 5px;
}

.formBox {
    background-color: #f2f2f2;
    padding: 5px 5px 10px 5px;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    border-radius: 5px;    
}

.loginBox {
    background-color: #f2f2f2;
    padding-bottom: 30px;
    border-radius: 5px;    
}

.formBox h2, 
.formBox h3, 
.formBox h4, 
.formBox h5, 
.formBox h6 {
    margin-left: -5px;
    margin-right: -5px;
    margin-top: -5px;
    background-color: #FFF;
    border-bottom: 1px solid #d5d4d0;
    border-top: 1px solid #d5d4d0;
    border-top-right-radius: 5px;
    border-top-left-radius:5px;
    padding: 5px 20px;
}

.formBox h3 {
    padding-bottom: 0;
}

.formBox h3.non-top {
    padding-bottom: 0;
    margin-top: 20px;
    border-radius: 0;
}

.formBox table {
    width: 100%;    
}

#titleRow .loginBox, #titleRow .profileBox {
    margin-top: 105px;   
}

.formBox + .formBox {
    margin-top: 20px;
}

.account-box {
    background-color: #FFF;
    padding: 10px 10px 30px 10px;
    border-radius: 5px;
    margin-top: 105px;   
}

.formBox,
.account-box h3 {
    color: #FFF;    
}

.formBox,
.account-box h3 {
    color: #000;    
}

.loginBox a {
    color: #5a6d81;
}

.loginBox a:hover {
    color: #5a6d81;
}

.loginBox .btn:hover {
    color: #FFF;
}

#account-page-2 .loginBox,
#account-page-2 .profileBox {
    padding-left: 0;
    padding-right: 0;
}

.loginBox + .loginBox {
    margin-top: 20px;
    border-color: #a3aeb1;
}

.profileBox + .profileBox {
    margin-top: 20px;
    border-color: #A95051;
}

.profileBox p {
    color: #000;    
}

.loginBox p {
    min-height: 36px;
}

.loginBox p,
.formBox p,
.account-box p {
    padding: 10px;
    margin-bottom: 0;
}

.formBox table {
    color: #000;
    background: #fff;
}

.formBox table.small-margin {
    margin: 5px 0;
}

.loginBox input, .profileBox input {
    /*display: block;*/
    padding: 4px 0;
    text-indent: 4px;
}

#titleRow input {
    width: 100%;
}

.loginBox input[type!=checkbox],
.initial-profileBox input[type=checkbox] {
    float: left;
    width: auto;
}

#account-page-2 .loginBox input,
#account-page-2 .initial-profileBox input[type=text] {
    width: 100%;
}

.initial-profileBox input.comboboxWidget,
.loginBox input.comboboxWidget,
#account-page-2 .loginBox input.comboboxWidget {
    width: 230px;
}

.loginBox label {
    display: none;
}

.loginBox .checkbox-label label,
.loginBox .select-label label,
.loginBox .add-on label {
    display: inline;
    text-align: left;    
}

.loginBox label[for=id_remember_me] {
    display: inline;
}

.loginBox li {
    display: block;
}

.loginBox .checkbox-label {
    padding-left: 10px;
}

.loginBox .select-label,
.loginBox .checkbox-label {
    text-align: left;
    width: auto;
}

.loginBox .help-block {
    display: block;   
    font-size: 1em;
    padding-right: 10px;
    text-align: right;
}

.loginBox form {
    margin-bottom: 0;
}

#newAccountData #id_work-current_indicator,
.loginBox input#id_remember_me {
    width: 15%;
}

#newAccountInfo {
    height: 100%:    
}

#newAccountData {
    margin-left: 10px;
    padding-left: 10px;
}

.profile-unit {
    background: #EFEADE;
    border: 1px solid #a3aeb1;
    padding: 10px;
    margin-bottom: 10px;
    -moz-border-radius: 4px;
    -webkit-order-radius: 4px;
    border-radius: 4px;
}

/*form styles*/
.btn {
    color: #5e6c82;
    text-shadow: 0 1px 1px rgba(114, 114, 114, .75) !important;
    background-color: #cccccc;
}

.btn + .btn {
    margin-left: 10px;
}

.btn.pull-right + .btn {
    margin-right: 10px;
}

.btn.primary {
    background-color: #5f6c82;
    background-image: none;
    background-image: -moz-linear-gradient(#8c96a1,#5f6c82);
    background-image: -webkit-gradient(linear, left top, left bottom, #8c96a1, #5f6c82);
    background-image: -webkit-linear-gradient(#8c96a1,#5f6c82);
    background-image: -o-linear-gradient(#8c96a1,#5f6c82);
    background-image: linear-gradient(#8c96a1,#5f6c82);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8c96a1', endColorstr='#5f6c82', GradientType=0);
    margin-top: 2px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight:bold;
    font-size: 1.1em;
    color: #fff
}

.btn-link{
    color: #5e6c82;
    padding: 0 15px;
}

.btn-link:hover{
    color: #4B5661;
}

.profile-form-input textarea {
    width: 248px;
    height: 100px;
}

.captcha {
    float:left;
    margin-left: -3px;
    line-height: 0;
}

.alert-message ul {
    list-style: none;
    padding: 5px 0 0 0;
    margin: 0;
}

.alert-message li {
    color: red;
}

.alert-error a {
    color: #a95051;
}

.input-prepend .add-on {
    width: 35%;
    text-align: right;
}

.text-right{
    text-align: right !important;
}

.input-prepend input,
.input-prepend select {
    width: 61.5%;
}

#account-page-2 .loginBox input[type="text"].phoneCountryCode,
.loginBox .phoneCountryCode,
.phoneCountryCode {
    width: 45px;
}

#account-page-2 .loginBox input[type="text"].phoneAreaCode,
.loginBox .phoneAreaCode,
.phoneAreaCode {
    width: 45px;
}

#account-page-2 .loginBox input[type="text"].phoneExtension,
#account-page-2 .loginBox input[type="text"].phoneNumber,
.loginBox .phoneExtension,
.loginBox .phoneNumber,
.phoneExtension,
.phoneNumber {
    width: 150px;
}

#usaPhoneField {
    margin-top: 10px;
    display: none;
}

.friendlyPhoneForm input[type=text],
.friendlyPhoneForm .input-prepend {
    display: none;
}

.friendlyPhoneForm #use_code_prependLabel {
    display: inline;
}

/*Alert and text styles*/
.pendingText {
    color: #a95051;
    padding-left: 20px;
}

em.pendingText {
    font-weight: bold;
}

#focusBox .alert-message.block-message.error,
#loginBox .alert-message.block-message.error {
    padding: 5px 10px;
    margin-left: -10px;
    margin-right: -10px;
}

.alert-message.block-message.error label {
    /*text-shadow: 1px 1px 1px #000;*/
}
    
/* Topbar Dropdown Styles*/
.topbar ul {
    list-style: none;
    text-align: left;
}

#nav:hover {
    background: #222;
	color: #000;
}

#nav > li {
    padding: 6px 2px 4px 2px;    
}

#nav a {
    color: #fff;
}

#nav .main-nav img {
    max-width: none;
    padding-left: 5px;
}

#nav .main-nav {
    color: #fff;
    text-decoration: none;
    display: block;
    padding-right: 4px;
    width: 40px;
}

.arrow-left {
    float: left;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 15px 20px 15px 0;
    border-color: transparent #FFF transparent transparent;
}


#nav ul#pop-menu {
    background:#444;
    padding: 0;
    margin: 3px 0 0 -2px;
    position:absolute;
    display: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 275px;
}

.topbar #nav .arrow {
    float: right;
    display: block;
    width: 0;
    border: 4px solid transparent;
    border-right: 6px solid #999;
    border-left: 0;
    margin-top: 6px;
    margin-top: -15px;
    margin-left: 30px;
    margin-bottom: 12px;
}

.topbar #nav:hover .arrow {
    border: 4px solid transparent;
    border-top: 6px solid #eee;
    border-bottom: 0;
    position: relative;
    left: 2px;
    top: 2px;
}

#pop-menu li {
    margin: 0;
    padding: 0;
    color: #FFF;
}

#pop-menu a {
	display: block;
	padding: 4px;
	background: #666;
	border-top: 1px solid #333;
}

#nav.active li ul#pop-menu {
	display: block;
	text-align: left;
}

#logged-in-li {
    padding: 4px !important;
}

#back-btn {
    border-right: 1px solid #FFF !important;
    height: 100% !important;
}

#back-btn-li {
    float: left;
    width: 40px !important;
    height: 100%;
    z-index: 999;
}

.sub-nav-item {
    margin-left: 40px;
}



#ui-datepicker-div {
    position: relative;
    z-index: 9999 !important;
}

/*Firefox fix for homepage alignment issues*/
@-moz-document url-prefix() {
    #title {
        margin-top: -25px;
    }

    #titleRow .loginBox {
        margin-top: 80px;
    }
}

@media screen and (min-width: 1025px) {
    #nav ul#pop-menu {
        right: 0;
    }

    #profile-link,
    #savedsearch-link,
    #candidate-link,
    #candidate-link-one,
    #settings-link {
        display: none !important;
    }
    
    #account-link, #logout-link {
        display: block;
    }

    .topbar ul {
        position: relative;
    }

    #nav li:hover ul#pop-menu {
        display: block;
        text-align: left;
    }

    #saved-search-list .buttons {
        width: 125px;
    }
}

#nav.active ul#pop-menu li a:hover,
#nav li:hover ul#pop-menu li a:hover {
	background:#444;
	color: #fff;
	text-decoration:none;
}

/* Account Creation Slider styles */
.color-bg {
    background:#D2CDC1;
    margin-bottom: 10px;
    margin-left: 10px;
}

.module {
    padding: 10px;
    height: 250px;
}

/* Profile screen styles */
#moduleBank a {
    display: block;
    width: 100%;
    padding: 10px 5px;
    font-weight: bold;
}

#moduleBank td {
    padding: 0;
}

#moduleBank a:hover {
    color:#fff;
    background-color: #5f6c82;
    background-image: none;
    background-image: -moz-linear-gradient(#8c96a1,#5f6c82);
    background-image: -webkit-gradient(linear, left top, left bottom, #8c96a1, #5f6c82);
    background-image: -webkit-linear-gradient(#8c96a1,#5f6c82);
    background-image: -o-linear-gradient(#8c96a1,#5f6c82);
    background-image: linear-gradient(#8c96a1,#5f6c82);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8c96a1', endColorstr='#5f6c82', GradientType=0);
    margin: 0;
    text-decoration: none;
}

#moduleColumn td.action {
    padding-left: 10px;
    padding-right: 10px;
    width: 135px;
}

/* Footer Styles */
.footer {
    padding-top: 10px;
}

.footer a {
    color: #666;
    padding: 10px;
}

input [type='text'] + .help-block,
div + .help-block,
div > .help-block{
    max-width: 250px;
    margin: -12px 0 5px 225px;
    color: #555;
    font-size: .85em;
    font-style: italic;
}

input[type='checkbox'] + .help-block {
    display:inline;
    padding-left: 5px;
}

form input[type='checkbox'] {
    margin-top: -1px;
}

#user-buttons input[type="button"] {
    margin-left: 20px;
    width: 180px;
    height: 45px;
}

#user-buttons #book {
    margin-bottom:10px;
}

#details-smallList {
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

#details-smallList li {
    margin:0;
    font-size: .9em;
    line-height: 13px;
}

.candidate-details .accordion,
.details-inner {
    margin-bottom: 0;
}

.candidate-details .accordion-group {
    border: 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
}

.candidate-details {
    border: 1px solid #ddd;
}

.candidate-details td {
    border-left: 0;
}

.candidate-details .accordion-heading,
.candidate-details .accordion-toggle {
    padding: 4px;
}

.candidate-details .accordion-inner,
.candidate-details .no-side-padding {
    padding: 0;
}

.candidate-details .accordion-body {
    max-height: 200px;
    overflow: auto;
    overflow-x: hidden;
}

.candidate-details .table {
    margin-top:-1px;
    margin-bottom: 0;
}

.candidate-details h3 {
    padding: 5px 10px;
    border-top:0;
}

#candidate-completion {
    margin-right: 32px;
    font-size: 13px;
    padding-left: 6px;
}

#candidate-progress {
    height: 15px;
}

#candidate-progress-mobile {
    margin-top: 5px;
    height: 8px;
    width: 50%
}

.details-heading {
    background-color: #d2cfc7;
    font-size: 1.3em;
    font-weight: bold;
}

.details-heading a {
    color: #333;
}

.details-heading a:hover {
    color: #333;
    text-decoration: none;
}

.gravatar {
    padding: 4px;   
}

.info-row {
    background-color: rgb(250, 250, 250);
    padding: 6px 8px;
    border-bottom: 1px solid #ddd;
}

#candidate-page-mobile-view #candidate-page-mobile-toggle {
    display: none;
}

.mobile-heading-candidate-view {
    display:none;
}

/* Initials block gravatar replacement */
#gravatar {
    padding-left: 55px;
}

.gravatar-text {
    display: table-cell;
    vertical-align: middle;
    position: static;
}

td .gravatar-blank,
.main-nav .gravatar-blank,
.gravatar .gravatar-blank {
    border-radius: 0 !important;
}

.form-label .gravatar-blank,
.form-label #id_gravatar {
    margin-left: 220px;
}

.gravatar-blank {
    font-weight: bold;
    color: #333;
    border: 1px solid #333;
    border-radius: 4px;
    text-align: center;
    display: table;
}

.gravatar-danger {
    background-color: #dd514c;
}

.gravatar-warning {
    background-color: #faa732;
}

.gravatar-info {
    background-color: #4bb1cf;
}

.gravatar-success {
    background-color: #5eb95e;
}

@media screen and (max-width: 1024px) {
    .site-progress {
        margin-top: 20px;
    }

    .topbar-inner {
        background: #444;
        height: 50px;        
        border-bottom: 20px solid #a95051;
    }

    #logged-in-li {
        display: block;
        font-size: 2em;
        height: 25px;
        line-height: 20px;
        padding: 10px !important;        
    }
    
    #logout-link, #account-link {
        display: none !important;
    }
    
    #pop-menu {
        height: 100%;
    }

    .btn-link{
        display: block !important;
        text-align: center;
        border: 1px solid #5a6d81;
        margin: 2px 0;
    }

    #logo-block {
        margin-top: 10px;
    }

    .topbar .menu-tabs {
        display: none;
    }

    .topbar #nav .arrow {
        display: none;
    }

    .topbar .gravatar-blank,
    .topbar #nav img {
        display: none;
    }

    #nav .main-nav {
        background: #a95051 url(/files/static/images/superbutton.png) no-repeat;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 45px;
        height: 45px;
        padding: 0;
        text-indent: -9000px;
        z-index: 101;
        border-width: 2px;
    }

    #topbar-login form {
        display: none;
    }

    .section #nav {
        display: none;
    }

    #topbar-login #nav.active + form,
    #topbar-login #nav:hover + form {
        background:#444;
        padding: 10px 0 10px 0;
        margin: 3px 0 0 0;
        position:absolute;
        top: 0;
        left: 0;
        display: block;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        width: 100%;
    }

    .topbar #topbar-login input {
        height: 30px;
     }

    .topbar #topbar-login button {
        margin-right: 70px;
        padding: 10px 25px 9px 25px;
    }

    .topbar #nav ul#pop-menu {
        border-top: 20px solid #a95051;
        position: absolute;
        left: 0;
        width: 100%;
        top: 0;
        z-index: 100;
        margin: 0 -10px 0 0;
    }

    .topbar #nav ul#pop-menu li {
        display: block;
        margin: 0;
        width: 100%;
    }

    .topbar #nav ul#pop-menu li a {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        font-size: 2em;
        height: 25px;
        padding: 10px;        
    }

    .loginBox a {
        margin: 10px 0 0 0;
    }

    .section a.ui-combobox-toggle {
        padding: 8px 0 8px 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    input[type=checkbox]{
        width: 35px;
        height: 35px;
    }

    #moduleBank a {
        width: auto;
    }

    div.settings-nav {
        display: block;
    }

    a.account-menu-item {
        background: none;
        border-style: none;
        padding: 0;
        display: block;
    }

    #saved-search-list .buttons {
        width: 175px;
    }
}

@media screen and (min-width: 501px) {
    #saved-search-form #id_label,
    #saved-search-form #id_edit_label {
        margin-top: 10px;
    }

    #saved-search-form #id_url,
    #saved-search-form #id_edit_url {
        margin-bottom: 10px !important;
    }

    #saved-search-form label[for=id_label],
    #saved-search-form label[for=id_edit_label] {
        margin-top: 10px;
    }

    #saved-search-form label[for^='id_sort_by'],
    label[for^='id_edit_sort_by'] {
    display: inline;
    margin: 5px;
    }

    #saved-search-form input,
    #saved-search-form textarea,
    #saved-search-form select {
        margin-bottom: 5px;
    }

    div.actions .btn ~ .btn {
        margin-left: 10px;
    }

    div.actions > .btn {
        margin-left: 20px;
    }

    .modal-footer div.actions .btn {
        margin-left: 0;
    }

    #gravatar {
        padding-left: 100px;
    }
}

@media screen and (max-width: 500px) {
    .site-progress {
        margin-top: 0;
    }

    #profile-completion {
        display: none;
    }
    
    .profile-mobile table, 
    .profile-mobile thead, 
    .profile-mobile tbody, 
    .profile-mobile th, 
    .profile-mobile td, 
    .profile-mobile tr { 
        display: block; 
    }
    #profileTitleRow .span2{
        float: left;
        width: 30%;
    }
    #profileTitleRow .span10{
        float: left;
        width: auto;
    }
    
    #profileTitleBar {
        border: 0;
    }
    
    #profileTitleBar h1{
        font-size: 1.5em;
        line-height: auto;
        margin: 0;        
    }
    
    #profileTitleBar h3{
        font-size: .8em;
        line-height: auto;
        margin: 0;
    }
    
    #profileSubtitleBar {
        display: block;
        float: none;
        width: auto;
    }
    
    #profileSubtitleBar a {
        display: block;
        margin: 5px 0
    }
    
    .profile-mobile thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .profile-mobile tr { 
        border: 1px solid #ccc; 
    }

    .profile-mobile thead + tbody > tr > td {
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
        white-space: normal;
        text-align:left;
    }

    .profile-mobile td{
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        white-space: normal;
        text-align:left;
    }

    .profile-mobile td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
     }
  
    .table-striped tbody tr:nth-child(even) td {
        background-color: #FFF !important;
    }

    .table-striped tbody tr:nth-child(odd) td {
        background-color: #FFF !important;
    }
      
    .profile-mobile td:before {
        content: attr(data-title);
    }
    
    #moduleColumn td.action {
        width: auto;
    }
    
    .add-module-btn,
    .profile-mobile a.btn{
        display: block;
        float: none;
        margin: 5px 0;
        width: auto;
    }

    .btn-link{
        display: block !important;
        background-color: #cccccc;
        background-image: none;
        background-image: -moz-linear-gradient(#f2f2f2,#e1e1e1);
        background-image: -webkit-gradient(linear, left top, left bottom, #f2f2f2, #e1e1e1);
        background-image: -webkit-linear-gradient(#f2f2f2,#e1e1e1);
        background-image: -o-linear-gradient(#f2f2f2,#e1e1e1);
        background-image: linear-gradient(#f2f2f2,#e1e1e1);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#e1e1e1', GradientType=0);
        color: #5e6c82;
        border-color:rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25);
        text-shadow: 0 1px 1px rgba(114, 114, 114, .75) !important;
        margin: 5px 0;
        text-align: center;
    }

    .sum-edit{
        float: none;
    }
    
    #moduleBank {
        margin-top: 20px;
    }

    input [type='text'] + .help-block,
    div + .help-block{
        margin: -12px 0 0 5px;
    }

    /* Contact Form Styles */
    #success-table tr td{
        min-width: 0;
    }
    
    /*Employer Dashboard*/    
    #details-user-list-collapse {
        display: none;
    }

    .candidate-activity-mobile {
        display: block;
    }

    .candidate-activity-mobile a {
        border: none;
        padding: 2px;
        background-color: transparent;
        text-decoration: none;
    }

    #row-link-table td {        
        width: 80%;
    }

    #row-link-table td:first-child {    
        width: 20%;
    }

    #company-information {
        margin-top: 10px;
    }

    .formBox h4 {
        border: none;
        background-color: transparent;
    }

    .margin-left {
        padding-left: 10px;                
    }

    .activity-mobile {
        margin-left: -10px;
        padding-top: 10px;
        margin-bottom: -30px;                
    }

    .activity-mobile input {
        display: inline;
        width: 105px;
    }

    .move-left {
        margin-left: 0;
    }

    #date-range {
        position: absolute;
        margin-top: -115px;
    }    
    
    /* Microsite Activity Page*/
    #candidate-activity-details-table {
    overflow-y: auto;
    height: auto;
    max-height: 520px;
    overflow-x: hidden;    
    }

    .btn-size {
        width: 87%;    
    }    
    
    /*Ajax Indicator*/
    #ajax-busy {
        margin: 0 0 0 -65px; /* left margin is half width of the div, to center it */
        padding: 30px 10px 10px 10px;
        left: 25%;
        width: 300px;        
    }   
    
    .hasRegions {        
        float: left;
        margin-left: -9px;
        margin-top: 1px;
        margin-bottom: 0px;
    }

    .checkbox-margin {
        padding-top: 14px;    
    }

    .profile-form-input input[type!=checkbox] {
        width: 65%;
    }
    
    .inbox-alert {
        display: none;        
    }
    
    #titleRow {
        margin-top: 0;
    }

    #titleRow #title {
        display: none;
    }

    #titleRow {
         background-image: none;
         min-height: 100px; 
    }

    #titleRow .loginBox {
         margin-top: 5px;
         margin-bottom: 5px;
    }    

    .topbar #topbar-login ul {
        margin-top: -30px;
    }

    #logged-in-li {
        display: none !important;
    }

    #company_dashboard_link {
        overflow: hidden;
    }

    form .pull-left {
        float: none;
    }

    form .pull-left label {
        text-align: left;
    }

    .form-label {
        width: 96%;
    }    

    input[type=checkbox] {
        float: left;
        margin: 2px;
    }

    input.comboboxWidget {
        width: 60%;
        float: none;
        margin-top: -12px;
    }

    ul.ui-autocomplete {
        display: none !important;
    }

    /* Mobile Forms */

    #saved-search-form label[for=id_is_active],
    #saved-search-form label[for=id_edit_is_active],
    #profile-unit-form label[for=id_name-primary],
    #profile-unit-form label[for=id_employmenthistory-current_indicator] {
        margin-top:10px;
        float: left;
    }

    #profile-unit-form input[type=checkbox],
    #saved-search-form input[type=checkbox] {
        display:inline-block;
        margin-left: 35px;
    }

    div.actions .btn {
        display: block;
        float: none;
        margin-bottom: 10px;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    #saved-search-form div[class*=id_edit_sort_by] {
        display: inline;
    }

    #saved-search-form label[for=id_url],
    #saved-search-form label[for=id_edit_url] {
        padding-left: 3%;
        margin-left:-10px;
        background-color: #ccc;
        border: 1px solid #bbb;
    }

    #saved-search-form #id_url,
    #saved-search-form #id_label,
    #saved-search-form #id_email,
    #saved-search-form #id_notes,
    #saved-search-form #id_edit_url,
    #saved-search-form #id_edit_label,
    #saved-search-form #id_edit_email,
    #saved-search-form #id_edit_notes {
        border-radius: 0 !important;
        border: 1px solid #bbb !important;
    }

    .mobile_hide {
        display: none !important;
    }

    .list_width {
        width: 80%;
    }

    #validated_label {
        display: none;
    }

    #id_label {
        margin-top: 0 !important;
    }

    #saved-search-list .view_search {
        cursor: pointer;
    }

    /* Mobile Saved Search Listing */

    #saved-search-listing-details {
        margin-bottom: 15px;
    }

    .section.subpage {
        background-color: #fff;
    }

    #moduleColumn #id_name-primary,
    #moduleColumn #id_employmenthistory-current_indicator {
        display: block;
        margin-right: 5px;
    }

    #moduleColumn label[for=id_name-primary],
    #moduleColumn label[for=id_employmenthistory-current_indicator] {
        padding-left: 20px;
    }

    #moduleColumn + .span4 #moduleBank {
        margin-top: 20px;
    }

    #profileTitleBar {
        overflow-x: hidden;
    }

    a.account-menu-item {
        background-color: rgba(255,255,255,.5);
        border-style: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        padding: 0;
        display: block;
        border-bottom: 1px solid;
    }

    div.settings-nav {
        background: none;
        border-right: none;
    }

    div.account-settings {
        display: none;
        width: auto;
        padding: 10px;
    }

    div.account-box {
        min-height: auto;
        background-color: #f4f1ea;
    }

    div.settings-nav ul {
        height: auto;
    }

    h4.account-menu-header {
        background: transparent url('/files/static/glyphicons_223_chevron-right.png') center right  no-repeat;
        width: 87%;
    }

    h4.account-menu-header:hover {
        background: transparent url('/files/static/glyphicons_223_chevron-right.png') center right  no-repeat;
        width: 87%;
    }

    #gravatar-img {
        float: left;
        padding-bottom: 10px;
    }

    #gravatar-link {
        float: right;
        width: 45%;
    }

    form input[type='checkbox'] {
        margin-top: 3px;
    }

    #candidate-page-mobile-view {
        position:relative;
    }

    #candidate-page-mobile-view .formBox {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    #candidate-page-mobile-view .span4 h3 {
        display: none;
    }

    .show-details#candidate-page-mobile-view .span4 {
        display: block;
    }

    #candidate-page-mobile-view .span4 + .span4,
    .show-details#candidate-page-mobile-view .span4 + .span4 {
        display:none;
    }

    .show-details#candidate-page-mobile-view #detail-toggle,
    #candidate-page-mobile-view #detail-toggle {
        background-color: rgb(194, 187, 169);
    }

    .show-activity#candidate-page-mobile-view .span4 + .span4 {
        display: block;
    }

    .show-activity#candidate-page-mobile-view .span4 {
        display: none;
    }

    .show-activity#candidate-page-mobile-view #activity-toggle {
        background-color: rgb(194, 187, 169);
    }

    .show-activity#candidate-page-mobile-view #detail-toggle {
        background-color: #FFF;
    }

    #candidate-page-mobile-view #candidate-page-mobile-toggle {
        width: auto;
        margin: 0 10px;
        display: block;
        float: none;
        border: 1px solid #ddd;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }

    #candidate-page-mobile-toggle .toggle-text {
        display: inline-block;
        min-width: 50%;
        font-size: 24.5px;
        line-height: 40px;
        font-weight: bold;
    }

    .toggle-text:hover {
        background-color: rgb(194, 187, 169) !important;
        cursor: pointer;
    }

    .default-heading-candidate-view {
        display: none;
    }

    .mobile-heading-candidate-view {
        display: block;
    }

    .mobile-heading-candidate-view .btn.primary {
        display: block;
        margin-top: 10px;
    }

    #mobile-name-heading {
        float:left;
        padding: 5px 5px;
    }

    #name-flag,
    #candidate-flag {
        float: left;
    }

    #name-flag {
        font-size: 1.7em;
        font-weight: bold;
        color: #900;
    }

    #candidate-flag {
        font-size: 1.2em;
    }

    .mobile-heading-candidate-view a.href-small-icon {
        padding: 0;
        border: 0;
    }

    .mobile-heading-candidate-view #email-img {
        width: 30px;
        height: 20px;
    }

    #profileTitleBar {
        padding-right: 30px;
    }
    .form-label .gravatar-blank,
    .form-label #id_gravatar {
        margin-left: 0 !important;
        margin-bottom: 10px;
    }

    .form-label #id_gravatar {
        margin-right: 315px;
    }

}

/* Account Settings */
.account-box {
    padding: 0;
    margin: 0;
    min-height: 354px;
    border: 1px solid #574E44
}

.account-box .row {
    margin-left: 0px;
}

.settings-nav {
    background: #b5aea3;
    margin: 0;
    padding: 0;
    border-right: 2px solid #574E44;
}

.account-box h2 {
    padding-left: 20px;
    border-bottom: 2px solid #574E44;
    margin: 0;
    padding-top: 20px;
}

.account-settings {
    padding-top: 20px;
    padding-right: 20px;
    width: 595px;
}

.account-settings fieldset {
    min-height: 277px;
}

.settings-nav ul {
    list-style-type: none;
    height: 354px;
    padding: 0;
    margin: 0;
}

.settings-nav li h4 {
    margin: 0;
    padding: 20px;
}

.settings-nav li:hover {
    background: #5a6d81;
    color: #FFF;
}

.settings-nav a:hover {
    text-decoration: none;
}

.account-settings input[type="text"],
.account-settings input[type="password"] {
    width: 361px;
}

@media screen and (max-width: 500px) {
.account-settings input[type="text"],
.account-settings input[type="password"] {
    width: 100%;
}

}
.account-menu-item.password-required {
    display: none;
}

.account-captcha {
    text-align: center;
    padding-bottom: 30px;
}

#captcha_modal {
    width: 620px;
}

.account-warning {
    width: 400px;
}

/* Saved Search */

table td, table th {
    overflow: hidden;
}

#validated {
    display: inline;
    padding: 7px;
}

#digest-option label[for=id_digest_active],
#digest-option label[for=id_digest_email],
#digest-option label[for=id_send_if_none] {
    display: inline-block;
    margin-right: 10px;
}

#saved-search-form #id_day_of_month,
#saved-search-form #id_day_of_week,
#saved-search-form #id_edit_day_of_month,
#saved-search-form #id_edit_day_of_week {
    display: inline;
}

#saved-search-list table {
    border-radius: 5px 5px 0 0;
}

.digest_error {
    background-color: #f00;
    display: inline-block;
}

#digest-option {
    padding: 0 10px;
}

#digest-option #id_digest_email,
#digest-option #id_digest_active,
#digest-option #id_send_if_none {
    margin-bottom: 5px !important;
    display: inline-block;
    margin-right: 5px;
    margin-top: 3px !important;
}

.formBox.span7 {
    margin-top: 20px;
    float: none;
}

#saved-search-form input[type=checkbox] {
    margin-top: 3px;
}

#saved-search-form label[for=id_day_of_month],
#saved-search-form label[for=id_day_of_week],
#saved-search-form label[for=id_edit_day_of_month],
#saved-search-form label[for=id_edit_day_of_week] {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

/* Saved Search Listing */
#saved-search-listing-table a {
    text-decoration: none;
}

#saved-search-listing-table ul {
    list-style-type: none;
    margin: 0;
}

#saved-search-listing-table p {
    display: inline;
    font-size: 1.7em;
    font-weight: bold;
}

#saved-search-listing-details > div,
#saved-search-listing-details > h2 {
    padding-left: 10px;
    padding-right: 10px;
}

#saved-search-listing-details > div {
    padding-top: 10px;
}

#saved-search-listing-details {
    padding-bottom: 0;
}

[class^="icon-"], [class*=" icon-"] {
    background-image: url("/files/static/images/glyphicons-halflings.png");
}

body.modal-open {
    overflow: hidden;
}

.account-captcha {
    text-align: center;
    padding-bottom: 30px;
    min-height: 247px;
}

#captcha_modal {
    width: 620px;
}

.account-warning {
    width: 400px;
}

.warning-badge {
    position: absolute;
    bottom: -10%;
    right: -15%;
}

.gravatar-message {
    width: 150px;
    position: relative;
    margin-bottom: 50px;
}

#captcha_modal .modal-body {
    overflow: hidden !important;
}

.required input[type=text],
.required select {
    border: 1px solid #900;
}

.required {
    display: inline-block;
}

.required-label,
.error-text {
    color: #900;
}

.required-border {
    border: 1px solid #900;
}

/*Candidate menu items*/
.no-show {
    display: none !important;
}
.show {
    background: #a95051 !important;
}
#company-menu {
    margin: 0;
    position: absolute;
}
#company-menu a {
    display: block;
    padding: 4px;
    background: #666 !important;
    border-width: 1px 0 0 0 !important;
}
#company-menu a:hover {
    background: #444 !important;
}
#candidate-tab {
    width: 78px;
}
#company-item {
    width: 250px;
}
