@import url(http://css.nlx.org/framework/v2/css/def.ui.css);
/*Main Styles*/
body{    
    background-color: #574e44;
    font-family: Arial, Helvetica, sans-serif;
    }

#main {
    padding: 50px;
}
#titleRow {
    background-image:url('/files/static/images/homepage_bg.png');
    background-repeat:no-repeat;    
    background-position:center top;
    background-color: #FFF;
    margin-top: -26px;
    margin-bottom: -20px;
    min-height: 598px;     
    }
.section {
    background-color: #FFF;
    border: 1px solid #333333;
    margin-top: 0px;
    margin-bottom: 0px;      
    }    
a{
    color: #c44e34;
    }
a:hover{
    color: #a42e14;
    }
.profile-unit h4 {
    color: #000;    
    }
.action th {
    background-color: #FFF;   
    }
.profile th {
    background-color: #FFF;   
    }
.profile {
    border-collapse:collapse; 
    border-color:#FFF; 
    border-style:solid; 
    border-width:2px;
    }
.profile td, th {
    border-color:#FFF; /*grey*/
    border-style:solid; 
    border-width:1px;
    padding: 5px; 
    text-align: left;
    }
.profile tr:nth-child(even) {background: #eae6de}
.profile tr:nth-child(odd) {background: #d2cfc7}

/* Form Styles */
.form-label{
    text-align: right;
    margin-right: 20px;
    width: 180px;
    }
.form-label label{
    font-weight: bold;
    }
.ui-combobox {
    position: relative;
    display: inline-block;
    }
.ui-combobox-toggle {
    padding: 8px 0px 8px 0px;
    position: relative;
    left: -2px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    }
input.comboboxWidget {
    float: left;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    }
ul.ui-autocomplete{
    height: 12em;
    overflow-y: scroll;
    }
/*Topbar Styles*/
.topbar #topbar-logo{
    height: 30px;
    width: 90px;
    background: transparent url(/files/static/images/myjobs_logo.png) center left no-repeat;
    text-indent: -9000px;
}
.topbar input{
    width: 100px;
    margin-right: 10px;  
    }
.topbar input.text{
    height: 16px;
    width: 200px;
    }
.topbar .btn {        
    padding-bottom: 2px;
    }
.topbar #alpha-flag{
    display: block;
    float-left;
    color: #fff;
    font-size: .8em;
}
#title{
    padding-top: 60px;
    padding-bottom: 60px;
    }
#title h1{
    text-indent: -9000px;    
    display: block;
    height: 81px;
    }    
#subtitle{
    font-size: 1.85em;
    line-height: 1.1em;
    color: #574e44;
    padding-top: 13px;
    font-weight: bold;
    }
/*Content Box Styles*/
.profileBox{    
    background-color: #f4f1ea;
    padding: 10px;
    padding-bottom: 30px;
    border: 2px solid #574E44;
    border-radius: 5px;
    }
.loginBox{    
    background-color: #574e44;
    padding: 10px;
    padding-bottom: 30px;
    border: 2px solid #574E44;
    border-radius: 5px;
    }
.formBox{    
    background-color: #f4f1ea;
    padding: 10px;
    padding-bottom: 30px;
    border: 2px solid #a3aeb1;
    border-radius: 5px;    
    }
.formBox table{
    width: 100%;    
    }
#titleRow .loginBox, #titleRow .profileBox{
    margin-top: 105px;   
    }
.formBox + .formBox{
    margin-top: 20px;
}
.account-box{    
    background-color: #FFF;
    padding: 10px;
    padding-bottom: 30px;    
    border-radius: 5px;
    margin-top: 105px;   
    }
.loginBox, .formBox, .account-box h3 {
    color: #FFF;    
    }
.formBox, .account-box h3 {
    color: #000;    
    }
.loginBox a{
    color: #FFF;
    }
.loginBox a:hover{
    color: #FFF;
    }
#account-page-2 .loginBox, #account-page-2 .profileBox{
    padding-left: 0px;
    padding-right: 0px;
    }
.loginBox + .loginBox{
    margin-top: 20px;
    border-color: #a3aeb1;
    } 
.profileBox + .profileBox{
    margin-top: 20px;
    border-color: #C44E34;
    }
.profileBox p{
    color: #000;    
    }
.loginBox p{
    min-height: 36px;
    }
.loginBox p,
.formBox p,
.account-box p{
    padding: 10px;
    margin-bottom: 0px;
    }
.formBox table{
    color: #000;
    background: #fff;
}
.loginBox input, .profileBox input{
    /*display: block;*/
    padding: 4px 0px;
    text-indent: 4px;
    }
#titleRow input{
    width: 100%;
    }
.loginBox input, .initial-profileBox input[type=checkbox]{
    float: left;
    width: auto;
    }
#account-page-2 .loginBox input, #account-page-2 .initial-profileBox input[type=text]{
    width: 100%;
    }
.initial-profileBox input.comboboxWidget, .loginBox input.comboboxWidget,
#account-page-2 .loginBox input.comboboxWidget{
    width: 230px;
    }
.loginBox label{
    display: none;
    }
.loginBox .checkbox-label label,
.loginBox .select-label label,
.loginBox .add-on label{
    display: inline;
    text-align: left;    
    }
.loginBox .checkbox-label{
    padding-left: 10px;
    }
.loginBox .select-label,
.loginBox .checkbox-label{
    text-align: left;
    width: auto;
    }
.loginBox .help-block{
    display: block;   
    font-size: 1em;
    padding-right: 10px;
    text-align: right;
    }
.loginBox form{
    margin-bottom: 0px;
    }

#newAccountInfo{
    height: 100%:    
    }
#newAccountData{
    margin-left: 10px;
    padding-left: 10px;
    }

.profile-unit{
    background: #EFEADE;
    border: 1px solid #a3aeb1;
    padding: 10px;
    margin-bottom: 10px;
    -moz-border-radius: 4px;
    -webkit-order-radius: 4px;
    border-radius: 4px;
}
    
/*form styles*/
.btn{
    color: #000;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75) !important;
    }
.btn + .btn{
    margin-left: 10px;
    }
.btn.pull-right + .btn{
    margin-right: 10px;
    }
.btn.primary{
    background-color: #b34529;
    background-image: none;
    background-image: -moz-linear-gradient(#db5938,#b34529);
    background-image: -webkit-gradient(linear, left top, left bottom, #db5938, #b34529); 
    background-image: -webkit-linear-gradient(#db5938,#b34529);  
    background-image: -o-linear-gradient(#db5938,#b34529); 
    background-image: linear-gradient(#db5938,#b34529);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#db5938', endColorstr='#b34529', GradientType=0);
    margin-top: 2px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight:bold;
    font-size: 1.1em;
    color: #fff
    }

.alert-message ul{
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 5px;
    }
.alert-message li{
    color: red;
}
.input-prepend .add-on{
    width: 35%;
    text-align: right;
}
.input-prepend input,
.input-prepend select{
    width: 61.5%;
}
#account-page-2 .loginBox input[type="text"].phoneCountryCode,
.loginBox .phoneCountryCode,
.phoneCountryCode{
    width: 45px;
}
#account-page-2 .loginBox input[type="text"].phoneAreaCode,
.loginBox .phoneAreaCode,
.phoneAreaCode{
    width: 45px;
}
#account-page-2 .loginBox input[type="text"].phoneNumber,
.loginBox .phoneNumber,
.phoneNumber,
#account-page-2 .loginBox input[type="text"].phoneExtension,
.loginBox .phoneExtension,
.phoneExtension{
    width: 150px;
}
#usaPhoneField{
    margin-top: 10px;
    display: none;
}
.friendlyPhoneForm input[type=text],
.friendlyPhoneForm .input-prepend{
    display: none;
    }
.friendlyPhoneForm #use_code_prependLabel{
    display: inline;
    }
select{
    width: auto;
}
/*Alert and text styls*/
.pendingText{
    color: #c44e34;
    padding-left: 20px;
    }
em.pendingText{
    font-wieght: bold;
    }
#focusBox .alert-message.block-message.error,
#loginBox .alert-message.block-message.error{
    padding: 5px 10px;
    margin-left: -10px;
    margin-right: -10px;
    }
.alert-message.block-message.error label{
    /*text-shadow: 1px 1px 1px #000;*/
    }
    
/* Topbar Dropdown Styles*/
.topbar ul{
    list-style: none;
    text-align: left;
    }
#nav:hover{
    background: #222;
	color: #000;
    }
#nav > li{
    padding: 6px 2px 4px 2px;    
    }
#nav a{
    color: #fff;
    }
#nav .main-nav{
    color: #fff;
    text-decoration: none;
    display: block;
    padding-right: 4px;
    }
#nav ul#pop-menu{
    background:#333;
    padding: 0;
    margin: 3px 0 0 -2px;
    position:absolute;
    display: none;
    corner-bottom-left-radius: 4px;
    corner-bottom-right-radius: 4px;
    width: 275px;
    }
.topbar #nav .arrow{
    float: right;
    display: block;
    width: 0px;
    border: 4px solid transparent;
    border-right: 6px solid #999;
    border-left: 0px;
    margin-top: 6px;
    }
.topbar #nav:hover .arrow{
    border: 4px solid transparent;
    border-top: 6px solid #eee;
    border-bottom: 0px;
    position: relative;
    left: 2px;
    top: 2px;
    }
#pop-menu li{
    margin: 0px;
    padding: 0px;
}
#pop-menu a{
	display: block;
	padding: 4px;
	background: #666;
	border-top: 1px solid #333;
}
#nav.active li ul#pop-menu{ 
	display: block;
	text-align: left;
}
@media screen and (min-width: 1025px){
    #nav li:hover ul#pop-menu{ 
        display: block;
        text-align: left;
    }    
}
#nav.active ul#pop-menu li a:hover,
#nav li:hover ul#pop-menu li a:hover{ 
	background:#333;
	color: #fff;
	text-decoration:none;
}

/* Account Creation Slider styles */
.color-bg {
    background:#D2CDC1;
    margin-bottom: 10px;
    margin-left: 10px;
}
.module {
    padding: 10px;
    height: 250px;
}
/* Profile screen styles */
#moduleBank a{
    display: block;
    width: 100%;
    padding: 10px 5px;
    font-weight: bold;
}
#moduleBank td{
    padding: 0px;
}
#moduleBank a:hover{
    color:#fff;
    background-color: #b34529;
    background-image: none;
    background-image: -moz-linear-gradient(#db5938,#b34529);
    background-image: -webkit-gradient(linear, left top, left bottom, #db5938, #b34529); 
    background-image: -webkit-linear-gradient(#db5938,#b34529);  
    background-image: -o-linear-gradient(#db5938,#b34529); 
    background-image: linear-gradient(#db5938,#b34529);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#db5938', endColorstr='#b34529', GradientType=0);
    margin: 0px;
    text-decoration: none;
}
#moduleColumn td.action{
    width: 135px;
}

/* Footer Styles */
.footer {
    padding-top: 10px;
}
.footer a {
    color: #FFF;
    padding: 10px;
}
@media screen and (max-width: 1024px){
    .topbar-inner {
        height: 50px;        
        border-bottom: 20px solid #c44e34;
    }
    #logo-block{
        margin-top: 10px;
    }
    .topbar #nav .arrow{
        display: none;
    }
    #nav .main-nav{
        background: #C44E34 url(/files/static/images/superbutton.png) no-repeat;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 45px;
        height: 45px;
        padding: 0px;
        text-indent: -9000px;
        z-index: 101;
        border-width: 2px;
    }
    #topbar-login form{
        display: none;
    }
    .section #nav{
        display: none;
    }
    #topbar-login #nav.active + form,
    #topbar-login #nav:hover + form{
        background:#333;
        padding: 0;
        margin: 3px 0 0 0;
        position:absolute;
        top: 0px;
        left: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;
        corner-bottom-left-radius: 4px;
        corner-bottom-right-radius: 4px;
        width: 100%;
    }    
    .topbar #topbar-login input{
        height: 30px;
     }
    .topbar #topbar-login button{
        margin-right: 70px;
        padding: 10px 25px 9px 25px;
    }
    .topbar #nav ul#pop-menu{
        border-top: 20px solid #c44e34;
        position: absolute;
        left: 0px;
        width: 100%;
        top: 0px;
        z-index: 100;
        margin: 0 -10px 0 0px;
    }
    .topbar #nav ul#pop-menu li{
        display: block;
        margin: 0px;
        width: 100%;
    }
    .topbar #nav ul#pop-menu li a{
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border-left: 0px;
        border-right: 0px;
        font-size: 2em;
        height: 25px;
        padding: 10px;        
    }
    .loginBox a{
        margin: 10px 0 0 0;
    }
    .section a.ui-combobox-toggle {
        padding: 8px 0px 8px 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    input[type=checkbox]{
        width: 35px;
        height: 35px;
    }
}
@media screen and (min-width: 501px){
    #saved-search-form #id_label,
    #saved-search-form #id_edit_label {
        margin-top: 10px;
    }
    #saved-search-form #id_url,
    #saved-search-form #id_edit_url {
        margin-bottom: 10px !important;
    }
    #saved-search-form label[for=id_label],
    #saved-search-form label[for=id_edit_label] {
        margin-top: 10px;
    }
    #saved-search-form input,
    #saved-search-form textarea,
    #saved-search-form select {
        margin-bottom: 5px;
    }
}
@media screen and (max-width: 500px){
    #titleRow{
        margin-top: 0px;
    }
    #titleRow #title{
        display: none;
    }
    #titleRow{
         background-image: none;
         min-height: 100px; 
    }
    #titleRow .loginBox{
         margin-top: 5px;
         margin-bottom: 5px;
    }    
    .topbar #topbar-login input{
        padding-left: 0px;
        padding-right: 0px;
        text-indent: 5px;
    }
    .topbar #topbar-login input,
    .topbar #topbar-login button{
        width: 80%;
        margin: 0 0 10px 10px;
        float: none;
        clear: both;
        display: block;
    }

    form .pull-left{
        float: none;
    }
    form .pull-left label{
        text-align: left;
    }
    .form-label{
        width: 96%;
    }    
    input[type=checkbox]{
        float: left;
        margin-top: -20px;
    }
    input.comboboxWidget{
        width: 60%;
        float: none;
        margin-top: -12px;
    }
    ul.ui-autocomplete{
        display: none !important;
    }
    #saved-search-form label[for=id_is_active],
    #saved-search-form label[for=id_edit_is_active] {
        margin-left: 20px;
    }
    div.actions button, div.actions a {
        float: none;
        margin-bottom: 10px !important;
        display: block;
    }
    #saved-search-form label[for=id_url],
    #saved-search-form label[for=id_edit_url] {
        padding-left: 1%;
        background-color: #ccc;
        border: 1px solid #bbb;
    }
    #saved-search-form #id_url,
    #saved-search-form #id_label,
    #saved-search-form #id_email,
    #saved-search-form #id_notes,
    #saved-search-form #id_edit_url,
    #saved-search-form #id_edit_label,
    #saved-search-form #id_edit_email,
    #saved-search-form #id_edit_notes {
        border-radius: 0px !important;
        border: 1px solid #bbb !important;
    }
    .mobile_hide {
        display: none !important;
    }
    .list_width {
        width: 80%;
    }
    #validated_label {
        display: none;
    }
    #id_label {
        margin-top: 0px !important;
    }
    .section.subpage {
        background-color: #fff;
    }

    #moduleColumn #id_name-primary,
    #moduleColumn #id_employmenthistory-current_indicator {
        display: block;
        margin-right: 5px;
    }

    #moduleColumn label[for=id_name-primary],
    #moduleColumn label[for=id_employmenthistory-current_indicator] {
        padding-left: 20px;
    }

    #moduleColumn + .span4 #moduleBank {
        margin-top: 20px;
    }

    #profileTitleBar {
        overflow-x: hidden;
    }
}

table td, table th{
    overflow: hidden;
}

#validated {
    display: inline;
    padding: 7px;
}

/*
.profile-unit input.comboboxWidget{
    width: 212px;
}

.profile-unit select {
    width: 260px;
}

.profile-unit .form-label {
    margin-right: 20px;
    width: auto;
}*/

#digest-option label[for=id_digest_active],
#digest-option label[for=id_digest_email],
#digest-option label[for=id_send_if_none] {
    display: inline-block;
    margin-right: 10px;
}

.account-box {
    padding: 0;
    margin: 0;
    min-height: 354px;
    border: 1px solid #b34529
}

.settings-nav {
    background: #b5aea3;
    margin: 0;
    padding: 0;
    border-right: 2px solid #574E44;
}

.account-box h2 {
    padding-left: 20px;
    border-bottom: 2px solid #574E44;
    margin: 0;
    padding-top: 20px;
}

.account-settings {
    padding-top: 20px;
    padding-right: 20px;
}

.settings-nav ul {
    list-style-type: none;
    height: 354px;
    padding: 0;
    margin: 0;
}

.settings-nav li h4{
    margin: 0;
    padding: 20px;
}

.settings-nav li:hover {
    background: #c54c2d;
    color: #FFF;
}

.settings-nav a:hover {
    text-decoration: none;
}

.account-settings input[type="text"], input[type="password"] {
    width: 250px;
}

#saved-search-form #id_day_of_month,
#saved-search-form #id_day_of_week,
#saved-search-form #id_edit_day_of_month,
#saved-search-form #id_edit_day_of_week {
    display: inline;
}

#saved-search-list table {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.digest_error {
    background-color: #f00;
    display: inline-block;
}

#digest-option #id_digest_email,
#digest-option #id_digest_active,
#digest-option #id_send_if_none {
    margin-bottom: 5px !important;
    display: inline-block;
    margin-right: 5px;
    margin-top: 3px !important;
}

.formBox.span7 {
    margin-top: 20px;
    float: none;
}

#saved-search-form label[for=id_day_of_month],
#saved-search-form label[for=id_day_of_week],
#saved-search-form label[for=id_edit_day_of_month],
#saved-search-form label[for=id_edit_day_of_week] {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

[class^="icon-"], [class*=" icon-"] {
    background-image: url("/files/static/images/glyphicons-halflings.png");
}

body.modal-open {
    overflow: hidden;
}
