@import url(http://css.nlx.org/framework/v2/css/def.ui.css);
/*Main Styles*/
body{    
    background-color: #574e44;
    font-family: Arial, Helvetica, sans-serif;
    }

#main {
    padding: 50px;
}
#titleRow {
    background-image:url('/files/static/images/homepage_bg.png');
    background-repeat:no-repeat;    
    background-position:center top;
    background-color: #FFF;
    margin-top: -26px;
    margin-bottom: -20px;
    min-height: 598px;     
    }
.section {
    background-color: #FFF;
    border: 1px solid #333333;
    margin-top: 0px;
    margin-bottom: 0px;      
    }    
a{
    color: #c44e34;
    }
a:hover{
    color: #a42e14;
    }
/* Sort by field in saved search save/edit */
label[for^='id_sort_by'], label[for^='id_edit_sort_by'] {
    display: inline;
    margin: 5px;
}
.profile-unit h4 {
    color: #000;    
    }
.action th {
    background-color: #FFF;   
    }
.hasRegions {
    position: relative;
    margin-left: 200px;
    margin-top: -27px;
    }
.profile-form-input input {
    width: 40%;
    }

.reset-form-input input[type="text"], .reset-form-input input[type="password"] {
    width: 100%;
}

#moduleBank {    
    z-index:100;  
}

table#row-link-table {
    border-collapse: collapse;   
}
#row-link-table tr {
    background-color: rgb(250, 250, 250);    
}
#row-link-table tr:hover {
    background-color: #d2cfc7;
}
#row-link-table th {
    background-color: rgb(250, 250, 250);
    text-align: left;
    border-top: none;
}
#row-link-table th, #row-link-table td {
    padding: 2px;
}
#row-link-table td:hover {
    cursor: pointer;
}
#row-link-table td {
    padding: 5px;
    width: 40%;    
    border-bottom: 1px solid #eae6de;
}
#row-link-table td:first-child {    
    width: 10%;
}
#row-link-table ul {
    list-style-type: none;
    margin-left: -10px;
}
.link-list {     
    list-style-type: none; 
    background-color: rgb(250, 250, 250);
    margin: 0;
    padding: 0;    
}
.link-list li {
    display: block;
    background-color: rgb(250, 250, 250);
    border-bottom: 1px solid #eae6de;
    padding: 5px;      
}
.link-list li:last-child {
    border: none;
}
.move-left {
    margin-left: -45px;
}
.primary-btn-padding {
    padding: 10px;
}
.text-middle {
    vertical-align: middle;   
}
.candidate-name {
    font-size: 1.5em;   
}
#no-activity {    
    background-color: #FFF;
    width: 95%;    
    padding: 10px;
}
.btn + .btn-success {
    color: #FFF;
}

/*Ajax Indicator*/
#ajax-busy {
    display: none;    
    position: fixed;
    left: 31%;
    top: 30%;
    width: 400px;
    height: 150px;
    text-align: center;
    background: url(images/ajax-loader.gif) no-repeat center center;  
    background-color: #FFF;
    opacity: 0.75;
    border: 1px solid #000;
    z-index: 9999;
}   
    
/* bootstrap .table-striped class */
.table-striped thead th {
    background-color: #FFF;   
    color: #000;
    }    
.table-striped tbody tr:nth-child(even) td {background-color: #d2cfc7 !important;}
.table-striped tbody tr:nth-child(odd) td {background-color: #eae6de !important;}

/*New Account initial form*/
#newAccountData .initial {
    display: none;   
    }
#newAccountData .profile-form-input input {
    width: 95%;   
    }
#newAccountData .input-prepend {
    width: 95%;  
    }
#newAccountData .hasRegions {
    margin-left: -20px;  
    }
#newAccountData li {
    display: block;
    width: 100%;
}
#newAccountData li label {
    display: none;
}
#newAccountData li input, 
#newAccountData li select {
    width: 100%;
}
#newAccountData label[for="id_work-current_indicator"] {
    display: inline;
}
#newAccountData #id_ph-area_dialing {
    float: left;
    width: 30%;
}
#newAccountData #id_ph-number {
    float: right;
    width: 67%;
    clear: right;
}
#newAccountData #id_work-current_indicator {
    width: 15%;
}
#newAccountData hr {
    margin: 0px 0px 10px 0px;
    border-top: 1px solid #a3aeb1;
    border-bottom: none;
}
#newAccountData .errorlist {
    margin: 0px;
    padding: 0px;
}
#newAccountData .errorlist li {
    color: #c44e34;
}

/* Form Styles */
.form-label{
    text-align: right;
    margin-right: 20px;
    width: 180px;
    }
.form-label label{
    font-weight: bold;
    }
.ui-combobox {
    position: relative;
    display: inline-block;
    }
.ui-combobox-toggle {
    padding: 8px 0px 8px 0px;
    position: relative;
    left: -2px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    }
input.comboboxWidget {
    float: left;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    }
ul.ui-autocomplete{
    height: 12em;
    overflow-y: scroll;
    }

/*Topbar Styles*/
.topbar #topbar-logo{
    height: 30px;
    width: 90px;
    background: transparent url(/files/static/images/myjobs_logo.png) center left no-repeat;
    text-indent: -9000px;
}
.topbar input{
    width: 100px;
    margin-right: 10px;  
    }
.topbar input.text{
    height: 16px;
    width: 200px;
    }
.topbar .btn {        
    padding-bottom: 2px;
    }
.topbar #alpha-flag{
    display: block;
    float-left;
    color: #fff;
    font-size: .8em;
}
.menu-tabs {
    border-bottom: 0px solid #333;
}
.topbar .menu-tabs a{
    border: 1px solid #333 !important;
    background-color: #333;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding-top: 4px !important;
    padding-bottom: 5px !important;
    }
.topbar .menu-tabs a:hover{
    color: #FFF;
    background-color: #b34529;
    }
.menu-tabs .active a {
    background-color: #b34529 !important;
    }
.formBox select {
    width: 221px;
    }
form select{
    width: 262px;
    }
fieldset select{
    width: 264px;
    }
#title{
    padding-top: 60px;
    padding-bottom: 60px;
    }
#title h1{
    text-indent: -9000px;    
    display: block;
    height: 81px;
    background: transparent url('/files/static/images/mydotjobs_home_logo.png') 65px 3px no-repeat;
    }    
#subtitle{
    font-size: 1.85em;
    line-height: 1.1em;
    color: #574e44;
    padding-top: 13px;
    font-weight: bold;
    }

/*Content Box Styles*/
.profileBox{    
    background-color: #f4f1ea;
    padding: 10px;
    padding-bottom: 30px;
    border: 2px solid #574E44;
    border-radius: 5px;
    }
.formBox{    
    background-color: #e4e0d5;
    padding: 5px;
    padding-bottom: 30px;
    border-left: 1px solid #d5d4d0;
    border-right: 1px solid #d5d4d0;
    border-bottom: 1px solid #d5d4d0;
    border-radius: 5px;    
    }
 .loginBox{    
    background-color: #f4f1ea;
    padding: 10px;
    padding-bottom: 30px;
    border: 2px solid #a3aeb1;
    border-radius: 5px;    
    }
.formBox h2, 
.formBox h3, 
.formBox h4, 
.formBox h5, 
.formBox h6 {
    margin-left: -5px;
    margin-right: -5px;
    margin-top: -5px;
    background-color: #FFF;
    border-bottom: 1px solid #d5d4d0;
    border-top: 1px solid #d5d4d0;
    border-top-right-radius: 5px;
    border-top-left-radius:5px;
    padding: 5px 20px;
    }
.formBox h3 {
    padding-bottom: 0px;
    }
.formBox table{
    width: 100%;    
    }
#titleRow .loginBox, #titleRow .profileBox{
    margin-top: 105px;   
    }
.formBox + .formBox{
    margin-top: 20px;
    }
.account-box{    
    background-color: #FFF;
    padding: 10px;
    padding-bottom: 30px;    
    border-radius: 5px;
    margin-top: 105px;   
    }
.formBox, .account-box h3 {
    color: #FFF;    
    }
.formBox, .account-box h3 {
    color: #000;    
    }
.loginBox a{
    color: #333;
    }
.loginBox a:hover{
    color: #333;
    }
.loginBox .btn:hover{
    color: #FFF;
}
#account-page-2 .loginBox, #account-page-2 .profileBox{
    padding-left: 0px;
    padding-right: 0px;
    }
.loginBox + .loginBox{
    margin-top: 20px;
    border-color: #a3aeb1;
    } 
.profileBox + .profileBox{
    margin-top: 20px;
    border-color: #C44E34;
    }
.profileBox p{
    color: #000;    
    }
.loginBox p{
    min-height: 36px;
    }
.loginBox p,
.formBox p,
.account-box p{
    padding: 10px;
    margin-bottom: 0px;
    }
.formBox table{
    color: #000;
    background: #fff;
}
.loginBox input, .profileBox input{
    /*display: block;*/
    padding: 4px 0px;
    text-indent: 4px;
    }
#titleRow input{
    width: 100%;
    }
.loginBox input, .initial-profileBox input[type=checkbox]{
    float: left;
    width: auto;
    }
#account-page-2 .loginBox input, #account-page-2 .initial-profileBox input[type=text]{
    width: 100%;
    }
.initial-profileBox input.comboboxWidget, .loginBox input.comboboxWidget,
#account-page-2 .loginBox input.comboboxWidget{
    width: 230px;
    }
.loginBox label{
    display: none;
    }
.loginBox .checkbox-label label,
.loginBox .select-label label,
.loginBox .add-on label{
    display: inline;
    text-align: left;    
    }
.loginBox .checkbox-label{
    padding-left: 10px;
    }
.loginBox .select-label,
.loginBox .checkbox-label{
    text-align: left;
    width: auto;
    }
.loginBox .help-block{
    display: block;   
    font-size: 1em;
    padding-right: 10px;
    text-align: right;
    }
.loginBox form{
    margin-bottom: 0px;
    }

#newAccountInfo{
    height: 100%:    
    }
#newAccountData{
    margin-left: 10px;
    padding-left: 10px;
    }

.profile-unit{
    background: #EFEADE;
    border: 1px solid #a3aeb1;
    padding: 10px;
    margin-bottom: 10px;
    -moz-border-radius: 4px;
    -webkit-order-radius: 4px;
    border-radius: 4px;
}

/*form styles*/
.btn{
    color: #000;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75) !important;
    }
.btn + .btn{
    margin-left: 10px;
    }
.btn.pull-right + .btn{
    margin-right: 10px;
    }
.btn.primary{
    background-color: #b34529;
    background-image: none;
    background-image: -moz-linear-gradient(#db5938,#b34529);
    background-image: -webkit-gradient(linear, left top, left bottom, #db5938, #b34529); 
    background-image: -webkit-linear-gradient(#db5938,#b34529);  
    background-image: -o-linear-gradient(#db5938,#b34529); 
    background-image: linear-gradient(#db5938,#b34529);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#db5938', endColorstr='#b34529', GradientType=0);
    margin-top: 2px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight:bold;
    font-size: 1.1em;
    color: #fff
    }
.profile-form-input textarea{
    width: 248px;
    height: 100px;
    }
.captcha{
    float:left;
    margin-left: -3px;
    line-height: 0px;
}
.alert-message ul{
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 5px;
    }
.alert-message li{
    color: red;
    }
.input-prepend .add-on{
    width: 35%;
    text-align: right;
    }
.input-prepend input,
.input-prepend select{
    width: 61.5%;
    }
#account-page-2 .loginBox input[type="text"].phoneCountryCode,
.loginBox .phoneCountryCode,
.phoneCountryCode{
    width: 45px;
    }
#account-page-2 .loginBox input[type="text"].phoneAreaCode,
.loginBox .phoneAreaCode,
.phoneAreaCode{
    width: 45px;
    }
#account-page-2 .loginBox input[type="text"].phoneNumber,
.loginBox .phoneNumber,
.phoneNumber,
#account-page-2 .loginBox input[type="text"].phoneExtension,
.loginBox .phoneExtension,
.phoneExtension{
    width: 150px;
    }
#usaPhoneField{
    margin-top: 10px;
    display: none;
    }
.friendlyPhoneForm input[type=text],
.friendlyPhoneForm .input-prepend{
    display: none;
    }
.friendlyPhoneForm #use_code_prependLabel{
    display: inline;
    }
/*Alert and text styls*/
.pendingText{
    color: #c44e34;
    padding-left: 20px;
    }
em.pendingText{
    font-wieght: bold;
    }
#focusBox .alert-message.block-message.error,
#loginBox .alert-message.block-message.error{
    padding: 5px 10px;
    margin-left: -10px;
    margin-right: -10px;
    }
.alert-message.block-message.error label{
    /*text-shadow: 1px 1px 1px #000;*/
    }
    
/* Topbar Dropdown Styles*/
.topbar ul{
    list-style: none;
    text-align: left;
    }
#nav:hover{
    background: #222;
	color: #000;
    }
#nav > li{
    padding: 6px 2px 4px 2px;    
    }
#nav a{
    color: #fff;
    }
#nav .main-nav img {
    max-width: none;
    margin: -25px;
}
#nav .main-nav{
    color: #fff;
    text-decoration: none;
    display: block;
    padding-right: 4px;
    }
#nav ul#pop-menu{
    background:#333;
    padding: 0;
    margin: 3px 0 0 -2px;
    position:absolute;
    display: none;
    corner-bottom-left-radius: 4px;
    corner-bottom-right-radius: 4px;
    width: 275px;
    }
.topbar #nav .arrow{
    float: right;
    display: block;
    width: 0px;
    border: 4px solid transparent;
    border-right: 6px solid #999;
    border-left: 0px;
    margin-top: 6px;
    }
.topbar #nav:hover .arrow{
    border: 4px solid transparent;
    border-top: 6px solid #eee;
    border-bottom: 0px;
    position: relative;
    left: 2px;
    top: 2px;
    }
#pop-menu li{
    margin: 0px;
    padding: 0px;
    color: #FFF;
}
#pop-menu a{
	display: block;
	padding: 4px;
	background: #666;
	border-top: 1px solid #333;
}
#nav.active li ul#pop-menu{ 
	display: block;
	text-align: left;
}
#logged_in_li {
    padding: 4px !important;
}
#ui-datepicker-div {
    position: relative;
    z-index: 9999 !important;
}
/*Firefox fix for homepage alignment issues*/
@-moz-document url-prefix(){
    #title {
        margin-top: -25px;
    }
    #titleRow .loginBox{
        margin-top: 80px;
    }
}
@media screen and (min-width: 1025px){
    #nav {
        width: 15%;
    }
    #nav ul#pop-menu {
        right: 1px;
    }
    #profile_link, #savedsearch_link, #company_dashboard_link {
        display: none !important;
    }
    .topbar ul {
        position: relative;
    }
    #nav li:hover ul#pop-menu{ 
        display: block;
        text-align: left;
    }
}
#nav.active ul#pop-menu li a:hover,
#nav li:hover ul#pop-menu li a:hover{ 
	background:#333;
	color: #fff;
	text-decoration:none;
}

/* Account Creation Slider styles */
.color-bg {
    background:#D2CDC1;
    margin-bottom: 10px;
    margin-left: 10px;
}
.module {
    padding: 10px;
    height: 250px;
}
/* Profile screen styles */
#moduleBank a{
    display: block;
    width: 100%;
    padding: 10px 5px;
    font-weight: bold;
}
#moduleBank td{
    padding: 0px;
}
#moduleBank a:hover{
    color:#fff;
    background-color: #b34529;
    background-image: none;
    background-image: -moz-linear-gradient(#db5938,#b34529);
    background-image: -webkit-gradient(linear, left top, left bottom, #db5938, #b34529); 
    background-image: -webkit-linear-gradient(#db5938,#b34529);  
    background-image: -o-linear-gradient(#db5938,#b34529); 
    background-image: linear-gradient(#db5938,#b34529);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#db5938', endColorstr='#b34529', GradientType=0);
    margin: 0px;
    text-decoration: none;
}
#moduleColumn td.action{
    min-width: 135px;
}

/* Footer Styles */
.footer {
    padding-top: 10px;
}
.footer a {
    color: #FFF;
    padding: 10px;
}

input[type='checkbox'] + .help-block{
    display:inline;
    padding-left: 5px;
}

form input[type='checkbox']{
    margin-top: -1px;
}
#user-buttons input[type="button"]{
    margin-left: 20px;
    width: 180px;
    height: 45px;
}
#user-buttons #book{
    margin-bottom:10px;
}
#details-smallList{
    list-style-type: none;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0;
}
#details-smallList li{
    margin:0;
    font-size: 0.9em;
    line-height: 13px;
}
.candidate-details .accordion,
.details-inner{
    margin-bottom: 0px;
}
.candidate-details .accordion-group{
    border: 0px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0px;
}
.candidate-details{
    border: 1px solid #ddd;
}
.candidate-details td{
    border-left: 0px;
}
.candidate-details .accordion-heading,
.candidate-details .accordion-toggle{
    padding: 4px;
}
.candidate-details .accordion-inner,
.candidate-details .no-side-padding{
    padding: 0px;
}
.candidate-details .accordion-body{
    max-height: 200px;
    overflow: auto;
    overflow-x: hidden;
}
.candidate-details .table{
    margin-top:-1px;
    margin-bottom: 0px;
}
.candidate-details h3{
    padding: 5px 10px;
    border-top:0px;
}
.details-heading{
    background-color: #d2cfc7;
    font-size: 1.3em;
    font-weight: bold;
}
.details-heading a{
    color: #333;
}
.details-heading a:hover{
    color: #333;
    text-decoration: none;
}
.gravatar {
    padding: 4px;   
}
.info-row{
    background-color: rgb(250, 250, 250);
    padding: 6px 8px;
    border-bottom: 1px solid #ddd;
}
#candidate-page-mobile-view #candidate-page-mobile-toggle{
    display: none;
}
.mobile-heading-candidate-view{
    display:none;
}

@media screen and (max-width: 1024px){
    .topbar-inner {
        height: 50px;        
        border-bottom: 20px solid #c44e34;
    }
    #logged_in_li {
        display: block;
        font-size: 2em;
        height: 25px;
        line-height: 20px;
        padding: 10px !important;        
        }
    #logo-block{
        margin-top: 10px;
    }
    .topbar .menu-tabs {
        display: none;
    }
    .topbar #nav .arrow{
        display: none;
    }
    .topbar #nav img {
        display: none;
    }
    #nav .main-nav{
        background: #C44E34 url(/files/static/images/superbutton.png) no-repeat;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 45px;
        height: 45px;
        padding: 0px;
        text-indent: -9000px;
        z-index: 101;
        border-width: 2px;
    }
    #topbar-login form{
        display: none;
    }
    .section #nav{
        display: none;
    }
    #topbar-login #nav.active + form,
    #topbar-login #nav:hover + form{
        background:#333;
        padding: 0;
        margin: 3px 0 0 0;
        position:absolute;
        top: 0px;
        left: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;
        corner-bottom-left-radius: 4px;
        corner-bottom-right-radius: 4px;
        width: 100%;
    }    
    .topbar #topbar-login input{
        height: 30px;
     }
    .topbar #topbar-login button{
        margin-right: 70px;
        padding: 10px 25px 9px 25px;
    }
    .topbar #nav ul#pop-menu{
        border-top: 20px solid #c44e34;
        position: absolute;
        left: 0px;
        width: 100%;
        top: 0px;
        z-index: 100;
        margin: 0 -10px 0 0px;
    }
    .topbar #nav ul#pop-menu li{
        display: block;
        margin: 0px;
        width: 100%;
    }
    .topbar #nav ul#pop-menu li a{
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border-left: 0px;
        border-right: 0px;
        font-size: 2em;
        height: 25px;
        padding: 10px;        
    }
    .loginBox a{
        margin: 10px 0 0 0;
    }
    .section a.ui-combobox-toggle {
        padding: 8px 0px 8px 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    input[type=checkbox]{
        width: 35px;
        height: 35px;
    }
    #moduleBank a{
        width: auto;
    }
    div.settings-nav {
        display: block;
    }
    a.account-menu-item {
        background: none;
        border-style: none;
        padding: 0;
        display: block;
    }

}
@media screen and (min-width: 501px){
    #saved-search-form #id_label,
    #saved-search-form #id_edit_label {
        margin-top: 10px;
    }
    #saved-search-form #id_url,
    #saved-search-form #id_edit_url {
        margin-bottom: 10px !important;
    }
    #saved-search-form label[for=id_label],
    #saved-search-form label[for=id_edit_label] {
        margin-top: 10px;
    }
    #saved-search-form label[for^='id_sort_by'], label[for^='id_edit_sort_by'] {
    display: inline;
    margin: 5px;
    }
    #saved-search-form input,
    #saved-search-form textarea,
    #saved-search-form select {
        margin-bottom: 5px;
    }


}
@media screen and (max-width: 500px){  
    .profile-mobile table, 
    .profile-mobile thead, 
    .profile-mobile tbody, 
    .profile-mobile th, 
    .profile-mobile td, 
    .profile-mobile tr { 
        display: block; 
    } 
    .profile-mobile thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    } 
    .profile-mobile tr { 
        border: 1px solid #ccc; 
    } 
    .profile-mobile td {    
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
        white-space: normal;
        text-align:left;
    } 
    .profile-mobile td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
     }
  
    .table-striped tbody tr:nth-child(even) td {background-color: #FFF !important;}
    .table-striped tbody tr:nth-child(odd) td {background-color: #FFF !important;} 
      
    .profile-mobile td:before { content: attr(data-title); }
    
    #moduleBank {
        margin-top: 20px;
    }
    
    /*Ajax Indicator*/
    #ajax-busy {
        margin: 0px 0px 0px -65px; /* left margin is half width of the div, to center it */
        padding: 30px 10px 10px 10px;
        left: 25%;
        width: 300px;        
    }   
    
    .hasRegions {        
        float: left;
        margin-left: -9px;
        margin-top: 1px;
        margin-bottom: 0px;
    }
    .checkbox-margin {
        padding-top: 14px;    
    }
    .profile-form-input input {
        width: 65%;
    }
    
    .inbox-alert {
        display: none;        
    }
    
    #titleRow{
        margin-top: 0px;
    }
    #titleRow #title{
        display: none;
    }
    #titleRow{
         background-image: none;
         min-height: 100px; 
    }
    #titleRow .loginBox{
         margin-top: 5px;
         margin-bottom: 5px;
    }    
    .topbar #topbar-login input{
        padding-left: 0px;
        padding-right: 0px;
        text-indent: 5px;
    }
    .topbar #topbar-login input,
    .topbar #topbar-login button{
        width: 80%;
        margin: 0 0 10px 10px;
        float: none;
        clear: both;
        display: block;
    }
    #logged_in_li {
        display: none !important;
        }
    #company_dashboard_link {
        overflow: hidden;
        }
    form .pull-left{
        float: none;
    }
    form .pull-left label{
        text-align: left;
    }
    .form-label{
        width: 96%;
    }    
    input[type=checkbox]{
        float: left;
        margin: 2px;
    }
    input.comboboxWidget{
        width: 60%;
        float: none;
        margin-top: -12px;
    }
    ul.ui-autocomplete{
        display: none !important;
    }

    /* Mobile Saved Search */

    #saved-search-form label[for=id_is_active],
    #saved-search-form label[for=id_edit_is_active] {
        margin-top:10px;
        float: left;
    }

    #saved-search-form input[type=checkbox]{
        display:inline-block;
        margin-left: 35px;
    }
    div.actions button, div.actions a {
        float: none;
        margin-bottom: 10px !important;
        display: block;
    }
    #saved-search-form label[for=id_url],
    #saved-search-form label[for=id_edit_url] {
        padding-left: 3%;
        margin-left:-10px;
        background-color: #ccc;
        border: 1px solid #bbb;
    }
    #saved-search-form #id_url,
    #saved-search-form #id_label,
    #saved-search-form #id_email,
    #saved-search-form #id_notes,
    #saved-search-form #id_edit_url,
    #saved-search-form #id_edit_label,
    #saved-search-form #id_edit_email,
    #saved-search-form #id_edit_notes {
        border-radius: 0px !important;
        border: 1px solid #bbb !important;
    }
    .mobile_hide {
        display: none !important;
    }
    .list_width {
        width: 80%;
    }
    #validated_label {
        display: none;
    }
    #id_label {
        margin-top: 0px !important;
    }
    #saved-search-list .view_search {
        cursor: pointer;
    }

    /* Mobile Saved Search Listing */

    #saved-search-listing-details {
        margin-bottom: 15px;
    }

    .section.subpage {
        background-color: #fff;
    }

    #moduleColumn #id_name-primary,
    #moduleColumn #id_employmenthistory-current_indicator {
        display: block;
        margin-right: 5px;
    }

    #moduleColumn label[for=id_name-primary],
    #moduleColumn label[for=id_employmenthistory-current_indicator] {
        padding-left: 20px;
    }

    #moduleColumn + .span4 #moduleBank {
        margin-top: 20px;
    }

    #profileTitleBar {
        overflow-x: hidden;
    }

    a.account-menu-item {
        background-color: rgba(255,255,255,.5);
        border-style: none;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        padding: 0;
        display: block;
        border-bottom: 1px solid;
    }

    div.settings-nav {
        background: none;
        border-right: none;
    }
    div.account-settings {
        display: none;
        width: auto;
        padding: 10px;
    }
    div.account-box {
        min-height: auto;
        background-color: #f4f1ea;
    }

    div.account-settings .actions button {
        width: 100%;
        margin: 0;
    }
    div.settings-nav ul {
        height: auto;
    }
    h4.account-menu-header {
        background: transparent url('/files/static/glyphicons_223_chevron-right.png') center right  no-repeat;
        width: 87%;
    }

    h4.account-menu-header:hover {
        background: transparent url('/files/static/glyphicons_223_chevron-right.png') center right  no-repeat;
        width: 87%;
    }

    #gravatar-img {
        float: left;
        padding-bottom: 10px;
    }

    #gravatar-link {
        float: right;
        width: 45%;
    }
    form input[type='checkbox']{
        margin-top: 3px;
    }
    #candidate-page-mobile-view{
        position:relative;
    }
    #candidate-page-mobile-view .formBox{
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    #candidate-page-mobile-view .span4 h3{
        display: none;
    }
    .show-details#candidate-page-mobile-view .span4{
        display: block;
    }
    #candidate-page-mobile-view .span4 + .span4,
    .show-details#candidate-page-mobile-view .span4 + .span4{
        display:none;
    }    
    .show-details#candidate-page-mobile-view #detail-toggle,
    #candidate-page-mobile-view #detail-toggle{
        background-color: rgb(194, 187, 169);
    }
    .show-activity#candidate-page-mobile-view .span4 + .span4{
        display: block;
    }
    .show-activity#candidate-page-mobile-view .span4{
        display: none;
    }
    .show-activity#candidate-page-mobile-view #activity-toggle{
        background-color: rgb(194, 187, 169);
    }
    .show-activity#candidate-page-mobile-view #detail-toggle{
        background-color: #FFF;
    }
    #candidate-page-mobile-view #candidate-page-mobile-toggle{
        width: auto;
        margin: 0 10px;
        display: block;
        float: none;
        border: 1px solid #ddd;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    #candidate-page-mobile-toggle .toggle-text{
        display: inline-block;
        min-width: 50%;
        font-size: 24.5px;
        line-height: 40px;
        font-weight: bold;
    }
    .toggle-text:hover{
        background-color: rgb(194, 187, 169) !important;
        cursor: pointer;
    }
    .default-heading-candidate-view{
        display: none;
    }
    .mobile-heading-candidate-view{
        display: block;
    }
    .mobile-heading-candidate-view .btn.primary{
        display: block;
        margin-top: 10px;
    }
    #mobile-name-heading{
        float:left;
        padding: 5px 5px;
    }
    #name-flag, #candidate-flag{
        float: left;
    }
    #name-flag{
        font-size: 1.7em;
        font-weight: bold;
        color: #900;
    }
    #candidate-flag{
        font-size: 1.2em;
    }
    .mobile-heading-candidate-view a.href-small-icon{
        padding: 0px;
        border: 0px;
    }
    .mobile-heading-candidate-view #email-img{
        width: 30px;
        height: 20px;
    }
}

/* Account Settings */
.account-box {
    padding: 0;
    margin: 0;
    min-height: 354px;
    border: 1px solid #b34529
}

.settings-nav {
    background: #b5aea3;
    margin: 0;
    padding: 0;
    border-right: 2px solid #574E44;
}

.account-box h2 {
    padding-left: 20px;
    border-bottom: 2px solid #574E44;
    margin: 0;
    padding-top: 20px;
}

.account-settings {
    padding-top: 20px;
    padding-right: 20px;
    width: 580px;
}

.settings-nav ul {
    list-style-type: none;
    height: 354px;
    padding: 0;
    margin: 0;
}

.settings-nav li h4{
    margin: 0;
    padding: 20px;
}

.settings-nav li:hover {
    background: #c54c2d;
    color: #FFF;
}

.settings-nav a:hover {
    text-decoration: none;
}

.account-settings input[type="text"], .account-settings input[type="password"] {
    width: 250px;
}

.account-menu-item.password-required {
    display: none;
}

.account-captcha {
    text-align: center;
    padding-bottom: 30px;
}

#edit_modal .input-prepend .add-on {
    width: 96px;
}

#edit_modal .input-prepend input,
#edit_modal .input-prepend select {
    width: auto;
}


#captcha_modal {
    width: 620px;
}

.account-warning {
    width: 400px;
}


/* Saved Search */

table td, table th{
    overflow: hidden;
}

#validated {
    display: inline;
    padding: 7px;
}

#digest-option label[for=id_digest_active],
#digest-option label[for=id_digest_email],
#digest-option label[for=id_send_if_none] {
    display: inline-block;
    margin-right: 10px;
}

#saved-search-form #id_day_of_month,
#saved-search-form #id_day_of_week,
#saved-search-form #id_edit_day_of_month,
#saved-search-form #id_edit_day_of_week {
    display: inline;
}

#saved-search-list table {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.digest_error {
    background-color: #f00;
    display: inline-block;
}

#digest-option #id_digest_email,
#digest-option #id_digest_active,
#digest-option #id_send_if_none {
    margin-bottom: 5px !important;
    display: inline-block;
    margin-right: 5px;
    margin-top: 3px !important;
}

.formBox.span7 {
    margin-top: 20px;
    float: none;
}

#saved-search-form input[type=checkbox]{
    margin-top: 3px;
}

#saved-search-form label[for=id_day_of_month],
#saved-search-form label[for=id_day_of_week],
#saved-search-form label[for=id_edit_day_of_month],
#saved-search-form label[for=id_edit_day_of_week] {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

/* Saved Search Listing */

#saved-search-listing-table a {
    text-decoration: none;
}

#saved-search-listing-table ul {
    list-style-type: none;
    margin: 0px;
}

#saved-search-listing-table p {
    display: inline;
    font-size: 1.7em;
    font-weight: bold;
}

#saved-search-listing-details > div,
#saved-search-listing-details > h2 {
    padding-left: 10px;
    padding-right: 10px;
}

#saved-search-listing-details > div {
    padding-top: 10px;
}

#saved-search-listing-details {
    padding-bottom: 0px;
}

[class^="icon-"], [class*=" icon-"] {
    background-image: url("/files/static/images/glyphicons-halflings.png");
}

body.modal-open {
    overflow: hidden;
}

.account-captcha {
    text-align: center;
    padding-bottom: 30px;
}

#edit_modal .input-prepend .add-on {
    width: 96px;
}

#edit_modal .input-prepend input,
#edit_modal .input-prepend select {
    width: auto;
}


#captcha_modal {
    width: 620px;
}

.account-warning {
    width: 400px;
}

.warning-badge {
    position: absolute;
    bottom: -10%;
    right: -15%;
}

.gravatar-warning {
    width: 150px;
    position: relative;
    margin-bottom: 50px;
}

#captcha_modal .modal-body {
    overflow: hidden !important;
}

.required input[type=text],
.required select {
    border: 1px solid #900;
}
.required-label{
    color: #900;
}
.required-border{
    border: 1px solid #900;
}
