{% extends "static_page.html" %}
{% load i18n %}
{% block site-title %}
    <title>Error 500 My.jobs</title>
    <meta name="title" content="Error 500 My.jobs">
{% endblock %}

{% block meta-extra %}{% endblock %}

{% block header %}
    <h1>
        {% trans "Error 500"%}
        <small>{% trans "Page not found" %}</small>
    </h1>
{% endblock %}

{% block text %}       
    Something has gone wrong on the server, and we can't process this request 
    right now. Please hit the back button in your browser, or use the links to 
    the right.
{% endblock text %}

{% block focusbox-content %}

{% endblock focusbox-content %}
