{% extends 'static_page.html' %}

{% block header %}
    <h1>About My.jobs</h1>
{% endblock %}

{% block text %}


    <p>This platform is designed to make finding employment easier. This is done by empowering the job seeker to control their data, and then making it easy for them to connect to like minded and interested employers.</p>


    <h2>What it is for Job Seekers</h2>

	<p>My.jobs is a single base of operations for your job search experience. It is about three things:</p>

    <ol>
        <li>Privacy - You control what data is shown and to whom</li>
        <li>Control - You are in charge of your job search</li>
        <li>Convenience - Do it all in one place</li>
    </ol>

    <h2>What it is for Employers</h2>


    <p>A place to find interested job seekers. People who are looking for you and your company. It is also a place where you can stay in touch with qualified job seekers, even when you don't have an opening right now.</p>



    <h2>What it is not</h2>


    <p>We have big plans for My.jobs, but we also know what we do not want it to be</p>

    <ul>
        <li>Another social platform. This is a place to put your existing social networks to use, not another contacts list to manage.</li>
	    <li>Another job board. This is not just a place to create another profile and check it every day. This is the place to check all of your jobs boards. At one time. In one place.</li>
	    <li>Something to exploit you. This is a place for job seekers to control who sees them and a place for employers to share open positions without getting fleeced.</li>
    </ul>

    <h2>Why?</h2>


    <p>My.jobs is funded and maintained by the <a href="http://directemployersfoundation.org">DirectEmployers Foundation</a>, an organization dedicated to a fair, open, and trusted job search experience.</p>
 
{% endblock %}
