{#
!!DEPRICATION NOTICE!!
This file is being phased out in favor of myjobs_base.html. USe that file instead.
#}
{% load i18n %}
{% comment %}
base.html -- implements MyJobs page.

Where practical, the HTML structure is separated from content... so to override
content only, override whatever-content in your template. To override the 
structure of the page (e.g. single column for content) you would override 
whatever.
{% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block meta %}
  {% include "includes/meta.html" %}
  {% endblock meta %}
  {# use meta-append to add template specific scripts and styles #}
  {% block meta-append %}{% endblock meta-append %}
</head>
<body{% block body_extra %}{% endblock body_extra %}>
{% block page %}
{% block topbar %}
  {% include "includes/topbar.html" %}
{% endblock topbar %}
{% block subpage %}
<section><div class="section subpage">
  {# Show messages only if we have messages to show #}
  {% block message %}
     {% include "includes/message.html" %}
  {% endblock message %}
  {# Header is full content area width #}
  {% block header %}
  <div class="wrapper">
    <div class="row">
      <div class="span16">
      {% block header-content %}
	{{ site_title }}
      {% endblock header-content %}
      </div>
    </div>
  </div>
  {% endblock header %}
  {# to change layouts, override content-area in your template #}
  {# for custom content, just override the content block #}
  
  {% block content-area %}
    <div class="wrapper">
      <div class="row">
	<div class="span-three-fifths">
	  {% block content %}
	
	  {% endblock content %}
	</div>
	{# Sidebar #}
	{% block focusbox %}
	  <div class="span-two-fifths">
	      <div id="focusBox">
		  {% block focusbox-content %}
		    <div class="h2block takeover">
		      <h3>Focus Box Content</h3>
		      <p>Goes here.</p>
		    </div>
		  {% endblock focusbox-content %}    
	      </div>
	      </div>
	  {% endblock focusbox %}
      </div>
    </div>
  {% endblock content-area %}
  
</div></section>
{% endblock subpage %}
{% endblock page %}
{# Footer Starts Here #}
{% block footer %}
<footer><div class="footer">
  {% block bottomtabs %}      
  <div id="bottomTabs">
    <div class="wrapper">
      {% block bottomtabs-content %}
   	<div id="robot"></div>
	<div class="row">
	    <div class="span-one-fifth">
		<h3 id="save">Save.</h3>
		<p>{% trans "Collect jobs you've discovered anywhere in the .jobs universe." %}</p>
	    </div>
	    <div class="span-one-fifth">
		<h3 id="share">{% trans "Share." %}</h3>
		<p>{% trans "Personalize the jobs you share with your social networks." %}</p>
	    </div>
	    <div class="span-one-fifth">
		<h3 id="socialize">Socialize.</h3>
		<p>{% trans "Join to promote yourself and the jobs you are sharing." %}</p>
	    </div>
	    <div class="span-two-fifths">
		<h3 id="future">{% trans "Future." %}</h3>
		<p>{% trans "Verified jobs, sidebar, browser extension, personalized job matching, search cloud, application & interview assistants, job alerts, mobile...and more." %}</p>
	    </div>
	</div>
      {% endblock bottomtabs-content %}
    </div>
  </div>
 {% endblock bottomtabs %}

    <div id="direct_dotJobsFooter">
        <div class="wrapper" id="bottomLinks">            
          
        <div class="row" id="direct_dotjobsFooterContent">
            <div class="span4">
            {% blocktrans %}A Service of {% endblocktrans %}<a href="http://directemployers.org" target="_blank">DirectEmployers</a><p>
            <a class="social_icon facebook_icon" href="http://www.facebook.com/Universe.jobs/"></a>
            <a class="social_icon twitter_icon" href="http://twitter.com/dotjobsuniverse/"></a>
            <a class="social_icon youtube_icon" href="http://www.youtube.com/universedotjobs/"></a>
            </p>
            <br>
            <br>
            
            </div>
            <div class="span4" style="position: relative">
            <a href="http://about.jobs/" class="direct_dotjobsFooterLink">{% blocktrans %}About{% endblocktrans %}</a>        
            <a href="http://about.jobs/contact/" class="direct_dotjobsFooterLink">{% blocktrans %}Contact{% endblocktrans %}</a>        
            <a href="http://about.jobs/privacy-policy/" class="direct_dotjobsFooterLink">{% blocktrans %}Privacy{% endblocktrans %}</a>        
            <a href="http://about.jobs/terms-of-use/" class="direct_dotjobsFooterLink">{% blocktrans %}Terms{% endblocktrans %}</a>
            <p id="direct_dotjobsScamAlert" style="font-size: 10px; margin-bottom: 0px;">
            <a href="https://www.privacyrights.org/Online-Privacy-and-Technology">Privacy &amp; Security tips</a> for online job seekers.</p>
            </div>
            <div class="span4">
            <a href="http://veterans.jobs/" class="direct_dotjobsFooterLink">{% blocktrans %}Veterans Jobs{% endblocktrans %}</a>
            <a href="http://disability.jobs/" class="direct_dotjobsFooterLink">{% blocktrans %}Disability Jobs{% endblocktrans %}</a>
            <a href="http://diversity.jobs/" class="direct_dotjobsFooterLink">{% blocktrans %}Diversity Jobs{% endblocktrans %}</a>
            <a href="http://minority.jobs/" class="direct_dotjobsFooterLink">{% blocktrans %}Minority Jobs{% endblocktrans %}</a>
            </div>
            <div class="span4">
            <a href="http://universe.jobs/" class="direct_dotjobsFooterLink">{% blocktrans %}Online Recruitment Solutions{% endblocktrans %}</a>
            <a href="http://universe.jobs/employment-marketing/" class="direct_dotjobsFooterLink">{% blocktrans %}Employment Marketing{% endblocktrans %}</a>
            <a href="http://universe.jobs/talent-acquisition/" class="direct_dotjobsFooterLink">{% blocktrans %}Talent Acquisition{% endblocktrans %}</a>
            </div>
        </div>
        <div class="row" id="subfooter">
            <div class="span16">
                <p>The <a href="http://goto.jobs/about.asp">.JOBS Top Level Domain</a> is sponsored by the Society for Human Resource Management (SHRM)<br>
                The <a href="http://us.jobs/">National Labor Exchange</a> is sponsored by the National Association of State Work Force Agencies (NASWA)
                </p>
            </div>
        </div>
    </div>
</div>

      
      
      
    
  </div>
  </div>

</div></footer>
{% endblock footer %}

{% include "includes/analytics.html" %}
{# Use page-append when you need to insert something just above the /body tag #}
{% block page-append %}{% endblock page-append %}
</body>
</html>
