{% extends 'static_page.html' %}
{% load i18n %}
{% block site-title %}
        <title>Contact My.jobs</title>
        <meta name="title" content="Contact My.jobs">
{% endblock site-title %}
{% block meta-extra %}{% endblock meta-extra %}
{% block header %}
    <h1>Contact My.jobs</h1>
    <script type="text/javascript">
        $(document).ready( function(){
            $('.formBox').hide();
        });
    </script>
{% endblock header%}
{% block text %}
<div id="contact-form">
    <form method="POST" id="captcha-form">
        <br />
        <div class="span3 form-label pull-left initial">
            <label>{% trans "Full Name" %}:</label>
        </div>
        <div class="profile-form-input">
            <input maxlength="60" name="name" placeholder="Full Name" required type="text">
        </div>
        <div class="clear"></div>
        <div class="span3 form-label pull-left initial">
            <label>{% trans "Email" %}:</label>
        </div>
        <div class="profile-form-input">
            <input maxlength="60" name="email" placeholder="Email"  required type="text">
        </div>
        <div class="clear"></div>
        <div class="span3 form-label pull-left initial">
            <label>{% trans "Phone (optional)" %}:</label>
        </div>
        <div class="profile-form-input">
            <input maxlength="60" name="phone" placeholder="Phone Number" type="text">
        </div>
        <div class="clear"></div>
        <div class="span 3 form-label pull-left initial">
            <label>{% trans "I am a(n)" %}:</label>
        </div>
        <div class="profile-form-input">
            <select id="type" name="type" class="select">
                <option value="Job Seeker">{% trans "Job Seeker" %}</option>
                <option value="Employer">{% trans "Employer" %}</option>
                <option value="Partner">{% trans "Partner" %}</option>
            </select>
        </div>
        <div class="clear"></div>
        <div class="span 3 form-label pull-left initial">
            <label>{% trans "Area of interest" %}:</label>
        </div>
        <div class="profile-form-input">
            <select id="reason" name="reason" class="select">
                <option value="My Account">{% trans "My Account" %}</option>
                <option value="Emails from My.jobs">{% trans "Emails from My.jobs" %}</option>
                <option value="Media Inquiry">{% trans "Media Inquiry" %}</option>
                <option value="My.Jobs Error">{% trans "Something on My.Jobs is Broken" %}</option>
                <option value="Other">{% trans "Other" %}</option>
            </select>
        </div>
        <div class="clear"></div>
        <div class="span3 form-label pull-left initial">
            <label>{% trans "Comments" %}:</label>
        </div>
        <div class="profile-form-input">
            <textarea class="form-textarea" name="comment" required placeholder="Type your comment here"></textarea>
        </div>
        <div class="clear"></div>
        <div class="span3 form-label pull-left initial">
            <label>{% trans "Are you Human?" %}</label>
        </div>
        <div class="profile-form-input captcha">
            {{form}}
        </div>
        <div class="clear"></div>
        <br />
        {% csrf_token %}
        <div class="span3 form-label pull-left initial"></div>
        <input type="submit" class="submit btn primary" id="contact-submit" value="Submit">
    </form>
</div>
<div id="success-info" style="display:none;">
    <p>
        Your message has been successfully sent. Someone from our team will follow up with you as needed.
        From here, you can <a href="http://my.jobs">return to the homepage</a>, or use the links to the right
        to find your way.
    </p>
    <p>Here are the details of your message:</p>
    <table id="success-table" class="table table-bordered table-striped">
        <tr>
            <td class="text-right">Name:</td>
            <td id="name-input"></td>
        </tr>
        <tr>
            <td class="text-right">Email:</td>
            <td id="email-input"></td>
        </tr>
        <tr>
            <td class="text-right">Phone:</td>
            <td id="phone-input"></td>
        </tr>
        <tr>
            <td class="text-right">I am a:</td>
            <td id="iam-input"></td>
        </tr>
        <tr>
            <td class="text-right">Area of interest:</td>
            <td id="aoi-input"></td>
        </tr>
        <tr>
            <td class="text-right">Comments:</td>
            <td id="comment-input"></td>
        </tr>
        <tr>
            <td class="text-right">Submitted on:</td>
            <td id="time-input"></td>
        </tr>
    </table>
</div>
{% endblock text %}
