{% extends "base.html" %}
{% load i18n %}
{% comment %}
done.html -- presents user_view_profile.
{% endcomment %}
{% block header-content %}
<h2>{% trans "Your Account" %} </h2>
<br>
{% endblock header-content %}

{% block content %}
<div id="userprofile">
  <table class="zebra-striped">
      <tbody>
        <tr><td class="table-field"><b>{% trans "Email" %}</b></td>
          <td>{{ user.email|default:"Not provided" }}</td></tr>
        <tr><td class="table-field"><b>{% trans "Name" %}</b></td>
          <td>
            {% if user.first_name %} {{ user.first_name }} {% endif %}
            {% if user.last_name %} {{ user.last_name }} {% endif %}
            {% if not user.first_name and not user.last_name %} Not Provided {% endif%}
        </td></tr>
        <tr><td class="table-field"><b>{% trans "Last Logged In" %}</b></td>
          <td>{{ last_login }}</td></tr>
        <tr><td class="table-field"><b>{% trans "Email Notifications" %}</b></td>
          <td>{% if user.opt_in_myjobs %}You've opted to receive communications from MyJobs{% else %}
            You've declined to receive communications from MyJobs {% endif %}
        </td></tr>
      </tbody>
  </table>
  <br>
  {% if not user.is_active %}
  <div class="alert-message info">
    <p>{% trans "Your account doesn't have full access to MyJobs features! Please activate it using the activation link sent to your email. "%}</p>
  </div>
  {% endif %}
</div>

<div id="share_history">
   {# TODO comment sharing history here #}
</div>

{% endblock content %}

{% block focusbox-content %}
      <div class="h2block takeover">
        {% include "includes/about-dot-jobs.html" %}	
      </div>

  </div>
{% endblock focusbox-content %}
