{% extends "base.html" %}
{% load i18n %}
{% comment %}
done.html -- presents user_view_profile.
{% endcomment %}
{% block header-content %}
<h2>{% trans "Profile" %} <small>{% if user.first_name %}{{ user.first_name }} {{ user.last_name }}{% else %}{{ user.username}}{% endif %}</small></h2>
{% endblock header-content %}

{% block content %}
<div id="userprofile">
  <table class="zebra-striped">
      <thead>
	    <tr><th>{% trans "Name" %}</th><th>{% trans "Value" %}</th></tr>
      </thead>
      <tbody>
        {% if user.is_staff %}
        <tr><td>Id:</td><td>{{ user.id }}</td></tr>
        {% endif %}
      <tr><td>{% trans "Username" %}</td> <td>{{ user.username }}</td></tr>
      <tr><td>{% trans "Email" %}</td> <td>{{ user.email|default:"Not provided" }}</td></tr>
      <tr><td>{% trans "First name" %}</td> <td>{{ user.first_name|default:"Not provided" }}</td></tr>
      <tr><td>{% trans "Last name" %}</td> <td>{{ user.last_name|default:"Not provided" }}</td></tr>
      <tr><td>{% trans "Last logged in" %}</td> <td>{{ last_login }}</td></tr>
      <tr><td>{% trans "Headline" %}</td><td>{{ user.get_profile.public_headline }}</td></tr>
      <tr><td>{% trans "Summary" %}</td><td>{{user.get_profile.public_summary }}</td></tr>
      <tr><td>{% trans "Privacy" %}</td>
	  <td>{% if user.get_profile.opt_in_myjobs %}{% trans "Receive communications from My.Jobs." %}{% else %}{% trans "Do not receive communications from My.Jobs." %}{% endif %}<br>
	      {% if user.get_profile.opt_in_myjobs %}{% trans "Receive communications from .jobs employers" %}{% else %}{% trans "Do not recieve communication from .jobs employers." %}{% endif %}
	  </td>
      </tr>
     </tbody>
  </table>
</div>

{% if account_info %}
<h2>Remove an Account:</h2>
{% for account in account_info %}
  <a href="/remove/{{account.name}}"><img class="socialbutton" src="{{account.image}}"></a>
{% endfor %}
{% endif %}

<h2>Connect your {% if account_info %}other{% endif %} accounts:</h2>
{% include "includes/widget-connectify.html" %}

<div id="share_history">
   {# TODO comment sharing history here #}
</div>

{% endblock content %}

{% block focusbox-content %}
      <div class="h2block takeover">
        {% include "includes/about-dot-jobs.html" %}	
      </div>

  </div>
{% endblock focusbox-content %}
