{% extends "base.html" %}
{% load i18n %}
{% comment %}
done.html -- presents user_view_profile.
{% endcomment %}
{% block header-content %}
<h2>{% trans "Profile" %} <small>{% if user.first_name %}{{ user.first_name }} {{ user.last_name }}{% else %}{{ user.username}}{% endif %}</small></h2>
{% endblock header-content %}

{% block content %}
<div id="userprofile">
  <table class="zebra-striped">
      <thead>
	    <tr><th>{% trans "Name" %}</th><th>{% trans "Value" %}</th></tr>
      </thead>
      <tbody>
        {% if user.is_staff %}
        <tr><td>Id:</td><td>{{ user.id }}</td></tr>
        {% endif %}
      <tr><td>{% trans "Email" %}</td> <td>{{ user.email|default:"Not provided" }}</td></tr>
      <tr><td>{% trans "First name" %}</td> <td>{{ user.first_name|default:"Not provided" }}</td></tr>
      <tr><td>{% trans "Last name" %}</td> <td>{{ user.last_name|default:"Not provided" }}</td></tr>
      <tr><td>{% trans "Last logged in" %}</td> <td>{{ last_login }}</td></tr>
	  </td>
      </tr>
     </tbody>
  </table>
  <a href="{% url 'edit_profile' %}">Edit Account Information</a><br>
  {% if not user.is_active %}
  <div class="alert-message info">
    <p>{% trans "Your account doesn't have full access to MyJobs features! Please activate it using the activation link sent to your email. "%}</p>
  </div>
  {% endif %}
</div>

<div id="share_history">
   {# TODO comment sharing history here #}
</div>

{% endblock content %}

{% block focusbox-content %}
      <div class="h2block takeover">
        {% include "includes/about-dot-jobs.html" %}	
      </div>

  </div>
{% endblock focusbox-content %}
