{% extends "myjobs_base.html" %}
{% load i18n %}
{% load selection_boxes %}

{% block content %}
<section><div class="section subpage">
    <div class="wrapper"> 
      <div class="row">
        <div class="span8">
          <h1>{% trans "Edit" %} <small>{% trans "Account Information" %}</small></h1>
          <div class="formBox">
            <form action="" method="POST">
              {% include "includes/form-error-highlight.html" %}
              {% csrf_token %}
              <div class="actions">
                <a href="{% url 'view_account' %}" class="btn pull-right">{% trans 'Cancel' %}</a>
                <button type="submit" class="btn primary pull-right" value="submit">{% trans "Save" %}</button>
                <a href="{% url 'change_password' %}" class="pull-right">{% trans "Change Password" %}</a>
                <div class="clear"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
