{% extends "edit-account.html" %}
{% load i18n %}

{% block edit-main %}
<form action="" method="POST">
  <div class="account-captcha">
    <center>{{form}}</center>
    <p>{% trans "This will permanently delete your account." %}</p>
    <strong><div class="text-error">{% trans "THIS ACTION CANNOT BE UNDONE." %}</div></strong>
  </div>
  {% csrf_token %}
  <div class="actions">
    <a href="{% url 'view_profile' %}" class="btn pull-right">{% trans 'Cancel' %}</a>
    <button type="submit" class="btn primary pull-left captcha-modal" value="submit">{% trans "Delete Account" %}</button>
    <div class="clear"></div>
  </div>
  <div id="new_modal" class="modal hide fade row">
    <div class="modal-header">
      <button class="close mobile_hide" aria-hidden="true" data-dismiss="modal" type="button">×</button>
      <h1>{% trans "Save" %} <small>{% trans "a Search" %}</small></h1>
    </div>
    <form method="post" id="saved-search-form">
      <div class="modal-body">
        <div class="formBox">
          {% include "includes/form-error-highlight.html" with form=add_form %}
        </div>
      </div>
      {% csrf_token %}
      <div class="modal-footer">
        <div class="actions">
          <a id="new_search" class="btn pull-right primary save">Save</a>
          <a data-dismiss="modal" aria-hidden="true" class="btn pull-right">{% trans 'Cancel' %}</a>
        </div>
      </div>
    </form>
  </div>
</form>
{% endblock %}

