{% extends "myjobs_base.html" %}
{% load i18n %}

{% block content %}
<section>
    <div class="wrapper"> 
        <div class="row">
            {% if message %}
            <div class="alert alert-{{messagetype}}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{message}}
            </div>
            {% endif %}
            <div class="span12">
                <h1>{% trans "Account " %}<small>{% trans "Settings"%}</small></h1>
                <div class="account-box">                    
                    <div class="span4 pull-left settings-nav">
                        <ul>
                        <a href="{% url 'edit_basic' %}"><li><h4>{% trans "Basic Information" %}</h4></li></a>
                        <a href="{% url 'edit_password' %}"><li><h4>{% trans "Change Password" %}</h4></li></a>
                        <a href="{% url 'edit_delete' %}"><li><h4>{% trans "Delete/Disable Account" %}</h4></li></a>
                        </ul>
                    </div>  

                    <div class="span7 pull-right account-settings">
                        {% block edit-main %}
                        <form action="" method="POST"
                            {% include "includes/form-error-highlight.html"%}
                            {% csrf_token %}
                            <div class="actions">
                                <a href="{% url 'view_profile' %}" class="btn pull-right">{% trans 'Cancel' %}</a>
                                <button type="submit" class="btn primary pull-right" value="submit">{% trans "Save" %}</button>
                                <div class="clear"></div>
                            </div>
                        </form>
                        {% endblock%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
