{% extends "base.html" %}
{% load i18n %}
{% comment %}
index.html -- implements non-authenticated home/landing page for my.jobs.
{% endcomment %}
{% block title-content %}{% trans "My.Jobs - Manage your job search." %}{% endblock title-content %}
{% block page %}
    <section><div class="leaderBoard">
        <header><div class="header">
            <div class="wrapper">
                <div class="row">
                    <div class="span8" id="title">
                        <h1>{% trans 'My.jobs' %}</h1>
                    </div>
                    <div class="span8" id="subtitle">
                        {% trans 'Save. Share. Socialize.' %}<br/>
                        {% trans 'Forge your path.' %}
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div></header>
            <div class="wrapper" id="leaderBoardContent">
            <div class="row">
                <div class="span-three-fifths">
                    <div id="introText">
                    <p>
                        <b>{% trans 'Everyone is unique' %} &mdash; </b>{% trans 'you have your own vision and goals for your career. My.jobs is a reliable and secure personal job assistant which empowers you to build relationships and your future. Take responsibility for your career, forge your path. My.jobs is personalized just for you.' %}
                            </p>
                    <p>
                        <b>{% trans 'Job sharing is just the beginning' %}.</b> {% trans "Create a profile to track jobs you've saved for yourself or shared with friends, family and the world. My.jobs will continue to provide tools to automate tasks and assist you along your career path, making it easier and faster, with you always in control." %}
                    </p>
                    </div>
                </div>
                <div class="span-two-fifths">
                    <div id="loginBox">
                        {% trans 'Sign in with your favorite social account' %}
                        {% include "includes/widget-connectify.html" %}
                        <p>
                            {% trans 'Or you can sign in with your my.jobs account' %}
                        </p>
                        <form action="/accounts/login/" method="link">
                          <div class="actions">
                            <button type="submit" class="btn primary" value="submit">{% trans "Login" %}</a></button>
                            <span class="help-block">
                              <a href="{% url auth_password_reset %}">{% trans "lost password" %}</a><br>
                              <a href="{% url registration_register %}">{% trans "join my.jobs" %}</a>
                            </span>
                          </div>  
                        </form>
                    </div>				
                </div>
            </div>
<div class="clear"></div>
</div>
</div></section>    
{% endblock page %}

</body>
</html>
