{% extends "base.html" %}
{% load i18n %}
{% comment %}
index.html -- implements non-authenticated home/landing page for my.jobs.
{% endcomment %}
{% block title-content %}{% trans "My.Jobs - Manage your job search." %}{% endblock title-content %}
{% block body_extra %}{% endblock body_extra %}
{% block subpage %}
    <section><div class="leaderBoard">
        <header><div class="header">
            <div class="wrapper">
                <div class="row" id="titleRow">
                    <div class="span8" id="title">
                        <h1>{% trans 'My.jobs' %}</h1>
                    </div>
                    <div class="span8" id="subtitle">
                        {% trans 'Save. Share. Socialize.' %}<br/>
                        {% trans 'Forge your path.' %}
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div></header>
            <div class="wrapper" id="leaderBoardContent">
            <div class="row">
                <div class="span-two-fifths">
                    <div id="loginBox">
                    {% if user.is_authenticated %}
                        <h3> Welcome 
                        {% if user.first_name %}
                            {{user.first_name}}
                        {% else %}
                            {{user.email}}
                        {% endif %}
                        </h3>
                        <p>
                            <a href="/profile/">View your profile</a>                            
                        </p>                        
                    {% else %}
                        <h3>Signup</h3>
                        <form action="/accounts/register/" method="post">  
                            <fieldset>
                                <div class="clear">                              
                                    <!--<div class="form-label pull-left">
                                        <label for="id_username">Username</label>
                                    </div>-->
                                    <div class="input pull-right">
                                      <input id="id_email" type="text" class="required" name="email" maxlength="75" placeholder="Email">           
                                    </div>        
                                </div>
                                <div class="clear">                              
                                    <!--<div class="form-label pull-left">
                                        <label for="id_password1">Password</label>
                                    </div>-->
                                    <div class="input pull-right">
                                        <input id="id_password1" type="password" class="required" name="password1" placeholder="Password">                                    
                                    </div>        
                                </div>
                                <div class="clear">                              
                                    <!--<div class="form-label pull-left">
                                        <label for="id_password2">Password (again)</label>
                                    </div>-->
                                    <div class="input pull-right">
                                        <input id="id_password2" type="password" class="required" name="password2" placeholder="Password (Again)">
                                    </div>        
                                </div>                          
                            </fieldset>
                            {% csrf_token %}
                            <div class="actions pull-right">
                                <button type="submit" class="btn primary pull-right" value="submit">Create Account</button>                                
                            </div>
                        </form>
                        <div class="clear"></div>                        
                    {% endif %}                           
                    </div>				
                </div>
                <div class="span-three-fifths">
                    <div id="introText">
                    <p>
                        <b>{% trans 'Everyone is unique' %} &mdash; </b>{% trans 'you have your own vision and goals for your career. My.jobs is a reliable and secure personal job assistant which empowers you to build relationships and your future. Take responsibility for your career, forge your path. My.jobs is personalized just for you.' %}
                            </p>
                    <p>
                        <b>{% trans 'Job sharing is just the beginning' %}.</b> {% trans "Create a profile to track jobs you've saved for yourself or shared with friends, family and the world. My.jobs will continue to provide tools to automate tasks and assist you along your career path, making it easier and faster, with you always in control." %}
                    </p>
                    </div>
                </div>
            </div>
<div class="clear"></div>
</div>
</div></section>    
{% endblock subpage %}

</body>
</html>
