{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        {% include "includes/meta.html" %}
    {% endblock %}
    
    {% block meta-extra %}{% endblock %}
</head>

<body>
    {% block topbar %}
        {% include "includes/topbar.html" %}
    {% endblock %}
    <section><div class="section subpage">
        {% block page %}
            {% block main %}

                <div id="header">
                    <div class="wrapper">
                        <div class="row">
                            <div class="span16">
                                {% block header %}
                                    {{ site_title }}
                                {% endblock header %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper">
                    {% block content %}{% endblock %}
                </div>
            {% endblock %}
            
        {% endblock %}
    

  
    </div></section>
    <footer><div id="footer">
        {% block footer %}
            <div class="container">
                <div class="footer pull-right">
                    <a href="http://about.jobs" target="_blank">About</a>
                    <a href="http://about.jobs/contact/" target="_blank">Contact</a>
                    <a href="http://about.jobs/privacy-policy/" target="_blank">Privacy</a>
                    <a href="http://about.jobs/terms-of-use/" target="_blank">Terms</a>
                    <a href="http://directemployers.org" target="_blank">by DirectEmployers</a>
                </div>
            </div>
        {% endblock %}
    </div></footer>
</body>
</html>
