{% extends "base.html" %}
{% load i18n %}
{% comment %}
myprofile-edit.html -- implements edit my profile view 

{% endcomment %}

{% block content %}
  <h2>{% trans "Edit Profile" %}</h2>
  <form action="" method="POST">
    {% include "includes/form-error-highlight.html" %}
    {% csrf_token %}
    <div class="actions">
      <button type="submit" class="btn primary" value="submit">{% trans "Save" %}</button>
    </div>
  </form>
{% endblock content %}
{% block focusbox-content %}
  {% include "includes/help-edit-profile.html" %}
{% endblock focusbox-content %}
