{% extends "base.html" %}
{% load i18n %}
{% comment %}
public_profile.html -- implements public profile. Will only show enabled.

Accepts context:

user -- a User object.

{% endcomment %}
{% block page-header-text %}
  {% if	user.profile.enable_public_profile %}
    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
    <small>{{ user.profile.headline }}</small>
  {% else %}
    <h2>{% trans "No Public Profile Available" %}
{% endif %}
{% endblock page-header-text %}
{% block content %}
{# Just in case. We never want to show a profile that is not enabled. #}
{% if enable_public_profile %}
  {{ user.profile.public_summary }}
{% endif %}
{% include "includes/widget-connectify.html" %}
{% endblock content %}

{% block focusbox-content %}
  <div class="alert-message block-message info">
    {% include "includes/about-dot-jobs.html" %}
  </div>
{% endblock focusbox-content %}
