{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block meta %}
  {% include "includes/meta.html" %}
  {% endblock meta %}
  <link ref="stylesheet" type="text/css" href="http://css.nlx.org/framework/css/def.ui.css">
  <link ref="stylesheet" type="text/css" href="/files/static/my.jobs.css">
  <style type="text/css">html{overflow: hidden;}</style>
  {# use meta-append to add template specific scripts and styles #}
  {% block meta-append %}{% endblock meta-append %}
  
</head>
<body class="{{provider}}" id="myjobsShareWindow">
<div class="wrapper">
<div class="row">
<div class="span9">
    <div class="roundedCorners6 {{provider}}" id="focusBox">
    <div id="status_form">
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
        <h1 class="roundedCorners6"><span>{% trans "Share this on " %}</span> {{ provider|capfirst }}: </h1>
        
        <form action="/share/{{provider}}" method="POST">
          {% csrf_token %}
          <textarea id="share_area" name="status_text">I'm using {{url}} to find a great job!</textarea>
          <input type="submit" name="send" value="Share" class="btn primary pull-right"/>          
        </form>
        <div class="clear"></div>
    </div>
    </div>
</div>
</div>
</div>
</body>
</html>
