{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block meta %}
  {% include "includes/meta.html" %}
  {% endblock meta %}
  <style type="text/css">
    html, body {
    overflow: hidden;
    background: url(http://png.nlx.org/def-static/images/bgpattern.jpg);
    }
    #status_form {
    margin: 20px;
    }
  </style>
  {# use meta-append to add template specific scripts and styles #}
  {% block meta-append %}{% endblock meta-append %}
</head>
<body>
  <div id="status_form">
    <h2>{% trans "Share this on " %} {{ provider|capfirst }}: </h2>

    <form action="/share/" method="POST">
      {% csrf_token %}
      <textarea name="status_text" style="width:550px; height:65px;">Managing my job searches on {{url}}</textarea><br>
      <input type="submit" name="send" value="Send"/>
    </form>
  </div>
  
</body>
</html>
