<!doctype html>
<html>
<head>
	<link href="/resources/my.jobs.css" rel="stylesheet" type="text/css">
	<script src="http://js.nlx.org/framework/js/def.ui.core.js"></script>
	<script src="/resources/my.jobs.js"></script>
</head>
<body>
<!--persistant header-->
<div class="topbar" data-dropdown="dropdown">
  <div class="topbar-inner">
    <div class="container">
      <h3><a href="#">my.jobs</a></h3>          
      <div class="nav secondary-nav" id="currentLogin">test@test.com</div>
    </div>
  </div><!-- /topbar-inner -->
</div>
<!--/persistant header-->
<section><div class="subpage">
	<div class="wrapper">
    	<div class="row">
        	<div class="span16">
            	This is a sub page.
            </div>
    	</div>
    </div>
</div></section>


<!--persistant footer-->
<footer><div class="footer">
    <div id="bottomTabs">
        <div class="wrapper">
        	<div id="robot"></div>
            <div class="row">
                <div class="span-one-fifth">
                    <h3 id="save">Save.</h3>
                    <p>Collect jobs you've discovered anywhere in the .jobs universe.</p>
                </div>
                <div class="span-one-fifth">
                    <h3 id="share">Share.</h3>
                    <p>Personalize the jobs you share with your social networks.</p>
                </div>
                <div class="span-one-fifth">
                    <h3 id="socialize">Socialize.</h3>
                    <p>Join to promote yourself and the jobs you are sharing. </p>
                </div>
                <div class="span-two-fifths">
                    <h3 id="future">Future.</h3>
                    <p>Verified jobs, sidebar, browser extension, personalized job matching, search cloud, application & interview assistants, job alerts, mobile...and more. </p>
                </div>
            </div>
        </div>
    </div>
	<div class="wrapper" id="bottomLinks">
    	<div class="row">
        	<div class="span-three-fifths">
            	<p>A service of <a href="http://directemployers.org">DirectEmployers Association</a></p>
            </div>
            <div class="span-two-fifths subpageLinks">
            	<p class="pull-right">
                	<a href="subpage.html">About</a>
                    <a href="#">Privacy</a>
                </p>
            </div>
        </div>
    </div>
</div></footer>
<div class="clear"></div>
</body>
</html>