@import url(http://css.nlx.org/framework/v2/css/def.ui.css);

/*Main Styles*/
body{
    background-color: #574e44;
    font-family: Arial, Helvetica, sans-serif;
    }

#page-wrapper {
    background-image: url(http://png.nlx.org/def-static/images/bgpattern.jpg);
}

#main {
    padding: 50px;
}

a{
    color: #c44e34;
    }
a:hover{
    color: #a42e14;
    }

/* Form Styles */
.form-label{
    text-align: right;
    margin-right: 20px;
    width: 180px;
    }
.form-label label{
    font-weight: bold;
    }

/*Topbar Styles*/
.topbar #topbar-logo{
    height: 30px;
    width: 90px;
    background: transparent url(images/mydotjobs_small.png) center left no-repeat;
    text-indent: -9000px;
}
.topbar input{
    width: 100px;
    margin-right: 10px;  
    }
.topbar input.text{
    height: 16px;
    width: 200px;
    }
.topbar .btn {        
    padding-bottom: 2px;
    }
#titleRow{
    margin-bottom: 20px;
    }
#title h1{
    text-indent: -9000px;
    background: url(images/mydotjobs.png) center right no-repeat;
    display: block;
    height: 81px;
    }    
#subtitle{
    font-size: 1.85em;
    line-height: 1.1em;
    color: #574e44;
    padding-top: 13px;
    font-weight: bold;
    }

/*Login Styles*/
#loginBox{
    background-color: #574e44;
    width: 365px;
    padding-bottom: 30px;
    padding-top: 10px;
    border: 20px solid #574E44;
    border-radius: 10px;
    }
#loginBox h3{
    color: #FFF;
    font-size: 28px;
    padding: 0 0 10px 0px;
    }    
#loginBox p{
    background-color: #efeade;
    padding: 8px;
    border-radius: 4px;
    border-width: 0px;
    line-height: 1em;
    color: #c34d33;
    font-size:1.1em;    
    font-weight: bold;
    min-height: 36px;
    }
#loginBox p{
    padding: 10px;
    margin-bottom: 0px;
    font-weight: bold;
    }
#loginBox .input{
    display: block;
    margin: 0px;
    }
#loginBox input {
    width: 351px;
}
#loginBox .help-block{
    display: block;    
    width: 132px;
    font-size: 1em;
    padding-right: 10px;
    text-align: right;
    }
#loginBox form{
    margin-bottom: 0px;
    }

.btn.primary{
    background-color: #c44e34;
    background-image: -moz-linear-gradient(#e16b51,#c44e34);
    background-image: -webkit-gradient(linear, left top, left bottom, #e16b51, #c44e34); 
    background-image: -webkit-linear-gradient(#e16b51,#c44e34);  
    background-image: -o-linear-gradient(#e16b51,#c44e34); 
    background-image: linear-gradient(#e16b51,#c44e34);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e16b51', endColorstr='#c44e34', GradientType=0)
    margin-top: 2px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight:bold;
    font-size: 1.1em;
    }

.alert-message.block-message.error{
    margin: 5px 0;
    background-color: #e16b51;
    text-shadow: none;
    }
#focusBox .alert-message.block-message.error,
#loginBox .alert-message.block-message.error{
    padding-left: 0px;
    margin-left: -10px;
    margin-right: -10px;
    }
.alert-message.block-message.error label{
    /*text-shadow: 1px 1px 1px #000;*/
    }
    
/* Topbar Dropdown Styles*/
.topbar ul{
    list-style: none;
    text-align: left;
    }
#nav > li{
    padding: 6px 2px 8px 2px;
    }
#nav > li a,#nav > li a:hover{
    color: #fff;
    text-decoration: none;
}
#nav ul#pop-menu{
	background:#333;
    padding: 0;
    margin: 3px 0 0 0;
	position:absolute;
	display: none;
	corner-bottom-left-radius: 4px;
	corner-bottom-right-radius: 4px;
}
#pop-menu li{
    margin: 0px;
    padding: 0px;
}
#pop-menu a{
	display: block;
	padding: 4px;
	background: #666;
	color: #000;
	border-top: 1px solid #333;
}
#nav li:hover ul#pop-menu{ 
	display: block;
	text-align: left;
}
#nav li:hover ul#pop-menu li a:hover{ 
	background:#333;
	color: #fff;
	text-decoration:none;
}

/* Account Creation Slider styles */
.color-bg {
    background:#D2CDC1;
    margin-bottom: 10px;
    margin-left: 10px;
}
.module {
    padding: 10px;
    height: 250px;
}

/* Footer Styles */
.footer {
    padding-top: 10px;
}
.footer a {
    color: #FFF;
    padding: 10px;
}
