@import url(http://css.nlx.org/framework/css/def.ui.css);

html{
    background: transparent;
    }
body{
    height: auto;
    }

.span-one-fifth{
    width: 172px;
}
.span-two-fifths{
    width: 364px;
    }
.span-three-fifths{
    width: 556px;
    }
.span-two-fifths input{
    width: 300px;
    }
.clear{
    clear: both;
    }

.btn{
    padding-top: 6px;
    padding-bottom: 7px;
    }
.btn.pull-right{
    /*margin-right: 10px;*/
}
.btn.pull-left{
    margin-left: 10px;
}
#focusBox{
    margin-bottom: 10px;
}

/*Main Styles*/
body{
    background-color: #574e44;
    font-family: Arial, Helvetica, sans-serif;
    }

#page-wrapper {
    background-image: url(http://png.nlx.org/def-static/images/bgpattern.jpg);
}

#main {
    padding: 50px;
}

a{
    color: #c44e34;
    }
a:hover{
    color: #a42e14;
    }

/* Form Styles */
.form-label{
    text-align: right;
    margin-right: 20px;
    width: 180px;
    }
.form-label label{
    font-weight: bold;
    }

/*Topbar Styles*/
.topbar h3 a{
    padding: 0px 20px;
    }    
.topbar-inner{
    height: 30px;
    padding: 1px 0;
    background-color: #333;
    }
.topbar .inline-inputs{
    float: right;
    padding-top: 3px;
}
.topbar #topbar-logo{
    height: 30px;
    width: 90px;
    background: transparent url(images/mydotjobs_small.png) center left no-repeat;
    text-indent: -9000px;
}
.topbar label{
    color: #fff;
    padding: 5px 10px 0 0px;
    }
.topbar input{
    width: 100px;
    margin-right: 10px;
    }
.topbar label,
.topbar input{
    float: left;
    }
.topbar h3 a {
    background-image: none;
    text-indent: 0;
    width: auto;
    }
.topbar .btn {
    margin-top: 2px;
    padding-top: 2px;    
    padding-bottom: 2px;
    }


#titleRow{
    margin-bottom: 20px;
    }
#title h1{
    text-indent: -9000px;
    background: url(images/mydotjobs.png) center right no-repeat;
    display: block;
    height: 81px;
    }    
#subtitle{
    font-size: 1.85em;
    line-height: 1.1em;
    color: #574e44;
    padding-top: 13px;
    font-weight: bold;
    }

/*Login Styles*/
#loginBox{
    background-color: #574e44;
    width: 365px;
    padding-bottom: 30px;
    padding-top: 10px;
    border: 20px solid #574E44;
    border-radius: 10px;
    }
#loginBox h3{
    color: #FFF;
    font-size: 28px;
    padding: 0 0 10px 0px;
    }    
#loginBox p{
    background-color: #efeade;
    padding: 8px;
    border-radius: 4px;
    border-width: 0px;
    line-height: 1em;
    color: #c34d33;
    font-size:1.1em;    
    font-weight: bold;
    min-height: 36px;
    }
#loginBox p{
    padding: 10px;
    margin-bottom: 0px;
    font-weight: bold;
    }
#loginBox .input{
    display: block;
    margin: 0px;
    }
#loginBox input {
    width: 351px;
}
#loginBox .help-block{
    display: block;    
    width: 132px;
    font-size: 1em;
    padding-right: 10px;
    text-align: right;
    }
#loginBox form{
    margin-bottom: 0px;
    }

.btn.primary{
    background-color: #c44e34;
    background-image: -moz-linear-gradient(#e16b51,#c44e34);
    background-image: -webkit-gradient(linear, left top, left bottom, #e16b51, #c44e34); 
    background-image: -webkit-linear-gradient(#e16b51,#c44e34);  
    background-image: -o-linear-gradient(#e16b51,#c44e34); 
    background-image: linear-gradient(#e16b51,#c44e34);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e16b51', endColorstr='#c44e34', GradientType=0)
    margin-top: 2px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight:bold;
    font-size: 1.1em;
    }

.alert-message.block-message.error{
    margin: 5px 0;
    background-color: #e16b51;
    text-shadow: none;
    }
#focusBox .alert-message.block-message.error,
#loginBox .alert-message.block-message.error{
    padding-left: 0px;
    margin-left: -10px;
    margin-right: -10px;
    }
.alert-message.block-message.error label{
    /*text-shadow: 1px 1px 1px #000;*/
    }
    
/* Topbar Dropdown Styles*/
#nav ul{
	background:#333;
    width: 175px;
    float: right;
    padding: 0;
    margin: 0;
    margin-left: 165px;
	list-style:none;
	position:absolute;
	left:-9999px;
}
#nav ul li{
	float:none;
    width: 175px;
}
#nav ul a{
	white-space:nowrap; 
}
#nav li:hover ul{ 
	left:0; 
}
#nav li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
	background:#333;
	text-decoration:none;
}
#nav li:hover ul li a:hover{ 
	background:#666;
}

/* Account Creation Slider styles */
.color-bg {
    background:#D2CDC1;
    margin-bottom: 10px;
    margin-left: 10px;
}
.module {
    padding: 10px;
    height: 250px;
}

/* Footer Styles */
.footer {
    padding-top: 10px;
}
.footer a {
    color: #FFF;
    padding: 10px;
}
