{% extends 'base.html' %}

{% load i18n %}
{% load user_ops %}
{% load common_tags %}

{% block meta-extra %}
<script src="http://js.nlx.org/framework/v2/js/def.ui.bootstrap.tabs.js" type="text/javascript"></script>
<script src="http://js.nlx.org/framework/v2/js/code/bootstrap-collapse.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}activity.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="wrapper"> 
	<div class="row default-heading-candidate-view" id="profileTitleRow">
        <div class="span10" id="profileTitleBar">
            <h1>{{primary_name}}
            <small>Candidate Information</small>
            </h1>
        </div>
    </div>
    <div class="row default-heading-candidate-view">
    	<span class="span6">
    		<a class="btn primary" href="{% if coming_from.path == 'view' %}{% url 'dashboard' %}?company={{ company_id }}{% else %}{% url 'microsite_activity' %}?company={{ company_id }}&url={{ coming_from.url }}{% endif %}">{% if coming_from.path == 'view' %}{% trans 'Back to Company Dashboard' %}{% else %}{% trans 'Back to Microsite Dashboard' %}{% endif %}</a>
    	</span>
    </div>
    <div class="span4 mobile-heading-candidate-view">
        <span class=pull-left>{% get_gravatar the_user '75' %}</span>
        <div id="mobile-name-heading">
            <span id="name-flag">{{primary_name}}</span>
            <br />
            <a class="href-small-icon" href="mailto:{{the_user.email}}">{{ the_user.email }}</a>
	    <br />		
	    <div class="progress" id="candidate-progress-mobile">
		<div class="bar bar-{% completion_level the_user.profile_completion %}" id="initial-bar" style="width: {{ the_user.profile_completion}}%;"></div>
	    </div>
        </div>
        <div class="clear"></div>
        <a class="btn primary" href="{% url 'dashboard' %}">Back to Company Dashboard</a>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <br />
    <div class="row" id="candidate-content">
        <div class="span4 default-heading-candidate-view">
		<table><tr>
		<td>{% get_gravatar the_user '100' %}</td>
		<td><div id="candidate-completion">
			<b><div >Profile is <span id="highlight" class="initial-highlight">{{ the_user.profile_completion }}% complete</span></div></b>
			<div class="progress" id="candidate-progress">
				<div class="bar bar-{% completion_level the_user.profile_completion %}" id="initial-bar" style="width: {{ the_user.profile_completion}}%;"></div>
			</div>
		</div></td>
		</tr></table>
            <br />
            <p>
                <a class="href-small-icon" href="mailto:{{the_user.email}}"><img src="{{STATIC_URL}}images/rsz_1envelope4.jpg" /><span style="margin-top:5px; margin-left:5px;">{{the_user.email}}</span></a>
            </p>
        </div>

        {% if user_info %}

        <div id="candidate-page-mobile-view">
            <div id="candidate-page-mobile-toggle">
                <span class="toggle-text" id="detail-toggle">&nbsp;Details</span><span class="toggle-text" id="activity-toggle">&nbsp;Activity</span>
            </div>
            <div class="span4 pull-left">
                <div class="formBox candidate-details">
                    <h3 class="form-box-title">Details</h3>

                    {% for model in user_info.values %}
                        {% if model %}

                        <div class="accordion" id="details-{{model.0.get_model_name}}-collapse">
                            <div class="accordion-group">
                                <div class="accordion-heading details-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#details-{{model.0.get_model_name}}-collapse" 
                                        href="#{{model.0.get_model_name}}-details-table">{{model.0.get_verbose}}<span class="pull-right"><i class="icon icon-plus"></i></span></a>
                                </div>
                                <div id="{{model.0.get_model_name}}-details-table" class="accordion-body collapse">
                                    <div class="accordion-inner">

                                        {% for item in model %}

                                        <div class="info-row">
                                            <ul id="details-smallList">

                                                {% if item.content_type.name == 'education' %}

                                                <li><b>{{item.get_education_level_code_display}} in {{item.degree_major}}</b></li>
                                                <li>{{item.organization_name}}</li>
                                                <li>{{item.degree_date}}</li>
                                                
                                                {% elif item.content_type.name == "employment history" or item.content_type.name == "volunteer history" %}
                                                    
                                                <li><b>{{item.position_title}}</b></li>
                                                <li>{{item.organization_name}}</li>
                                                    
                                                    {% if item.current_indicator == True %}
                                                    
                                                    <li>{{item.start_date}} - Current</li>
                                                    
                                                    {%else%}
                                                    
                                                    <li>{{item.start_date}} - {{item.end_date}}</li>
                                                    
                                                    {%endif%}

                                                {% elif item.content_type.name == "telephone" %}
                                                    
                                                <li><b>{{item.use_code}}</b></li>
                                                <li>({{item.area_dialing}}) {{item.number}} {% if item.extension %}Ext: {{item.extension}} {%endif%}</li>
                                                
                                                {% elif item.content_type.name == "secondary email" %}
                                                    
                                                <li><b>{{item.label}}</b></li>
                                                <li>{{item.email}}</li>

                                                {% elif item.content_type.name == "military service" %}

                                                <li>{{item.branch}} {% if item.expertise %}- {{item.expertise}}{% endif %}</li>
                                                <li>{{item.service_start_date}} - {{item.service_end_date}}</li>
                                                <li>{% if item.end_rank %}Rank: {{item.end_rank}} {% endif %}</li>
                                                
						                        {% elif item.content_type.name == "license" %}
                                                <li><b>{{ item.license_name }}</b></li>
                                                <li>{{ item.license_type }}</li>

                                                {% elif item.content_type.name == "website" %}

                                                <li><b>{{ item.display_text }}</b></li>
                                                <li>{% if item.uri_active == True %}{{ item.uri }}{% else %}Not Active{% endif %}</li>
                                                <li>{{ item.description }}</li>
						
						
                                                {% else %}
                                                    
                                                <li><b>{{item.label}}</b></li>
                                                <li>{%if item.address_line_one%}{{item.address_line_one}},{%endif%} {{item.address_line_two}}</li>
                                                <li>{%if item.city_name%}{{item.city_name}},{%endif%}{%if item.country_sub_division_code%}{{item.country_sub_division_code}}{%else%}{{item.country_code}}{%endif%} {{item.postal_code}}</li>
                                                
                                                {% endif %}
                                            </ul>
                                        </div>{# /info-row #}

                                        {% endfor %}

                                    </div>{# /accordion-inner #}
                                </div>{# /-details-table #}
                            </div>{# /accordion-group #}
                        </div>{# /accordion #}

                        {% endif %}
                    {% endfor %}

                </div>{# /formBox #}
            </div>{# /span4 #}

        {% else %}

            <div class= "span4">
                User has not provided any information.
            </div>

        {% endif %}

            <div class="span4">
    	       <div class="formBox candidate-details candidate-activity-box">
    		      <h3 class="form-box-title">Activity</h3>

                    {% if searches %}

                        <div class="accordion" id="details-searches-collapse">
                            <div class="accordion-group">
                                <div class="accordion-heading details-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#details-searches-collapse" 
                                        href="#searches-details-table">Saved Searches<span class="pull-right"><i class="icon icon-plus"></i></span></a>
                                </div>
                                <div id="searches-details-table" class="accordion-body collapse">
                                    <div class="accordion-inner">

                                        {% for search in searches %}

                                            <div class="info-row">
                                                <ul id="details-smallList">
                                                    <li><b>{% if search.label %}{{search.label}}{% else %}Unlabeled{% endif %}</b></li>
                                                    <li>{{search.url}}</li>
                                                    <li>{{search.created_on}}</li>
                                                </ul>
                                            </div>{# /info-row#}

                                        {% endfor %}

                                    </div>{# /accordion-inner #}
                                </div>{# /accordion-body #}
                            </div>{# /accordion-group #}
                        </div>{# /accordion #}

                    {% endif %}

                </div>{# /formBox #}
            </div>{# /span4 #}
        </div>{# /candidate-page-mobile-view #}
    </div>{# /row #}
</div>{# /wrapper #}
{% endblock %}
