{% extends "base.html" %}
{% load common_tags %}
{% block site-title %}
    <title>{% if name_obj %}{{ name_obj }} on{% else %}&nbsp;{% endif %} My.jobs</title>
    <meta name="title" content="{% if name_obj %}{{ name_obj }} on{% else %}&nbsp;{% endif %} My.jobs">
{% endblock %}
{% load i18n %}
{% load user_ops %}
{% block meta-extra %}
<script src="{{ STATIC_URL }}profile.js{% cache_buster %}"></script>
<script src="http://js.nlx.org/framework/v2/js/def.ui.bootstrap.tabs.js" type="text/javascript"></script>
<script src="http://js.nlx.org/framework/v2/js/code/bootstrap-collapse.js" type="text/javascript"></script>
<script>
  $(function() {
    $( ".datepicker" ).datepicker();
  });
</script>
<script>
$(document).ready(function()
{
   $('#row-link-table tr').each(function(i,e)
   {
      $(e).children('td').click(function()
      {
         //here we are working on a td element, that's why we need
         //to refer to its parent (tr) in order to find the <a> element
         var href = $(this).closest("tr").find("a").attr("href");
         if(href)
         {
            window.location = href;
         }              
      });
   });
    
   $("#{{ date_button }}").attr('class', 'btn btn-success'); 
   
   $('.collapse').each(function(){
        if($(this).hasClass('in')) {
            $(this).collapse('show');
        }else{
            $(this).collapse('hide');
        };
    });

   $('[class*=details-heading]').click(function(){
        var icon = $(this).children('a').children('span').children('i');
        var item = $(this).next();
        item.collapse().on('shown',function(){
            icon.removeClass('icon-plus');
            icon.addClass('icon-minus');
        }).on('hidden',function(){
            icon.removeClass('icon-minus');
            icon.addClass('icon-plus');
        });
    });
});
</script>
{% endblock %}

{% block content %}
<style>
#profileTitleRow{
    margin-bottom: 20px;
}
#profileTitleRow img{
    border-radius:5px;
    border: 2px solid #b34529;
}
#profileTitleBar{
    border-bottom: 2px solid #b34529;
}
</style>
<div class="wrapper"> 
    <div class="row" id="profileTitleRow">        
        <div class="span12" id="profileTitleBar">
            <h1>{{microsite_url|cut:"http://"}}</h1>            
        </div>
        <div class="span12" id="profileSubtitleBar">
                
        </div>
        <br>
        <span class="span6"><a class="btn primary" href="/dashboard/">Back to Company Dashboard</a><a href="{{microsite_url}}" class="btn">View Site</a></span>
    </div>
    <div class="row">
        <div class="span6" id="moduleColumn">
            <div class="formBox">
            <h3>Details</h3>
                <div class="accordion" id="details-candidate-activity-collapse">
                    <div class="accordion-group">
                        <div class="accordion-heading details-heading">
                    	   <a class="accordion-toggle" data-toggle="collapse" data-parent="#details-candidate-activity-collapse" href="#candidate-activity-details-table">Saved Searches<span class="pull-right"><i class="icon icon-minus"></i></span></a>
                    	</div>
                    	<div id="candidate-activity-details-table" class="accordion-body in collapse">
                    	
                            {% if candidates %}                                               
                             <table id="row-link-table">                            
                                {% for candidate in candidates %}                    
                                <tr class="">
                                    <td>
                                    <img src="{{candidate.user.get_gravatar_url}}&s=65" class="gravatar pull-left"> 
                                    </td>
                                    <td>
                                    <div class="candidate-name pull-left">{{candidate.user|get_name_obj}}</div><br>
                                    <a href="{{ candidate.user.id }}" class="pull-left">{{candidate.user}}</a><br>
                                    <div class="pull-left">{{candidate.url|url_domain}}<br>
                                    {{candidate.created_on.date}}</div>
                                    </td>
                                <tr>
                                {% endfor %}
                                
                             </table>
                             
                             <div class="pull-left span6">
                             
                             {% if candidates.has_previous %}
                                <a href="?page={{ candidates.previous_page_number }}&microsite_url={{ microsite_url }}&after={{ after|date:'m/d/Y' }}&before={{ before|date:'m/d/Y' }}">Previous</a>
                             {% else %}
                                &nbsp;
                             {% endif %}
                             &nbsp;
                             Page {{ candidates.number }} of {{ candidates.paginator.num_pages }}
                             &nbsp;
                             {% if candidates.has_next %}
                                <a href="?page={{ candidates.next_page_number }}&microsite_url={{ microsite_url }}&after={{ after|date:'m/d/Y' }}&before={{ before|date:'m/d/Y' }}">Next</a>
                             {% endif %}
                             </div>
                             {% else %}
                             <div id="no-activity">
                                <strong>There is no candidate activity between {{after.date}} and {{before.date}} for {{ site_name|cut:"http://" }}</strong>
                             </div>
                             {% endif %}
                 
                         </div>{# /accordion-body #}
                    </div>{# /accordion-group #}
                 </div>{# /accordion #}
             </div>{# /formBox #}            
        </div>{# /moduleColumn #}
        
        <div class="span6 hide-mobile" id="moduleColumn">
            <div class="formBox">
            <h3>Activity</h3>
                <div class="accordion" id="details-candidate-activity-collapse">
                    <div class="accordion-group">
                        <div class="accordion-heading details-heading">
                    	   <a class="accordion-toggle" data-toggle="collapse" data-parent="#details-time-period-collapse" href="#time-period-details-table">Time Period<span class="pull-right"><i class="icon icon-minus"></i></span></a>
                    	</div>
                    	<div id="time-period-details-table" class="accordion-body in collapse">
                            <br>
                            <form action='/dashboard/microsite/' method='POST'>
                            {% csrf_token %}                                        
                            <select id="{{ microsite_url }}" name="date_select" onchange="this.form.submit()" class="btn">                        
                                <option value="">Auto Date Range</option>
                                <option value="today">Today</option>
                                <option value="seven_days">7 Days</option>
                                <option value="thirty_days">30 Days</option>                        
                            </select>
                            <input type="hidden" name="microsite-hide" value="{{ microsite_url }}">
                            <br><br>
                            <div id="custom-input-datepicker" class="span4">
                                <strong>Custom:</strong><input name="after" type="text" placeholder="{{ after|date:'m/d/Y' }}" class="datepicker"> <strong>to</strong> <input name="before" type="text" placeholder="{{ before|date:'m/d/Y' }}" class="datepicker">
                            </div>
                            <input type="submit" class="btn primary" value="Update">                        
                            </form>
                        </div>{# /accordion-body #}
                    </div>{# /accordion-group #}
                 </div>{# /accordion #}
             </div>{# /formBox #}            
        </div>{# /moduleColumn #}
        
    </div>{# /row #}
</div>{# /wrapper #}

{% endblock %}
