            <div class="formBox">
                
                <h3>Microsites</h3>
                
                <table id="microsites">
                                    
                {% for url in company_microsites %}
                   <tr>
                        <td>
                        <strong>{{ url.url|cut:"http://" }}</strong><br>
                        <a href="{{url.url}}">{{url.url}}</a>
                        </td>
                   </tr>
                {% endfor %}
                
                </table>
                
            </div>
