            <div class="formBox">
                
                <table id="microsites">
                    <tr>
                        <th><h3>Microsites</h3></th>
                    </tr>
                
                {% for url in company_microsites %}
                   <tr>
                        <td>
                        <a href="{{url.url}}">{{url.url}}</a>
                        </td>
                   </tr>
                {% endfor %}
                
                </table>
                
            </div>
