{% extends "base.html" %}
{% load common_tags %}
{% block site-title %}
    <title>{% if name_obj %}{{ name_obj }} on{% else %}&nbsp;{% endif %} My.jobs</title>
    <meta name="title" content="{% if name_obj %}{{ name_obj }} on{% else %}&nbsp;{% endif %} My.jobs">
{% endblock %}
{% load i18n %}
{% load user_ops %}
{% block meta-extra %}
<script src="{{ STATIC_URL }}profile.js{% cache_buster %}"></script>
<script src="http://js.nlx.org/framework/v2/js/def.ui.bootstrap.tabs.js" type="text/javascript"></script>
<script src="http://js.nlx.org/framework/v2/js/code/bootstrap-collapse.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<style>
#profileTitleRow{
    margin-bottom: 20px;
}
#profileTitleRow img{
    border-radius:5px;
    border: 2px solid #b34529;
}
#profileTitleBar{
    border-bottom: 2px solid #b34529;
}
#profileSubtitleBar{}
</style>
<div class="wrapper"> 
    <div class="row" id="profileTitleRow">        
        <div class="span12" id="profileTitleBar">
            <h1>{{company_name}}</h1>            
        </div>
        <div class="span12" id="profileSubtitleBar">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="span8" id="moduleColumn">
            
            <div class="formBox">
            <h3>Candidate Activity</h3>
                
                <form action='/mydashboard/' method='POST'>
                    {% csrf_token %}
                    Microsite: <input name="microsite" type="text"></br>
                    After this date: <input name="after" type="date"></br>
                    Before this date: <input name="before" type="date"></br>
                    <input type="submit" value="View">
                </form>
                
                <div class="pull-left">Between {{after}} and {{before}}</div><br>
                   
                 <table id="row-link-table">                            
                    {% for candidate in candidates %}
                    <tr>                            
                        <td>
                        <ul style="list-style-type: none; margin-left: -10px;">
                            <li><strong>{% if candidate.label %}{{candidate.label}}{% else %}Unlabeled{% endif %}</strong></li>
                            <li><a href="{{candidate.url}}">{{candidate.url}}</a></li>
                            <li>{{candidate.created_on}}</li>
                            <li>{{candidate.user}}</li>
                        </ul>
                        </td>
                    </tr>
                    {% endfor %}
                    
                 </table>
                 
                 <table id="pagination">
                 <tr>
                 <td>
                    
                    {% if candidates.has_previous %}
                        <div class="pull-left"><a href="?page={{ candidates.previous_page_number }}">previous</a></div>
                    {% else %}
                        &nbsp;
                    {% endif %}
                  </td>
                  
                  <td>  
                    Page {{ candidates.number }} of {{ candidates.paginator.num_pages }}
                   </td>
                  
                  <td>  

                    {% if candidates.has_next %}
                        <div class="pull-right"><a href="?page={{ candidates.next_page_number }}">next</a></div>
                    {% endif %}
                  </td>
                  </tr>
                  </table>
                  
             </div>
            
            {% include "mydashboard/microsites.html" %}
            
        </div>
        <div class="span4">
            
            {% include "mydashboard/profile.html" %}
            
            <div class="formBox">
                <h3>Add a new section</h3>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}
