{% extends "base.html" %}
{% load common_tags %}
{% block site-title %}
    {% with name_obj=user|get_name_obj %}
        <title>{{ company_name }} Activity Information on My.jobs</title>
        <meta name="title" content="{{ company_name }} Activity Information on My.jobs">
    {% endwith %}
{% endblock %}
{% load i18n %}
{% load user_ops %}
{% block meta-extra %}
<script src="{{ STATIC_URL }}profile.js{% cache_buster %}"></script>
<script src="http://js.nlx.org/framework/v2/js/def.ui.bootstrap.tabs.js" type="text/javascript"></script>
<script src="http://js.nlx.org/framework/v2/js/code/bootstrap-collapse.js" type="text/javascript"></script>
<script>
  $(function() {
    $( ".datepicker" ).datepicker();
  });
</script>
<script>
$(document).ready(function()
{
   $('#row-link-table tr').each(function(i,e)
   {
      $(e).children('td').click(function()
      {
         //here we are working on a td element, that's why we need
         //to refer to its parent (tr) in order to find the <a> element
         var href = $(this).closest("tr").find("a").attr("href");
         if(href)
         {
            window.location = href;
         }              
      });
   });
    
   $("#{{ date_button }}").attr('class', 'btn btn-success');   

   $('.collapse').each(function(){
        if($(this).hasClass('in')) {
            $(this).collapse('show');
        }else{
            $(this).collapse('hide');
        };
    });

   $('[class*=details-heading]').click(function(){
        var icon = $(this).children('a').children('span').children('i');
        var item = $(this).next();
        item.collapse().on('shown',function(){
            icon.removeClass('icon-plus');
            icon.addClass('icon-minus');
        }).on('hidden',function(){
            icon.removeClass('icon-minus');
            icon.addClass('icon-plus');
        });
    });
     
});
</script>
{% endblock %}

{% block content %}
<style>
#profileTitleRow{
    margin-bottom: 20px;
}
#profileTitleRow img{
    border-radius:5px;
    border: 2px solid #b34529;
}
#profileTitleBar{
    border-bottom: 2px solid #b34529;
}
</style>
<div class="wrapper"> 
    <div class="row" id="profileTitleRow">        
        <div class="span12" id="profileTitleBar">
            <h1>{{company_name}}</h1>            
        </div>
        <div class="span12" id="profileSubtitleBar">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="span8" id="moduleColumn">            
        
            <div class="formBox">
            <h3 class="hide-mobile">Candidate Activity</h3><h3 class="candidate-activity-mobile">Job Seeker Activity</h3>
                <form action='/dashboard/mydashboard/' method='POST' class="move-left">
                    {% csrf_token %}
                    <div class="hide-mobile">
                        <div class="span2 form-label"><strong>Date Range:</strong></div><input name="after" type="text" placeholder="{{ after|date:'m/d/Y' }}" class="datepicker"> <strong>to</strong> <input name="before" type="text" placeholder="{{ before|date:'m/d/Y' }}" class="datepicker"></br>
                        <div class="span2 form-label">&nbsp;</div>
                    </div>
                    <div class="activity-mobile">
                        <input class="btn btn-success" type="hidden" name="first-hide" id="first-hide"> 
                        <input class="btn" type="submit" name="today" id="today" value="Today">&nbsp;<input class="btn" type="submit" name="seven_days" id="seven_days" value="7 Days">&nbsp;<input class="btn" type="submit" name="thirty_days" id="thirty_days" value="30 days">                        
                    </div>
                    <div class="hide-mobile">
                    <br>
                    <div class="span3 form-label"><strong>Filter by site:</strong></div> 
                    <select name="microsite" class="microsite-list btn">
                        <option value="{{ company_name }}">All</option>                        
                        {% for url in company_microsites %}
                            {% ifequal site_name url.url %}
                            <option value="{{ url.url|cut:'http://' }}" selected="selected">{{ url.url|url_domain }}</option>
                            {% else %}
                            <option value="{{ url.url|cut:'http://' }}">{{ url.url|url_domain }}</option>
                            {% endifequal %}
                        {% endfor %}
                    </select>
                    <br>
                    </div>
                    <div class="span2 pull-right primary-btn-padding hide-mobile"><input type="submit" class="btn primary" value="View Activity"></div>
                </form>
                <br>
                <hr>            
                <div class="pull-left"><strong>Activity between {{after.date}} and {{before.date}} for {{ site_name|cut:"http://" }}</strong></div><br>
                 
                {% include page_template %}                
               
                {% block js_pagination %}
                    {{ block.super }}                
                    <script>
                    (function ($) {
                    'use strict';
                    
                    $.fn.endlessPaginate = function(options) {
                    var defaults = {
                    // Twitter-style pagination container selector.
                    containerSelector: '.endless_container',
                    // Twitter-style pagination loading selector.
                    loadingSelector: '.endless_loading',
                    // Twitter-style pagination link selector.
                    moreSelector: 'a.endless_more',
                    // Digg-style pagination page template selector.
                    pageSelector: '.endless_page_template',
                    // Digg-style pagination link selector.
                    pagesSelector: 'a.endless_page_link',
                    // Callback called when the user clicks to get another page.
                    onClick: function() {},
                    // Callback called when the new page is correctly displayed.
                    onCompleted: function() {},
                    // Set this to true to use the paginate-on-scroll feature.
                    paginateOnScroll: false,
                    // If paginate-on-scroll is on, this margin will be used.
                    paginateOnScrollMargin : 1,
                    // If paginate-on-scroll is on, it is possible to define chunks.
                    paginateOnScrollChunkSize: 0
                    },
                    settings = $.extend(defaults, options);
                    
                    var getContext = function(link) {
                    return {
                    key: link.attr('rel').split(' ')[0],
                    url: link.attr('href')
                    };
                    };
                    
                    return this.each(function() {
                    var element = $(this),
                    loadedPages = 1;
                    
                    // Twitter-style pagination.
                    element.on('click', settings.moreSelector, function() {
                    var link = $(this),
                    html_link = link.get(0),
                    container = link.closest(settings.containerSelector),
                    loading = container.find(settings.loadingSelector);
                    // Avoid multiple Ajax calls.
                    if (loading.is(':visible')) {
                    return false;
                    }
                    link.hide();
                    loading.show();
                    var context = getContext(link);
                    // Fire onClick callback.
                    if (settings.onClick.apply(html_link, [context]) !== false) {
                    var data = 'querystring_key=' + context.key;
                    // Send the Ajax request.
                    $.get(context.url, data, function(fragment) {
                    container.before(fragment);
                    container.remove();
                    // Increase the number of loaded pages.
                    loadedPages += 1;
                    // Fire onCompleted callback.
                    settings.onCompleted.apply(
                    html_link, [context, fragment.trim()]);
                    });
                    }
                    return false;
                    });
                    
                    // On scroll pagination.
                    if (settings.paginateOnScroll) {
                    var win = $(window),
                    doc = $(document);
                    win.scroll(function(){
                    if (doc.height() - win.height() -
                    win.scrollTop() <= settings.paginateOnScrollMargin) {
                    // Do not paginate on scroll if chunks are used and
                    // the current chunk is complete.
                    var chunckSize = settings.paginateOnScrollChunkSize;
                    if (!chunckSize || loadedPages % chunckSize) {
                    element.find(settings.moreSelector).click();
                    }
                    }
                    });
                    }
                    
                    // Digg-style pagination.
                    element.on('click', settings.pagesSelector, function() {
                    var link = $(this),
                    html_link = link.get(0),
                    context = getContext(link);
                    // Fire onClick callback.
                    if (settings.onClick.apply(html_link, [context]) !== false) {
                    var page_template = link.closest(settings.pageSelector),
                    data = 'querystring_key=' + context.key;
                    // Send the Ajax request.
                    page_template.load(context.url, data, function(fragment) {
                    // Fire onCompleted callback.
                    settings.onCompleted.apply(
                    html_link, [context, fragment.trim()]);
                    });
                    }
                    return false;
                    });
                    });
                    };
                    
                    $.endlessPaginate = function(options) {
                    return $('body').endlessPaginate(options);
                    };
                    
                    })(jQuery);
                    </script>                
                    <script>$.endlessPaginate();</script>
                {% endblock %}              
                
             </div>{# /formBox #}
            
        </div>
        
        <div class="span4">
            
            {% include "mydashboard/profile.html" %}            
            
        </div>
    </div>{# /row #}
</div>{# /wrapper #}

{% endblock %}
