{% load user_ops %}

        <div class="formBox">
                <h3>Company Information</h3>
                
                <div class="accordion" id="details-company-information-collapse">
                    <div class="accordion-group">
                        <div class="accordion-heading details-heading">
                    	   <a class="accordion-toggle" data-toggle="collapse" data-parent="#details-collapse" href="#details-table">User List</a>
                    	</div>
                		<div id="details-table" class="accordion-body">
                    	   <div class="accordion-inner">
                           <table id="row-link-table">                            
                           {% for admin in company_admins %}
                           <tr>
                            <td>
                                <img src="{{admin.user.get_gravatar_url}}&s=35" class="gravatar pull-left">                        
                                <a href="{{ admin.user|get_userid }}">{{admin.user|get_name}}</a>
                            </td>
                           </tr>
                           {% endfor %}
                           </table>                       							
                           </div>
                        </div>
            		</div>
       			 </div>
                
            </div>
            
                            
