{% extends "base.html" %}
{% load i18n %}
{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
{% block page-header-text %}<h1>{% trans "Create your my.jobs account" %}</h1><small>{% trans "and get started finding your new career today..." %}{% endblock page-header-text %}
{% block main-text %}
<h3>{% trans "Login with your favorite site" %}</h3>
{% include "includes/widget-connectify.html" %}
<h3>{% trans "Create a Username and Password" %}</h3>

<form action="" method="post">
{% include "includes/form-error-highlight.html" %}
{% csrf_token %}
        <div class="actions">
	  <button type="submit" class="btn primary" value="submit">{% trans "Create Account" %}</button>
	  &nbsp;<button type="reset"class="btn">{% trans "Cancel" %}</button>
	  <span class="help-block">
            Already have an account? <a href="{% url auth_login %}">{% trans "Login Here" %}</a>.<br><br>
	    <span class="help-block">{% trans "How we protect" %} <a href="/privacy">{% trans "your privacy" %}</a>
	  </span>
	</div>
{% endblock main-text %}
